<div class='row'>
  <div class='col-lg-8 col-12'>
    <%= form_for(@taska, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

        <!-- taska name -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>CENTER NAME</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :name, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %>
            </div>
          </div>
        </div>

        

        <!-- TASKA ADDRESS -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>CENTER ADDRESS</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
             <%= f.text_field :address_1, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %> <font size="2"> Address Line 1 </font>
            </div>
            <div class="col-sm-8 col-12">
             <%= f.text_field :address_2, class: "form-control", autofocus: true, style: "text-transform:uppercase" %> <font size="2"> Address Line 2 </font>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-6">
             <%= f.text_field :city, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %> <font size="2"> City </font>
            </div>
            <div class="col-sm-3 col-5">
             <%= f.text_field :states, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %> <font size="2"> States </font>
            </div>
            <div class="col-sm-2 col-4">
             <%= f.number_field :postcode, class: "form-control", autofocus: true, required: true %> <font size="2"> Postcode </font>
            </div>
          </div>
        </div>

        <!-- taska name -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>BOOKING FEE (RM)</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.number_field :booking, class: "form-control", autofocus: true, required: true %>
              Please key-in 0 if you do not require any deposit
            </div>

          </div>
        </div>

        <!-- supervisor name -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>OWNER/SUPERVISOR NAME</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :supervisor, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %>
            </div>
          </div>
        </div>

        <!-- PHONE-->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>PHONE NUMBER</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-3">
             <%= f.text_field  :phone_1, maxlength: 3, class: "form-control", autofocus: true, required: true %><font size="2"> Area </font> 
            </div>
            -
            <div class="col-sm-3 col-5">
              <%= f.text_field  :phone_2, maxlength: 8, class: "form-control", autofocus: true, required: true %><font size="2"> Phone Number </font> 
            </div>
          </div>
        </div>

        <h4> Bank Details </h4>

        <!-- BANK NAME-->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>BANK NAME</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-8">
              <%= f.select :bank_name, 
                            options_for_select(["AFFIN BANK BERHAD",
                              "AGROBANK / BANK PERTANIAN MALAYSIA BERHAD",
                              "ALLIANCE BANK MALAYSIA BERHAD",
                              "AL RAJHI BANKING INVESTMENT CORPORATION (MALAYSIA) BERHAD",
                              "AMBANK (M) BERHAD",
                              "BANK ISLAM MALAYSIA BERHAD",
                              "BANK KERJASAMA RAKYAT MALAYSIA BERHAD",
                              "BANK MUAMALAT (MALAYSIA) BERHAD",
                              "BANK SIMPANAN NASIONAL BERHAD",
                              "CIMB BANK BERHAD",
                              "CITIBANK BERHAD",
                              "HONG LEONG BANK BERHAD",
                              "HSBC BANK MALAYSIA BERHAD",
                              "MAYBANK / MALAYAN BANKING BERHAD",
                              "OCBC BANK (MALAYSIA) BERHAD",
                              "PUBLIC BANK BERHAD",
                              "RHB BANK BERHAD",
                              "STANDARD CHARTERED BANK (MALAYSIA) BERHAD",
                              "UNITED OVERSEAS BANK (MALAYSIA) BERHAD"],
                                              selected: @taska.bank_name,), 
                              {include_blank: "Please Select"}, {required: true} %> 
                      
            </div>
          </div>
        </div>

        <!-- ACC NAME -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>BANK ACCOUNT NAME</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :acc_name, class: "form-control", placeholder: "e.g Taska ABC Sdn Bhd", autofocus: true, required: true, style: "text-transform:uppercase" %>
              Should be the same name as registered with the bank
            </div>
          </div>
        </div>

        <!-- ACC NO -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>BANK ACCOUNT NO</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :acc_no, class: "form-control", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        <!-- EMAIL -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>EMAIL</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.email_field :email, class: "form-control", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        <!-- SSM NO -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>SSM/ROC/ROS/ROB NO</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :ssm_no, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %>
            </div>
          </div>
        </div>

        <%= f.hidden_field :plan, value: params[:plan] %>

        <!-- START PHOTO UPLOAD -->
        <!-- IC FRONT -->
      <% m = 0 %> <!-- Stop loop at 1 -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>CENTER LOGO</strong>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-8 col-5">
        <% image = @taska.fotos.where(foto_name: "CENTER LOGO").first %>
        <% if image.present? %>
          <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
            <div class="row">
            <div class="col-sm-8 col-5">
              <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
            </div>
            </div>  
        <% else %>
          <%= f.fields_for :fotos do |h| %>
            <% break if m==1 %>
              <div class="row">
                <div class="col-sm-8 col-8">
                  <%= h.hidden_field :foto_name, value: "CENTER LOGO" %>
                  <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                </div>
              </div>
              <% m = 1 %>
            <% end %>
        <% end %>
        </div>
        </div>
      </div>

       <!-- CENTER PRIMARY PHOTO -->
      <% m = 0 %> <!-- Stop loop at 1 -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>CENTER PRIMARY PHOTO</strong>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-8 col-5">
        <% image = @taska.fotos.where(foto_name: "CENTER PRIMARY PHOTO").first %>
        <% if image.present? %>
          <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
            <div class="row">
            <div class="col-sm-8 col-5">
              <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
            </div>
            </div>  
        <% else %>
          <%= f.fields_for :fotos do |h| %>
            <% break if m==1 %>
              <div class="row">
                <div class="col-sm-8 col-8">
                  <%= h.hidden_field :foto_name, value: "CENTER PRIMARY PHOTO" %>
                  <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                </div>
              </div>
              <% m = 1 %>
            <% end %>
        <% end %>
        </div>
        </div>
      </div>

      <!-- CENTER ALTERNATIVE PHOTO -->
      <% m = 0 %> <!-- Stop loop at 1 -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>CENTER ALTERNATIVE PHOTO</strong>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-8 col-5">
        <% image = @taska.fotos.where(foto_name: "CENTER ALTERNATIVE PHOTO").first %>
        <% if image.present? %>
          <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
            <div class="row">
            <div class="col-sm-8 col-5">
              <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
            </div>
            </div>  
        <% else %>
          <%= f.fields_for :fotos do |h| %>
            <% break if m==1 %>
              <div class="row">
                <div class="col-sm-8 col-8">
                  <%= h.hidden_field :foto_name, value: "CENTER ALTERNATIVE PHOTO" %>
                  <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                </div>
              </div>
              <% m = 1 %>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>

              
        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10 col-4">
              <%= f.submit :"CREATE TASKA",  class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>