<% calepf = (epf.to_f/100*(amt.to_f + alwnc.to_f)) %>
<% calepfa = (epfa.to_f/100*(amt.to_f + alwnc.to_f)) %>
<% gross = amt.to_f + alwnc.to_f + params[:addtn].to_f %>
<% nett = gross - calepf  %>
<% total = gross + calepfa %>
<br>
<% amt %>
<% alwnc %>
<% params[:addtn] %>
<% calepf %>
<% calepfa %>
<% params[:desc] %>
<% date = $my_time.to_date %>

<!-- START PAYSLIP --> 
<div class="container">
  <div class="row">
    <div class="bg-light col-sm-12 col-offset-3">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <address><br>
            <strong><%= @taska.name.upcase %></strong>
            <br>
            <%= "#{@taska.address_1} #{@taska.address_2}" %>
            <br>
            <%= "#{@taska.city}, #{@taska.postcode}, #{@taska.states}" %>
            <br>
            <abbr title="Phone"></abbr> <%= "#{@taska.phone_1}-#{@taska.phone_2} #{@taska.email}" %>
          </address>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right"><br>
          <p>
            <em>DATE: <%= date.strftime("%d-%^b-%Y") %></em><br>
            <em>PAYSLIP NO: 34522677W</em>
          </p>
          <p>
            <strong><%= (tchd=@teacher.tchdetail).name %></strong><br>
            <%= "#{tchd.ic_1}-#{tchd.ic_2}-#{tchd.ic_3}" %>
          </p>
        </div>
      </div>
      <div class="row">
        <div>
          <h3 align="center">&nbsp&nbspSALARY SLIP FOR <%= "#{$month_name[params[:month].to_i]}-#{params[:year]}" %></h3>
        </div>
        </span>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Items</th>
              <th style="width:20000px"> </th>
              <th class="text-center" colspan="2">Amount (RM)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-3"><em>Basic Salary</em></h4></td>
              <td> </td>
              <td class="text-center" colspan="2"><%= amt %></td>
            </tr>
            <tr>
              <td class="col-md-3"><em>Allowance</em></h4></td>
              <td> </td>
              <td class="text-center" colspan="2"><%= alwnc %></td>
            </tr>
            <tr>
              <td class="col-md-3"><em>Others</em></h4></td>
              <td class="col-md-12"> </td>
              <td class="text-center" colspan="2">26</td>
            </tr>
            <tr>
              <td>   </td>
              <td class="text-right">
                <p>
                  <strong>Gross Income: </strong>
                </p>
                <p>
                  <strong>Your EPF Contribution (12%): </strong>
                </p>
                <p>
                  <strong>Employer EPF Contribution (12%): </strong>
                </p>
              </td>
              <td class="text-center" colspan="2">
                <p>
                  <strong>6.94</strong>
                </p>
                <p>
                  <strong>6.94</strong>
                </p>
                <p>
                  <strong>6.94</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td>   </td>
              <td class="text-right"><h4><strong>Nett Income: </strong></h4></td>
              <td class="text-center text-success"><h4><strong>$31.53</strong></h4></td>
            </tr>
            <% if 1==1 %>
              <tr>
                <td>   </td>
                <td class="text-right"><h4><strong>Total Payment: </strong></h4></td>
                <td class="text-center text-info"><h4><strong>$31.53</strong></h4></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
