<%= render partial: "shared/flash_messages", flash: flash %>
  <% if @kid_search.present? %> <!-- From /views/teachers/_result -->
    <% @kid_search.each do |kid| %>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="frontside">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <% image = kid.fotos.where(foto_name: "CHILDREN PICTURE").first %>
                <% if image.present? && image.picture.present? %>
                  <%= image_tag(image.picture.url, size: "50x50") %>
                <% end %>
              </p>
              <h6 class="card-title"><%= kid.name.upcase %></h6>
              <p class="card-text">
                <%= "#{kid.ic_1}-#{kid.ic_2}-#{kid.ic_3}" %>
              </p>
              <% if @kid.siblings.where(beradik_id: kid.id).present? || @kid.siblings.where(kid_id: kid.id).present? %>
                <%= link_to "#",class:"btn btn-sm btn-success active" do %>
                  <i class="fa fa-check-circle"></i> ADDED
                <% end %>
              <% else %>
                <%= link_to new_bill_path(id: params[:id],
                                          child: params[:child],
                                          classroom: params[:classroom],
                                          month: params[:month],
                                          year: params[:year],
                                          share_bill: kid.id,
                                          discount: params[:discount],
                                          addtn: params[:addtn]),class:"btn btn-sm btn-info active" do %>
                  <i class="fa fa-user-plus"></i> ADD
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %> 

  




