<% if @kid_bills.present? %>

  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-eye"></i>
      ALL BILLS FOR <strong><%= @kid.name.upcase %></strong>&nbsp&nbsp

      <%= link_to classroom_path(@kid.classroom), class: "btn btn-sm btn-warning" do %>
        <i class="fa fa-arrow-circle-left"></i>&nbsp&nbsp <%= @kid.classroom.classroom_name.upcase %>
      <% end %>
    </div>
    <div class="bg-light"><br>
      <!-- Team -->
      <div class="container">
        <div class="row">
          <% @kid_bills.each do |bill|%>
            <% image = bill.taska.fotos.where(foto_name: "CENTER LOGO").first %>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="frontside">
                <div class="card">
                  <% if bill.paid %>
                    <%= link_to bill_pdf_path(payment: bill.id, kid: @kid.id, taska: @kid.taska.id, format: :pdf), class: "btn btn-sm btn-success active", target:"_blank" do %>
                      <i class="fa fa-download"></i> RECEIPT
                    <% end %>
                  <% else %>
                    <%= link_to bill_view_path(payment: bill.id, kid: @kid.id, taska: @kid.taska.id), class: "btn btn-sm btn-danger active" do %>
                      <i class="fa fa-exclamation"></i> UNPAID
                    <% end %>
                  <% end %>
                  <div class="card-body text-center">
                    <p>
                      <% if image.present? && image.picture.present? %>
                        <%= image_tag(image.picture.url, size: "50x50") %>
                      <% end %>
                    </p>
                    <h4 class="card-title"><%= bill.taska.name.upcase %></h4>
                    <p class="card-text">
                     <%= "#{$month_name[bill.bill_month].upcase}" %>-
                     <%= bill.bill_year %>
                    </p>

                  </div>
                  <%= link_to "RM #{bill.amount}", "#", class: "btn btn-lg btn-primary active" %>
                  <% if !bill.paid %>
                    <%= link_to payment_path(id: bill.id, taska_id: bill.taska.id, kid_id: bill.kid.id), method: :delete, :data => {:confirm => 'Are you sure?'}, class: "btn btn-sm active", style: "color:red" do %>
                      <i class="fa fa-trash"></i> DELETE
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>






<% else %>
  <br>No bills to display for <strong><%= @kid.name.upcase %></strong>
<% end %>