<br>
<div class="row">
  <a class="btn icon-btn btn-success pull-right active" href="/classrooms/new?taska_id=<%= @taska.id %>">
    <span class="fa fa-plus"></span> New Classroom
  </a>
</h1>
</div><br>
<% if @taska_classrooms.present? %>
  <div class="container">
    <div class="row"><br><br>
    <% @taska_classrooms.order('classroom_name ASC').each do |classroom| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="frontside">
          <div class="card">
            <div class='col-lg-12'>
              <a href="/classrooms/<%= classroom.id %>/edit">
                <span class="text-success">
                   <i class="fa fa-edit"></i> EDIT
                </span>
              </a>
              <a data-confirm="Are you sure" data-method="delete" href="/classrooms/<%= classroom.id %>">
                <span class="pull-right text-danger">
                  DELETE <i class="fa fa-trash"></i>
                </span>
              </a>
            </div>
            <div class='col-lg-12 well'><br>
              <div class="row">
                <div class="pull-right">
                  <% image = classroom.taska.fotos.where(foto_name: "CENTER LOGO").first %>
                  <% if image.present? && image.picture.present? %>
                    <%= image_tag(image.picture.url, size: "50x50") %>
                  <% end %>
                </div>&nbsp&nbsp&nbsp&nbsp
                <h4 align="center"><%= classroom.classroom_name.upcase %></h4>
                <br>

              </div><br>
            </div>
            <div class='col-lg-12'>
              <p><%= classroom.description %></p>
              <p><strong><%= classroom.kids.count %></strong> children</p>
              <p class="text-muted">FEE: RM <%= classroom.base_fee %></p>
            </div>
            <%= link_to "VIEW", classroom_path(classroom), class: "btn btn-sm btn-primary active" %>
          </div>
        </div>
      </div>
    <% end %>
    
    
    </div>
  </div>


<% else %>

No classrooms created. Please create one. 

<% end %>

