<p id="notice"><%= notice %></p>

<h1>Taskas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taskas.each do |taska| %>
      <tr>
        <td><%= link_to 'Show', taska %></td>
        <td><%= link_to 'Edit', edit_taska_path(taska) %></td>
        <td><%= link_to 'Destroy', taska, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taska', new_taska_path %>
