<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <%= render 'kids/kid-bill' %>
  </div>
  <div class="col-md-3" style="background-color:#cce5cc"><br><br><br>
    <%= form_for(:bill, :url => {:controller=>'taskas', :action=>'svupdbill'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>

      <div class="form-group"> <!-- STATUS-->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PAYMENT STATUS</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :paid, ["PAID", "UNPAID"] ,{include_blank: "SELECT"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- PAYMENT DATE-->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PAYMENT DATE</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-12">
            <%= f.date_field :updated_at, class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- PAYMENT METHOD-->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PAYMENT METHOD</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.select :mtd, ["CDM", "CASH", "ONLINE BANKING", "BILLPLZ", "OTHERS"] ,{include_blank: "SELECT"}, {required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group"> <!-- PAYMENT SLIP -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong><h10>PAYMENT SLIP</h10></strong>
          </div>
        </div>
        <%= f.fields_for :fotos do |h| %>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= h.hidden_field :foto_name, value: "PAYMENT SLIP" %>
              <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf' %>
            </div>
          </div>
        <% end %>
      </div>


      <!-- FORM ENTRY CREATION -->
      <%= f.hidden_field :payment_id, value: params[:bill] %>
      <%= f.hidden_field :taska_id, value: params[:id] %>
      <%= f.submit :"UPDATE BILL", class: 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>
