
<div style="background-color:#ccffff;text-align:center;padding-bottom:5px"><b>CREATE NEW BILL</b></div>

<div class="card shadow mb-4">
    <div class="card-header">
      <%= form_tag nw_bill_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Unit No", style: '' %>
        <%= select_tag :blk, options_for_select(@rd_names, params[:blk]),
              include_blank: "All Blocks/Roads" %>
        <%= hidden_field_tag :id, params[:id], value: params[:id] %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Search
        <% end %>
      <% end %>
     
    </div>
    <div class="card-body">
      <div class="table-responsive border">
        <%= form_for(:pmt, :url => {:controller=>'taskas', :action=>'crt_bill'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
          <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <% 
                yr_s = Date.today.year - 1
                yr_e = Date.today.year + 1
              %>
              <tr class="shadow">
                <th style="background-color:#ccccff;font-size:12px">ADDRESS</th>
                <th style="background-color:#ccccff;font-size:12px;width:50%">
                  <%= f.hidden_field :id, value: params[:id] %>
                  <%= f.select :mth, options_for_select(1..12), 
                      {include_blank: "Month"}, {required: true} %>
                  <%= f.select :yr, options_for_select(yr_s..yr_e), 
                      {include_blank: "Year"}, {required: true}  %> 
                  <% if @admin == Admin.first %>
                  <%= f.check_box :all , checked: false %> Select All &nbsp &nbsp 
                  <% end %>       
                  <%= f.submit :"CREATE", style: "align:centers;font-size:10px", class: "btn btn-sm btn-info" %>
                </th>  
                <th style="background-color:#ccccff;font-size:12px">OWNER DETAILS</th>
                <th style="background-color:#ccccff;font-size:12px">TENANT DETAILS</th>
                    
              </tr>
            </thead>
            <tbody>
              <% @clsrs.order('classroom_name ASC').each do |cls| %>
                <tr>
                  <td style="width:10%">    
                    <div style="white-space: nowrap;font-size:12px;">
                      <%= "#{cls.description}-#{cls.classroom_name}" %>
                    </div>
                  </td>
                  <td style="width:20%;text-align: center">    
                    <div style="font-size:12px;">
                      <%= f.fields_for :cls do |h| %>
                        <%= h.check_box :"#{cls.id}", checked: false  %>
                      <% end %>
                    </div>
                  </td>
                  <td style="width:30%">    
                    <div style="white-space: nowrap;font-size:12px;">
                      <b>NAME:</b> <%= cls.own_name %>
                    </div>
                    <div style="white-space: nowrap;font-size:12px;">
                      <b>EMAIL:</b> <%= cls.own_email %>
                    </div>
                    <div style="white-space: nowrap;font-size:12px;">
                      <b>PHONE:</b> <%= cls.own_ph %>
                    </div>
                  </td>
                  <td style="width:30%">    
                    <div style="white-space: nowrap;font-size:12px;">
                      <b>NAME:</b> <%= cls.tn_name %>
                    </div>
                    <div style="white-space: nowrap;font-size:12px;">
                      <b>EMAIL:</b> <%= cls.tn_email %>
                    </div>
                    <div style="white-space: nowrap;font-size:12px;">
                      <b>PHONE:</b> <%= cls.tn_ph %>
                    </div>
                  </td>
                  
                  
                </tr>
              <% end %> <!-- END LOOP -->
            </tbody>

          </table>
        <% end %> <!-- FORM -->
      </div>
    </div>
  </div>
</meta>