<p id="notice"><%= notice %></p>
<% my_time = Time.now %>
<% year = my_time.in_time_zone('Singapore').year %>
<% month = my_time.in_time_zone('Singapore').month %>
<!-- if ($my_time.to_date - @taska.expire.to_date) < 0 -->
<% if 1==1 %>
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="card-counter primary">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers"><%= @unregistered_no %></span>
          <span class="count-name">
            <a href="/taska/unreg_kids/<%= @taska.id %>/", style="color:#fff">New Registrations</a>
            <br><font style="color:#fff">TOTAL: <%= @taska.kids.where.not(classroom_id: nil).count %></font>
            <% if (plan=@taska.plan) == "PAY PER USE" %>
              <% numchild = "NA" %>
            <% else %>
              <% numchild = $package_child[plan] %>
            <% end %>
            <br><font style="color:#fff">LIMIT: &nbsp<%= numchild %></font>
          </span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter danger">
          <i class="fa fa-exclamation-circle"></i>
          <span class="count-numbers"><%= @kid_unpaid.count %></span>
          <span class="count-name">
            <a href="<%= unpaid_index_url %>", style="color:#fff">Unpaid Bills</a>
          </span>
        </div>
      </div>

      <% if !@spv %>
        <div class="col-md-3">
          <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span class="count-numbers">
              <% planper = my_time + 1.months %>
              <% plan = @taska.payments.where(bill_month: planper.in_time_zone('Singapore').month).where(name: "TASKA PLAN").where(bill_year: planper.in_time_zone('Singapore').year).where(paid: true).sum(:amount) %>
              <%= number_with_delimiter(@taska_expense.where(kind: "INCOME").sum(:cost) - @taska_expense.where(kind: "EXPENSE").sum(:cost) + @taska.payments.where(bill_month: month).where.not(name: "TASKA PLAN").where(bill_year: year).where(paid: true).sum(:amount)-plan-@payslips.sum(:amtepfa), :delimiter => ',') %>
            </span>
            <span class="count-name">
              <a href="/taska/<%= @taska.id %>/my_expenses?utf8=✓&expense%5Bmonth%5D=<%= month%>&expense%5Byear%5D=<%= year%>&commit=SELECT", style="color:#fff">Profit (RM)<br><%= $month_name[month] %>-<%= year %>
              </a>
            </span>
          </div>
        </div>
      <% end %>

      <% if !@spv %>
      <div class="col-md-3">
        <div class="card-counter info">
          <i class="fa fa-users"></i>
          <span class="count-numbers"><%= @applvs.count %></span>
          <span class="count-name">
            <a href="/taska/<%= @taska.id %>/teachers?tb1_a=active&tb1_ar=true&tb1_d=show active", style="color:#fff">
              Pending<br> Leaves
            </a>
          </span>
        </div>
      </div>
      <% end %>
      

    </div>
  </div>

  <% if @taska.subdomain.present? %>
    <% if @taska.collection_id.present? %>
      <strong>Taska Website Link</strong> = <%= link_to "http://#{@taska.subdomain}.kidcare.my", taska_page_path, style: "color:blue" %><br><br>
    <% else %>
      Website name is in progress. Please whatsapp our technical team at 011-62801556 for further enquiries
    <% end %>
  <% else %>
    <%= form_for(@taska, :url => {:controller=>'taskas', :action=>'add_subdomain'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
      <div class="col-md-8">
        <strong>PLEASE ADD WEBSITE NAME</strong><br><br>
        <div class="row">
          <div class="col-md-4">
            <%= f.text_field :subdomain, class: "form-control", autofocus: true, required: true, placeholder: "Enter Here" %>
          </div>
          <div class="col-md-2 form-control">
            <strong>.kidcare.my</strong>
          </div>
          <div class="col-md-2">
            <%= f.submit :"SET",  class: 'form-control btn btn-sm btn-warning btn-lg'%>
          </div>
        </div>
      </div>
    <% end %><br><br>
  <% end %>
  <!-- ADD SUPERVISOR -->
  <% if !@spv %><div class="row">
    <div class="col-sm-6 bg-white">
      <div style="background-color:BLUE"><h4 align="center"><font color="white">
        SEARCH FOR A NEW SUPERVISOR
      </font></h4></div>
      <%= form_tag tsk_find_spv_path, remote: true, method: :get, id: "find_kid" do %>
      <div class="form-group text-center col-md-12">
        <div class="row">
          <div class="col-sm-9 col-12">
            <%= email_field_tag :email, params[:email], 
                    placeholder: "PLEASE SEARCH USING EMAIL",
                    autofocus: true, 
                    class: "form-control search-box input-lg" %>
            <%= hidden_field_tag :id, params[:id], value: @taska.id %>
          </div><br><br>              
          <div class="col-md-3">
            <%= button_tag(type: :submit, class: "btn btn-m btn-success active", id: "submit_expense") do %>
                <i class="fa fa-search"></i> SEARCH
            <% end %>
          </div>
      </div><br>
        <div id="result_kid">
          <%= render 'taskas/resultspv' %> 
        </div>
      </div>
    <%end%>
    </div>
    <div class="col-sm-3 bg-white">
      <div style="background-color:BLUE"><h4 align="center"><font color="white">
       LIST OF ADMIN(S)
      </font></h4></div>
      <% @admintsk.where(spv: nil).each do |adm| %>
        <div class="notice notice-info">
          <strong><%= adm.username %></strong><br><%= adm.email %><br>
          <a data-confirm="Are you sure" data-method="delete" href="#">
            <span class="pull-right text-danger">
             <i class="fa fa-trash"></i>
            </span>
          </a><br>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3 bg-white">
      <div style="background-color:BLUE"><h4 align="center"><font color="white">
       LIST OF SUPERVISOR(S)
      </font></h4></div>
      <% @admintsk.where(spv: true).each do |adm| %>
        <div class="notice notice-primary">
          <strong><%= adm.username %></strong><br><%= adm.email %><br>
          <a data-confirm="Are you sure" data-method="delete" href="#">
            <span class="pull-right text-danger">
             <i class="fa fa-trash"></i>
            </span>
          </a><br>
        </div>
      <% end %>
    </div>
  </div><% end %>
<% else %>
  YOUR ACCOUNT HAS EXPIRED. PLEASE ACTIVATE
<% end %>










