<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Registered Units</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @taska.classrooms.count %></div>
          </div>
          <div class="col-auto">
            <i class="fa fa-home fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-3">
    <br>
    <a href="<%= "#{add_unit_url}?community_id=#{@taska.id}" %>" class="d-sm-inline-block btn btn-xl btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New Unit</a>
    <% if @admin == Admin.first %><br><br>

      <%= form_tag upld_res_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= hidden_field_tag :id, @taska.id %>
        <%= submit_tag "Upload" %>
      <% end %>
      <br>
      <%= link_to "Create 3 bills", crt_prev_path(tsk: @taska.id), class:"btn btn-sm btn-danger" %> 
      <%= link_to "Create Curr", crt_prev_path(tsk: @taska.id, curr: 1), class:"btn btn-sm btn-warning" %>
      <% if params[:sms] == "smsemailall6954" %>
        <%= link_to "SMS All", sms_all_path(id: @taska.id, sms: 1), class:"btn btn-sm btn-success" %>
        <%= link_to "Email All", sms_all_path(id: @taska.id, email: 1), class:"btn btn-sm btn-success" %>
      <% end %>
    <% end %>
  </div>

  

</div>
<br>
<!-- START TABLE -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag taskashow_path, method: :get, id: "find_kid" do %>
        <%= select_tag :blk, options_for_select(@rd_names, params[:blk]),
              include_blank: "All Blocks/Roads" %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Search Here", style: 'text-transform: uppercase' %>
        <%= select_tag :sch_fld, options_for_select(["Unit No", "Name","Phone No","Email", "Plate No"], params[:sch_fld]),
              include_blank: "Select Field" %>
        <%= hidden_field_tag :id, params[:id], value: params[:id] %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "btn btn-sm btn-success", id: "submit_expense") do %>
            <i class="fa fa-search"></i> SEARCH
        <% end %>
        <%= link_to taskashow_path(@taska), class:"btn btn-sm btn-danger" do %>
            <i class="fa fa-sync"></i> CLEAR
        <% end %>
        <%= "#{@units.count} result(s) found" unless params[:sch].blank? %>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <% if @units.count < 1 %>
    <br>
    <% if params[:sch].present? %>
      <div style="background-color:#ffcccc"><h3 align="center">NO RESULT FOUND</h3></div>
    <% else %>
      <%= link_to "Show All Units", taskashow_path(@taska, all: 1), class: "btn btn-sm btn-block btn-success" %><br>
    <% end %>
  <% else %>
  <div class="card-body">
    
    <div class="table table-responsive border" style="font-size:13px">
      <%= form_for(:cls, :url => {:controller=>'classrooms', :action=>'add_topay'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">RESIDENT</th>
              <th style="background-color:#ffb2b2">OWNER DETAILS</th>
              <th style="background-color:#ffb2b2">TENANT DETAILS</th>
              <th style="background-color:#ffb2b2">VEHICLES</th>
              <th style="background-color:#ffb2b2">BILL TO</th>
            </tr>
          </thead>
          <tbody>
            <% 
              @units.each do |un|
              ajk = @all_ajk.where(classroom_id: un.id)

            %>
              <%= f.fields_for :"#{un.id}" do |h| %>
                <tr>
                  <td> <!-- RESIDENT -->
                    <b>BLOCK/ROAD</b><br>
                    <%= h.text_field :classroom_name, value: un.classroom_name, style: 'text-transform: uppercase; width: 100%', class: "" %><br>
                    <b>UNIT NO</b><br>
                    <%= h.text_field :description, value: un.description, style: 'text-transform: uppercase; width: 100%', class: "form-control" %><br>
                    <%= link_to classroom_path(un), method: :delete, class: "text-danger align-left", :data => {:confirm => 'Are you sure?'} do %>
                      <i class="fas fa-trash"></i>
                    <% end %>  
                    <% if @admin == Admin.first %>
                      <!-- CREATE BILL TEMP -->
                      <% link_to "BILL", crt_pmt_path(tsk: @taska.id, cls:un.id), class: "btn btn-sm btn-primary" %> 
                    <% end %> 
                    <!-- VIEW BILL TEMP -->
                    <%= link_to "#{list_bill_url(cls:un.unq)}", list_bill_path(cls:un.unq), class: "", target: "_blank" %> 
                    
                  </td>
                  <td style="width:30%"><!-- OWNER DETAILS -->
                    <div class="row">
                      <div class="col-lg-9">
                        <b>NAME</b><br>
                        <%= h.text_field :own_name, value: un.own_name, style: 'text-transform: uppercase; width: 100%; fonts-size:13px', class: "" %><br>
                        <% h.date_field :own_dob, value: un.own_dob, class: "", style: 'text-transform: uppercase; width: 100%' %>
                        <b>PHONE NO</b><br>
                        <%= h.text_field :own_ph, value: un.own_ph, class: "", style: 'text-transform: uppercase; width: 100%' %><br>
                        <b>EMAIL</b><br>
                        <%= h.email_field :own_email, value: un.own_email, style: 'text-transform: uppercase; width: 100%', class: "" %><br>
                        <% if ajk.present? && ajk.first.tp == "o" %>
                          <span class="badge badge-primary"><h7><%= ajk.first.name %></h7></span>
                          <%= h.hidden_field :ext_o, value: un.ext_o %>
                        <% elsif ajk.blank? && @ajks.present? %>
                          <b>AJK</b><br>
                          <%= h.select :ext_o, 
                          options_from_collection_for_select(@ajks.order('created_at ASC'), :id, :name), {include_blank: "Select"} %>
                        <% end %>
                      </div>
                      <div class="col-lg-3">
                        <!-- OWNER FOTO UPLOAD -->
                        <div style="text-align:center">
                          <% img = un.fotos.where(foto_name: "Owner Pic").first %>
                          <% if img.present? && img.picture.present? %>
                            <i class="far fa-check-circle" style="font-size:30px; color:green"></i>
                            <%= link_to "Update", edit_foto_path(tsk: @taska.id,tp: "o",id: img.id), class: "badge badge-pill badge-warning" %>
                            <%= link_to "View", img.picture.url, class: "badge badge-pill badge-success", target: "_blank" %>
                          <% else %>
                            <i class="far fa-smile-wink" style="font-size:30px"></i>
                            <%= link_to "Upload", edit_foto_path(tsk: @taska.id,tp: "o",id: img.id), class: "badge badge-pill badge-info" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td style="width:30%"><!-- TENANT DETAILS -->
                    <div class="row">
                      <div class="col-lg-9">
                        <b>NAME</b><br>
                        <%= h.text_field :tn_name, value: un.tn_name, style: 'text-transform: uppercase; width: 100%', class: ""%><br>
                        
                        <% h.date_field :tn_dob, value: un.tn_dob, class: "", style: 'text-transform: uppercase; width: 100%' %>
                        <b>PHONE NO</b><br>
                        <%= h.text_field :tn_ph, value: un.tn_ph, style: 'text-transform: uppercase; width: 100%', class: "" %><br>
                        <b>EMAIL</b><br>
                        <%= h.email_field :tn_email, value: un.tn_email, style: 'text-transform: uppercase; width: 100%', class: "" %><br>
                        <% if ajk.present? && ajk.first.tp == "t" %>
                          <span class="badge badge-primary"><h7><%= ajk.first.name %></h7></span>
                          <%= h.hidden_field :ext_t, value: un.ext_t %>
                        <% elsif ajk.blank? && @ajks.present? %>
                          <b>AJK</b><br>
                          <%= h.select :ext_t, 
                          options_from_collection_for_select(@ajks.order('created_at ASC'), :id, :name), {include_blank: "Select"} %>
                        <% end %>
                      </div>
                      <div class="col-lg-3">
                        <!-- TENANT FOTO UPLOAD -->
                        <% img = un.fotos.where(foto_name: "Tenant Pic").first %>
                        <div style="text-align:center">
                          <% if img.present? && img.picture.present? %>
                            <i class="far fa-check-circle" style="font-size:30px; color:green"></i>
                            <%= link_to "Update", edit_foto_path(tsk: @taska.id,tp: "t",id: img.id), class: "badge badge-pill badge-warning" %>
                            <%= link_to "View", img.picture.url, class: "badge badge-pill badge-success", target: "_blank" %>
                          <% else %>
                            <i class="far fa-smile-wink" style="font-size:30px"></i>
                            <%= link_to "Upload", edit_foto_path(tsk: @taska.id,tp: "t",id: img.id), class: "badge badge-pill badge-info" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    
                  </td>
                  <td><!-- VEHICLES DETAIL -->
                    TOTAL VEHICLE: <b><%= un.vhcls.count %></b><br>
                    <% un.vhcls.each do |vh| %>
                      <span class="badge badge-info">
                        <h7><%= vh.plt %></h7>
                      </span><br>
                    <% end %><br>
                    <%= link_to edit_vehicle_path(id: un.id), class:"btn btn-sm btn-warning" do %>
                        <i class="fa fa-eye"></i> VIEW/EDIT
                    <% end %>
                  </td>
                  <td><!-- BILL TO -->
                    <%= h.select :topay, options_for_select(["OWNER","TENANT"], 
                                                            selected: un.topay), 
                      {include_blank: "Select"}, {required: true} %>
                  </td>
                </tr>
              <% end %> <!-- END FORM -->
            <% end %> <!-- END LOOP -->
          </tbody>
        </table>
        <%= f.submit :"UPDATE",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>


