<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers"><%= @unregistered_no %></span>
        <span class="count-name">
          <a href="/taska/unreg_kids/<%= @taska.id %>/", style="color:#fff">New Registrations</a>
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-check"></i>
        <span class="count-numbers"><%= @kid_unpaid.count %></span>
        <span class="count-name">
          <a href="<%= unpaid_index_url %>", style="color:#fff">Unpaid Bills</a>
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">3,340.0</span>
        <span class="count-name">Income(RM)</span>
      </div>
      <p align="center">coming soon</p>
    </div>


    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Leaves</span>
      </div>
      <p align="center">coming soon</p>
    </div>
    

  </div>
</div>

Children Registration Link = <%= link_to "#{taska_page_url}", taska_page_path, style: "color:blue" %>



