<% if params[:att].blank? %>

  <h2>SENARAI PJKK SIMPOSIUM ANIS 2020</h2>

  <%= link_to "ALL", statansys_path, class: "btn btn-sm btn-warning" %>
  <%= link_to "YA", statansys_path(par: "YA"), class: "btn btn-sm btn-warning" %>
  <%= link_to "TIDAK", statansys_path(par: "TIDAK"), class: "btn btn-sm btn-warning" %>
  <%= link_to "TIADA RESPON", statansys_path(par: "nil"), class: "btn btn-sm btn-warning" %>

  <br><br>

  <h5>BIL KESELURUHAN : <%= @taskas.count %></h5>
  <h5>BIL HADIR : <%= @taskas.where(states: "YA").count %></h5>
  <h5>BIL TIDAK HADIR : <%= @taskas.where(states: "TIDAK").count %></h5>
  <h5>BIL TIADA RESPON : <%= @taskas.where(states: nil).count %></h5><br>

  <%= link_to ansys_xls_path(id: 5,format: :xlsx), class: "btn btn-sm btn-success" do %>
    <i class="fa fa-file-excel"></i> MUAT TURUN SENARAI
  <% end %>&nbsp&nbsp
  <%= link_to regansys_path, class: "btn btn-sm btn-danger" do %>
    <i class="fa fa-edit"></i> PENDAFTARAN BARU
  <% end %>

<% else %>
  
  <h2>SILA CARI PJKK ANDA DAN KLIK PADA LINK RSVP</h2>

<% end %>
<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr style="background-color:#d8b2d8">
        <th> NO </th>
        <th> NAMA PJKK </th>
        <th> ALAMAT PJKK </th>
        <th> PENGUSAHA </th>
        <th> WAKIL </th>
        <th> LINK RSVP </th>
        <th> RESPON </th>
      </tr>
    </thead>
    <tbody> 
      <% cnt = 0 %>
      <% @tsort.order('name ASC').each do |tsk| %>
        <% cnt += 1 %>
        <tr>
          <td><%= cnt %></td>
          <td>
            <%= tsk.name.upcase %><br>
            <% if params[:att].blank? %>
              <%= link_to editansys_path(id: tsk.id), class: "btn btn-sm btn-info" do %>
                <i class="fa fa-edit"></i> KEMASKINI
              <% end %>
            <% end %>
            
          </td>
          <td><%= tsk.address_1 %></td>
          <td>
            <%= tsk.supervisor %><br>
            <%= "#{tsk.phone_1}-#{tsk.phone_2}" %>
          </td>
          <td>
            <%= tsk.address_2 %><br>
            <%= tsk.postcode %>
          </td>
          <td>
            <%= link_to "#{root_url}rsvpans?id=#{tsk.id}", rsvpans_path(id: tsk.id), target: "_blank"%>
          </td>
          <td>
            <%= tsk.states %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>