<div class="containers">
  <a href="/crt_ajk?id=<%= @taska.id %>" class="d-sm-inline-block btn btn-xl btn-info shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New Box</a><br><br>

 
  <div class="row">
    <% 
      @ajks.each do |aj|
      #img = 'kidcare_logo/kota_logo_only.png'
      if (clsr=aj.classroom).present?
        add = "#{clsr.description}, #{clsr.classroom_name}"
        
        if aj.tp == "t"
          foto = clsr.fotos.where(foto_name: "Tenant Pic").first
          img = foto.picture.url unless foto.picture.blank?
          name_ajk = clsr.tn_name
          ph_no = clsr.tn_ph   
          eml = clsr.tn_email
        elsif aj.tp == "o"
          foto = clsr.fotos.where(foto_name: "Owner Pic").first
          img = foto.picture.url unless foto.picture.blank?
          name_ajk = clsr.own_name
          ph_no = clsr.own_ph   
          eml = clsr.own_email
        end
        
      else
        name_ajk = "PENDING"
        ph_no = ""
        add = ""
        eml = ""
      end 

    %>
      
      <div class="col-lg-4 col-md-6 col-12 text-break"> 
        <div class="rows">
          <%= form_for(:ajk, :url => {:controller=>'taskas', :action=>'upd_ajk'}, :html => {multipart: true, method: :post}) do |f| %>
          <%= f.fields_for :"#{aj.id}" do |h| %>
            <div class="panel panel-default shadow"  style="border-style: ridge;">
              <div class="panel-heading" style="background-color:blue">  

                <h4 style="color:white; text-align:center" >
                  <% 
                    if @admin
                      disb = false
                    else
                      disb = true
                    end 
                  %>
                  <%= h.text_field :name, value: aj.name, style: 'text-transform: uppercase; background-color: blue; color: white', class: "form-control", disabled: disb %>
                </h4>
              </div>
              <div class="panel-body">
                <div class="container" style="text-align: center">
                  <% if img.present? %>
                    <%= image_tag(img, size: "80x80") %>
                  <% else %>
                    <i class="far fa-smile-wink" style="font-size:80px; color:#b2b2b2"></i>
                  <% end %>
                </div>
                <div class="" >
                  <div class="container" style="text-align: center" >
                    <h6><%= name_ajk %></h6>
                  </div>
                  <hr>
                  <div class="container" >
                    <div class="row">
                      <div class="col-1">
                        <i class="fas fa-phone" style="font-size:20px; color:#8c198c"></i> 
                      </div>
                      <div class="col-10" style="font-size:13px">
                        <%= ph_no %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-1">
                        <i class="fas fa-map-marker" style="font-size:20px; color:#8c198c"></i>  
                      </div>
                      <div class="col-10" style="font-size:13px">
                        <%= add %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-1">
                        <i class="fas fa-envelope" style="font-size:20px; color:#8c198c"></i> 
                      </div>
                      <div class="col-10 text-lowercase" style="font-size:13px">
                        <%= eml %>
                      </div>
                    </div>

                           
                    
                      
                  </div>
                  <hr>
                  <div class="container" >
                    <% if aj.classroom.present? %>
                      <%= link_to reset_ajk_path(ajk: aj.id,id: @taska.id), class: "text-info pull-left", :data => {:confirm => 'Are you sure?'} do %>
                        <i class="fas fa-eraser">&nbspReset</i>
                      <% end %>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                    <% else %>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                      <%= link_to dlt_ajk_path(ajk: aj.id,id: @taska.id), class: "text-danger pull-right", :data => {:confirm => 'Are you sure?'} do %>
                        <i class="fas fa-trash">&nbspDelete</i>
                      <% end %>
                    <% end %>
                    
                    
                  </div>
                </div>
              </div>
            </div>
            
          <% end %> <!-- END FORM H -->
          <%= f.hidden_field :id, value: @taska.id %>
          <% end %> <!-- END FORM F -->
        </div>
        <br>
      </div>    
    <% end %>
  </div>


</div>






