<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">No of bills paid</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">255</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 39.2%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Amount Received (RM)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">215,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-coins fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-3">
    <br>
    <a href="<%= "#{shw_bilitm_url}?id=#{@taska.id}" %>" class="d-sm-inline-block btn btn-xl btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Update Bill Items</a><br>
    <div class="alert alert-warning" role="alert">
      Billing Cycle is on <b><%= @taska.rato.round(0) %></b> of every month. Click <a href="/community/edit/<%= @taska.id %>?plan=<%= @taska.plan %>">HERE</a> to change
    </div>
  </div>

</div>
<br>
<!-- START TABLE -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag tsk_fee_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_yr, params[:sch_yr], placeholder: "Search Year" %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Search Item" %>
        <%= select_tag :sch_fld, options_for_select(["Month","Year", "Unit No", "Block/Road","IC No","Bill_ID"], params[:sch_fld]),
              include_blank: "Select Field", required: true %>
        <%= hidden_field_tag :id, params[:id], value: params[:id] %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "btn btn-sm btn-success", id: "submit_expense") do %>
            <i class="fa fa-search"></i> SEARCH
        <% end %>
        <%= link_to tsk_fee_path(@taska), class:"btn btn-sm btn-danger" do %>
            <i class="fa fa-sync"></i> CLEAR
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive border">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ccccff">PERIOD</th>
              <th style="background-color:#ccccff">ADDRESS</th>
              <th style="background-color:#ccccff">BILL TO</th>
              <th style="background-color:#ccccff">BILL ID</th>
              <th style="background-color:#ccccff">AMOUNT (RM)</th>
              <th style="background-color:#ccccff">STATUS</th>
              <th style="background-color:#ccccff">RECEIVED (RM)</th>
            </tr>
          </thead>
          <tbody>
            <% 
              @payments.each do |un| 
              kb = un.kid_bill
              if un.paid 
                msg = "PAID"
                clr = "#99cc99"
              else
                msg = "UNPAID"
                clr = "#ff9999"
              end
              %>
              <tr>
                <td><%= "#{un.bill_month}-#{un.bill_year}" %></td>
                <td><%= kb.clsname %></td>
                <td>
                  <%= kb.extra[0] %><br>
                  <%= kb.extra[1] %><br>
                  <%= kb.extra[2] %>
                </td>
                <td><a href="<%= "#{view_bill_url}?id=#{un.id}" %>" target="blank"><u><%= un.bill_id %></u></a></td>
                <td><%= un.amount %></td>
                <td style="background-color:<%= clr %>">
                  <b><%= msg %></b>
                  <% if un.paid %>
                    <br><br><p style="font-size:15px;line-height: 0.2;">
                      <i><%= un.pdt.strftime('%d-%m-%y')%></i>
                    </p>
                    <p style="font-size:15px;line-height: 0.1;">
                      <i><%= un.mtd %></i>
                    </p>
                  <% else %>
                    <br><%= link_to "Update", root_path, class: "btn btn-sm btn-primary"%>
                  <% end %>
                </td>
                <td>
                  <% if un.paid %>
                    <% if un.mtd == "BILLPLZ" %>
                      <%= un.amount - 1.5 %>
                    <% else %>
                      <%= un.amount %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>


