EDIT VEHICLE FOR <b><%= "#{@classroom.classroom_name},#{@classroom.description}" %></b><br><br>

<div class="row">

  <div class="col-lg-9">
    <div style="background-color:blue">
      EXISTING VEHICLE (<%= @classroom.vhcls.count %>)
        
    </div>
    <%= form_for(:vhcls, :url => {:controller=>'classrooms', :action=>'upd_vehicle'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
      <div class="table-responsive border">
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">PLATE NO</th>
              <th style="background-color:#ffb2b2">BRAND</th>
              <th style="background-color:#ffb2b2">VEHICLE TYPE</th>
            </tr>
          </thead>
          <tbody>

            <% @vhcls.each do |vh| %>
              <%= f.fields_for :"#{vh.id}" do |h| %>
                <tr>
                  <td>
                    <%= h.text_field :plt, style: 'text-transform: uppercase', class: "form-control", autofocus: true, value: vh.plt %> 
                  </td>
                  <td>
                    <%= h.text_field :brnd, style: 'text-transform: uppercase', class: "form-control", autofocus: true, value: vh.brnd %>  
                  </td>
                  <td>
                    <div class="row">
                    <%= h.text_field :typ, style: 'text-transform: uppercase', class: "form-control col-lg-10", autofocus: true, value: vh.typ  %>&nbsp&nbsp
                    <%= link_to del_vehicle_path(id: vh.id, cls_id: params[:id]), method: :delete, class: "text-danger", :data => {:confirm => 'Are you sure?'} do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                    </div>
                  </td>
                </tr>
              <% end %> <!-- END FORM H -->
            <% end %> <!-- END LOOP -->

          </tbody>
        </table>
        <%= f.submit :"UPDATE",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-3">
    <div class="col-lg-12" style="background-color:blue">NEW VEHICLE</div><br>

    <%= form_for(:vhc, :url => {:controller=>'classrooms', :action=>'add_vehicle'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>Plate No</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-lg-12">
            <%= f.text_field :plt, style: 'text-transform: uppercase', class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>Brand</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-lg-12">
            <%= f.text_field :brnd, style: 'text-transform: uppercase', class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>Type</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-lg-12">
            <%= f.text_field :typ, style: 'text-transform: uppercase', class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <%= f.hidden_field :id, value: params[:id] %>
              
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"Add Vehicle", class: 'btn btn-primary btn-md' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>








