<% if @classroom_kids.count > 0 %>
  <div class="scard smb-3">
    <div class="card-header">
      <i class="fas fa-eye"></i>
      ALL REGISTERED CHILDREN FOR <button class="btn btn-sm btn-warning"><strong><%= @classroom.classroom_name.upcase %></strong></button>
    </div>
    <div class="bg-light"><br>
      <!-- Team -->
      <div class="scontainer">
        <div class="row">
          <% @classroom_kids.each do |kid|%>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="frontside">
                <div class="card">
                  <% kid_pay = kid.payments.where(paid: false) %>
                  <% if kid_pay.present? %>
                    <%= link_to "#{kid_pay.count} UNPAID BILLS", "#", class: "btn btn-sm btn-danger active" %>
                  <% else %>
                    <%= link_to "whitespace", "#", class: "btn btn-sm btn-white active", style: "color:white" %>
                  <% end %>
                  <div class="card-body text-center">
                    <p>
                      <% image = kid.fotos.where(foto_name: "CHILDREN PICTURE").first %>
                      <% if image.present? && image.picture.present? %>
                        <%= image_tag(image.picture.url, size: "100x100") %>
                      <% end %>
                    </p>
                    <h4 class="card-title"><%= kid.name.upcase %></h4>
                    <p class="card-text">
                      <%= "#{kid.ic_1}-#{kid.ic_2}-#{kid.ic_3}" %>
                    </p>
                    
                    <a href="/kids/<%= kid.id %>">
                      <font color="gray-dark"><span>
                         <i class="fa fa-eye"></i> VIEW PROFILE
                      </span></font>
                    </a><br>
                    <%= link_to remove_classroom_path(kid: kid, classroom: @classroom), style: "color:red", :data => {:confirm => 'Are you sure?'} do %>
                      <i class="fa fa-times-circle"></i> REMOVE
                    <% end %>
                    <br>
                  </div>
                  <%= link_to all_bills_taska_path(@classroom.taska.id, kid_id: kid.id), class: "btn btn-sm btn-success active" do %>
                    <i class="fa fa-file-invoice-dollar"></i> EXISTING BILLS
                  <% end %>
      <!-------------- START CREATE BILLS------------->
                  <% if kid.payments.where.not(name: "TASKA BOOKING").where(bill_month: Date.today.month).where(bill_year: Date.today.year).present? %>
                    <a class="btn icon-btn btn-brown pull-right active" >
                      <font color="indigo">
                        <span class="fa fa-check-circle"></span> 
                          BILL EXIST FOR <%= "#{$month_name[Date.today.month].upcase}-#{Date.today.year}" %>
                      </font>
                    </a>
                  <% else %>
                    <a class="btn icon-btn btn-brown pull-right active" href="/taska/<%= @classroom.taska.id %>/new_bill?child=<%= kid.id %>&classroom=<%= @classroom.id %>&month=<%= Date.today.month %>&year=<%= Date.today.year %>">
                      <font color="blue">
                        <span class="fa fa-plus"></span> 
                          NEW BILL FOR <%= "#{$month_name[Date.today.month].upcase}-#{Date.today.year}" %>
                      </font>
                    </a>
                  <% end %>
                  <% next_bill = Date.today + 1.month %>
                  <% if kid.payments.where.not(name: "TASKA BOOKING").where(bill_month: next_bill.month).where(bill_year: next_bill.year).present? %>
                    <a class="btn icon-btn btn-brown pull-right active" >
                      <font color="indigo">
                        <span class="fa fa-check-circle"></span> 
                          BILL EXIST FOR <%= "#{$month_name[next_bill.month].upcase}-#{next_bill.year}" %>
                      </font>
                    </a>
                  <% else %>
                    <a class="btn icon-btn btn-primary pull-right active" href="/taska/<%= @classroom.taska.id %>/new_bill?child=<%= kid.id %>&classroom=<%= @classroom.id %>&month=<%= next_bill.month %>&year=<%= next_bill.year %>">
                      <span class="fa fa-plus"></span> 
                        NEW BILL FOR <%= "#{$month_name[next_bill.month].upcase}-#{next_bill.year}" %>
                    </a>
                  <% end %>
        <!-------------- END CREATE BILLS------------->
                </div>
              </div>     
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% else %>
  You have not registered any children. 
<% end %>