<div class='row'>
  <div class='col-lg-8 col-12'>
    <%= form_for(@kid, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>
        
        <!-- name -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>FULL NAME</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :name, class: "form-control", placeholder: "FULL NAME AS PER MYKID", autofocus: true, required: true, style: "text-transform:uppercase" %>
            </div>
          </div>
        </div>

        <!-- GENDER -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <i class="fas fa-caret-down"></i><strong> GENDER</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-8">
              <%= f.select :gender, options_for_select(["MALE",
                                                        "FEMALE"],
                                                        selected: @kid.gender),
              {include_blank: "Please Select"}, {required: true} %>          
            </div>
          </div>
        </div>

        <!-- IC -->
        <% k = 1 %>
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>MYKID NO</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-4">
              <%= f.text_field :ic_1, maxlength: 6 ,class: "form-control", autofocus: true, required: true %>
            </div> <strong>-</strong>
            <div class="col-sm-2 col-3">
             <%= f.text_field :ic_2, maxlength: 2, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div> <strong>-</strong>
            <div class="col-sm-3 col-4">
              <%= f.text_field :ic_3, maxlength: 4, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div>         
          </div>
        </div>

        

        <!-- MAIN PHONE -->
        <% k = 1 %>
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>MAIN CONTACT NUMBER</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-3">
             <%= f.text_field :ph_1, maxlength: 3, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div> <strong>-</strong>
            <div class="col-sm-3 col-4">
              <%= f.text_field :ph_2, maxlength: 8, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div>      
          </div>
            The main phone number to contact  
        </div>

         <!-- DOB -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>DATE OF BIRTH</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.date_select :dob, 
                                {order:[:day, :month, :year],
                                prompt: { day: 'DAY', month: 'MONTH', year: 'YEAR' },
                                selected: @kid.dob,
                                start_year: 1980},
                                {required: true} %>
            </div>
          </div>
        </div>

        <!-- DATE ENTER -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>START DATE AT TASKA</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.date_select :date_enter, 
                                {order:[:day, :month, :year],
                                prompt: { day: 'DAY', month: 'MONTH', year: 'YEAR' },
                                selected: @kid.date_enter,
                                start_year: 1980},
                                {required: true}  %>
            </div>
          </div>
        </div>

        

        <!-- MOTHER NAME -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>MOTHER'S NAME</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :mother_name, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %>
            </div>
          </div>
        </div>

        

        <!-- FATHER NAME -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>FATHER'S NAME</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :father_name, class: "form-control", autofocus: true, required: true, style: "text-transform:uppercase" %>
            </div>
          </div>
        </div>

       

        

        


        
        
        <br>     
        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10 col-4">
                <%= link_to "UPDATE PROFILE", "#", class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>