<div class="page-content">
  <% if @payment.paid %>
    <h1 align="center"><%= link_to "PAID", "#", class: "btn btn-lg btn-success active" %></h1>
  <% else %>
    <h1 align="center"><%= link_to "PENDING PAYMENT", "#", class: "btn btn-sm btn-danger active" %></h1>
    <% if !current_admin && !@pdf %>
      <h1 align="right">
        <%= link_to "#{ENV['BILLPLZ_URL']}/bills/#{@payment.bill_id}", class: "btn btn-lg btn-info active" do %>
          <i></i> PAY
        <% end %>
      </h1>
    <% end %>
  <% end %>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body no-border invoice-body"><br> 

          <div class="col-md-12"> 
            <% image = @fotos.where(foto_name: "CENTER LOGO").first %>
            <% if image.picture.present? %>
              <a href="<%="#{image.picture.url}"%>" target="_blank">
                <% if @pdf %>
                  <%= wicked_pdf_image_tag(image.picture.url, size: "100x100") %>
                <% else %>
                  <%= image_tag(image.picture.url, size: "100x100") %>
                <% end %>
              </a>
            <% end %>
            <address>
              <strong><%= @taska.name.upcase %></strong>
              <% ssm = @taska.ssm_no %>
              <% if ssm.present? or ssm != "PLEASE INSERT" %>
                <%= "(#{ssm})" %><br>
              <% else %>
                <br>
              <% end %>
              <%= @taska.address_1.upcase %><br>
              <%= @taska.address_2.upcase %><br>
              <%= @taska.city.upcase %>&nbsp
              <%= @taska.states.upcase %>&nbsp
              <%= @taska.postcode %><br>
              <%= @taska.phone_1 %>-<%= @taska.phone_2 %><br>
              <%= @taska.email %>
            </address>
          </div><br>
          <div class="col-md-12">
            <% if @payment.paid %>
              <h3>RECEIPT FOR 
            <% else %>
              <h3>INVOICE FOR 
            <% end %>
              <strong><%= @kid.name.upcase %></strong></h3>
            <h5><%= @kid.ic_1 %>-<%= @kid.ic_2 %>-<%= @kid.ic_3 %></h5>
            <% if @payment.kids.count > 1 %>
              <hr>
              <h6>SHARED WITH</h6>
              <h7>
                <% @payment.kids.each do |beradik| %>
                  <% if beradik.id != @kid.id %>
                    <strong><%= beradik.name.upcase %></strong>
                    &nbsp<%= "(#{beradik.ic_1}-#{beradik.ic_2}-#{beradik.ic_3})" %><br>
                  <% end %>
                <% end %>
              </h7>
              <hr>
            <% end %>
          </div>
          <div class="clearfix"></div><br>
            <div class="col-md-12">
              <h4 class="semi-bold">
                EN <%= @kid.father_name.upcase %> / PN <%= @kid.mother_name.upcase %></h4>
              <address>
                <%= @kid.father_phone %><br>
                <%= @kid.mother_phone %><br>
              </address>
            </div>
            <div class="col-md-12"><br>
              BILL ID : <%= @payment.bill_id %><br>
              BILL DATE : <%= @payment.created_at.strftime("%b %d, %Y") %><br>
              PAYMENT DATE : <%= @payment.updated_at.strftime("%b %d, %Y") %><br>
              PAYMENT METHOD: 
              <% if (mtd =@payment.mtd).present? %>
                <%= mtd %>
              <% else %>
                NORMAL BILLPLZ
              <% end %>
              <br><br>
            <table class="table">
              <thead>
                <tr>
                  <th class="text-left">BILL DETAILS FOR <%= "#{$month_name[@payment.bill_month].upcase}" %> <%= @payment.bill_year %> </th>
                  <th></th>
                  <th style="width:140px" class="text-right">AMOUNT (RM)</th>
                </tr>
              </thead>
              <tbody>
                <% @payment.kid_bills.each do |kb| %>
                  <% gototk = (otk=kb.kid.otkids.where(payment_id: @payment.id).first).present? %>
                  <tr>
                    <td>
                      <strong><%= kb.kid.name %></strong><br>
                      <% if kb.classroom.present? %>
                        FEE FOR CLASSROOM <%= kb.clsname.upcase %>
                      <% elsif @payment.name == "TASKA BOOKING" %>
                        BOOKING FEE FOR <%= @taska.name.upcase %>
                      <% end %>
                      <% if gototk %>
                        <br>OVERTIME (<%= otk.descotk %>)
                      <% end %>
                      <% kb.extradtl.each do |k,v|%>
                        <% #extra = Extra.find(id) %>
                        <br><%= k %>
                      <% end %>
                    </td>
                    <td></td>
                    <td class="text-right">
                      <% if kb.classroom.present? %>
                        <br><%= kb.clsfee %>
                      <% elsif @payment.name == "TASKA BOOKING" %>
                        <%= @payment.amount %>
                      <% else %>
                        <br>
                      <% end %>
                      <% if gototk %>
                        <br><%= otk.amt %>
                      <% end %>
                      <% kb.extradtl.each do |k,v|%>
                        <% #extra = Extra.find(id) %>
                        <br><%= v %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="text-left no-border" colspan="2">
                    <strong>ADDITIONAL DESCRIPTION</strong><br>
                    <%= @payment.description %>
                  </td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <td class="text-right no-border" colspan="2">
                    <strong>ADDITIONAL CHARGE</strong><br>
                    <%= @payment.addtns.first.desc %>
                  </td>
                  <td class="text-right"><%= @payment.addtns.first.amount.to_f %></td>
                </tr>
                <tr>
                  <td class="text-right no-border" colspan="2"><strong>DISCOUNT</strong></td>
                  <td class="text-right">(<%= @payment.discount.to_f %>)</td>
                </tr>
                <% parpm = 0 %>
                <% @payment.parpayms.order('upd ASC').each do |ppm| %>
                  <tr>
                    <td class="text-left no-border" colspan="2">
                      <strong><%= ppm.kind %></strong> made on 
                      <strong><%= ppm.upd.strftime('%d-%^b-%y') %></strong> via
                      <strong><%= ppm.mtd %></strong>
                    </td>
                    <td class="text-right">
                      (<%= amt = ppm.amt %>)
                      <% parpm = parpm + amt %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td class="text-right no-border" colspan="2">
                    <div class="well well-small green"><strong><h4>TOTAL</h4></strong></div>
                  </td>
                  <td class="text-right"><strong><h4><%= @payment.amount %></h4></strong></td>
                </tr>
              </tbody>
            </table>
            <br>
            <br>
            
            <br>
            <br>
            Powered by&nbsp
            <% image = Foto.all.where(foto_name: "KIDCARE FULL").first %>
              <% if image.picture.present? %>
                <a href="<%="#{image.picture.url}"%>" target="_blank">
                  <% if @pdf %>
                    <%= wicked_pdf_image_tag(image.picture.url, size: "87x30") %>
                  <% else %>
                    <%= image_tag(image.picture.url, size: "87x30") %>
                  <% end %>
                </a>
              <% end %>
            www.kidcare.my
          </div>

        </div>

      </div>
          <!--   <div class="col-md-1">
              <div class="invoice-button-action-set">
                <p>
                  <button class="btn btn-primary" type="button"><i class="fa fa-print"></i></button>
                </p>
                <p>
                  <button class="btn " type="button"><i class="fa fa-cloud-download"></i></button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div> -->






