<h4>NEW CHILDREN REGISTRATION FOR </h4> 
<h3><%= @taska.name.upcase %>
  <% image = @fotos.where(foto_name: "CENTER LOGO").first %>
    <% if image.picture.present? %>
      <a href="<%="#{image.picture.url}"%>" target="_blank">
        <% if @pdf %>
          <%= wicked_pdf_image_tag(image.picture.url, size: "50x50") %>
        <% else %>
          <%= image_tag(image.picture.url, size: "50x50") %>
        <% end %>
      </a>
    <% end %>  

</h3>
<br>
<%= render 'kids/form' %>

	

