<%= render 'layouts/admin_db/dsb-admin-head' %>


      <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon ">
          <%
            image = @taska.fotos.where(foto_name: "CENTER LOGO").first 
          %>
          <% if image.present? && image.picture.present? %>
            <%= image_tag(image.picture.url, size: "50x50") %>
          <% else %>
            <i class="fas fa-smile-beam"></i>
          <% end %>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>

     <!-- Nav Item - RESIDENT -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="<%= taskashow_url(@taska) %>">
          <i class="fas fa-fw fa-home"></i>
          <span>RESIDENT</span></a>
      </li>

      <!-- Nav Item - AJK -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="<%= tsk_ajk_url(@taska) %>">
          <i class="fas fa-fw fa-users"></i>
          <span>AJK</span></a>
      </li>

      <!-- Nav Item - FEES -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="<%= tsk_fee_url(@taska, sch_mth: Date.today.month,sch_yr: Date.today.year) %>">
          <i class="fas fa-fw fa-file-invoice-dollar"></i>
          <span>FEES</span></a>
      </li>

      <!-- Nav Item - FINANCIAL -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="<%= tsk_financial_url(@taska, sch_mth: Date.today.month,sch_yr: Date.today.year) %>">
          <i class="fas fa-fw fa-chart-bar"></i>
          <span>FINANCIAL</span></a>
      </li>

      <!-- Nav Item - VISITOR MANAGEMENT -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="<%= tsk_vismgmt_url(@taska) %>">
          <i class="fas fa-fw fa-door-open"></i>
          <span>VISITOR MANAGEMENT</span></a>
      </li>

      <% if 1==0 %>
        <!-- Nav Item - ACTIVITIES -->
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= tsk_activt_url(@taska) %>">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>ACTIVITIES</span></a>
        </li>

        <!-- Nav Item - NEWS BLAST -->
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= tsk_newblast_url(@taska) %>">
            <i class="fas fa-fw fa-bullhorn"></i>
            <span>NEWS BLAST</span></a>
        </li>
      <% end %>

      
      <hr class="sidebar-divider">


    </ul>
    <!-- End of Sidebar -->

      <div id="content-wrapper">
        <%= render 'layouts/admin_db/paynow' %>
        <div class="container-fluid">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              Admin Dashboard
            </li>
            <li class="breadcrumb-item active">Visitors Management for <strong><%= @taska.name.upcase %></strong></li>
          </ol>
          <div class="bg-light">
            <div class="scontainer">
              <div class="srow">
              <%= render partial: "shared/flash_messages", flash: flash %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>

<%= render 'layouts/admin_db/dsb-admin-foot' %>


        
          

          
