
<% if !@spv %>
  <%= link_to "REGISTER NEW CENTER", "#{root_url}taskas/new?plan=PAY+PER+USE&reg=PTNS" , class: "btn btn-xs btn-primary active"%>
  <% if @admin_taska.count > 1 %><% if params[:ovrl].present? %>
    <%= link_to "HIDE OVERALL", admin_index_path , class: "btn btn-xs btn-danger active"%>
  <% else %>
    <%= link_to "SHOW OVERALL", admin_index_path(ovrl: true) , class: "btn btn-xs btn-success active"%>
  <% end %><% end %>
  <br>
<% end %>

<% if @admin_taska.count > 1 && params[:ovrl].present? %><hr>
  <div class="container">
    <div class="col-12" style="background-color:#a64ca6">
      <h3 align="center"><font color="white">OVERALL SUMMARY</font></h3>
      <h5 align="center"><font color="white"><%= @actv %> Active Centers</font></h5>
      <% if current_admin == Admin.first %>
      <h5 align="center"><font color="white">RM <%= number_with_delimiter(@kcr_inc.round(2), :delimiter => ',') %></font></h5>
      <% end %>
    </div>
    <div class="row">

      <div class="col-md-3">
        <div class="card-counter primary">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers"><%= @kid_new %></span>
          <span class="count-name">
            <a href="#", style="color:#fff">New Registrations</a>
            <br><font style="color:#fff">TOTAL: <%= @kid_tot %></font>
            <br>
          </span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter danger">
          <i class="fa fa-exclamation-circle"></i>
          <span class="count-numbers"><%= @unpaid_no %></span>
          <span class="count-name">
            <a href="#", style="color:#fff">
              Unpaid Bills<br>
              RM <%= number_with_delimiter(@unpaid_amt.round(2), :delimiter => ',') %>
              
            </a>
          </span>
        </div>
      </div>

      <% if !@spv %>
        <div class="col-md-3">
          <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span class="count-numbers">
              

              <%= number_with_delimiter(@pnl.round(2), :delimiter => ',') %>
            </span>
            <span class="count-name">
              <a href="#", style="color:#fff">Profit (RM)<br>
                <%= $month_name[@mth] %>-<%= @yr %>
              </a>
            </span>
          </div>
        </div>
      <% end %>

      <% if !@spv %>
      <div class="col-md-3">
        <div class="card-counter info">
          <i class="fa fa-users"></i>
          <span class="count-numbers"><%= @applvs %></span>
          <span class="count-name">
            <a href="#", style="color:#fff">
              Pending<br> Leaves
            </a>
          </span>
        </div>
      </div>
      <% end %>
      

    </div>
  </div>
<hr><% end %>

</br></br>
<% if params[:kcadm] == "MUS123" %>
<%= link_to "MARKET", market_xls_path(format: :xlsx), class: "btn btn-sm btn-info active" %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th style="background-color:#d8b2d8"> ID </th>
          <th style="background-color:#d8b2d8"> NAME </th>
          <th style="background-color:#d8b2d8"> BILL </th>
          <th style="background-color:#d8b2d8"> DATE </th>
          <th style="background-color:#d8b2d8"> ADM </th>
          <th style="background-color:#d8b2d8"> BANK </th>
          <th style="background-color:#d8b2d8"> BILLPLZ </th>
        </tr>
      </thead>
      <tbody>
        <% 
          tot_kid = 0 
          tot_pay = 0.00
          tot_kidovr = 0 
          tot_payovr = 0.00
          ctr = 0
        %>
        <% @admin_taska.order('created_at DESC').each do |tsk|%>
          <% if (tsk.expire.to_date - Date.today).to_i > -5 %>
            <%
              num_kid = tsk.kids.where.not(classroom_id: nil).count              
              unpaid_plan = tsk.payments.where(name: "TASKA PLAN", paid: false).present?
              if tsk.plan == "PAY PER USE"
                tsk_pay = num_kid * $package_price[tsk.plan] * tsk.discount
              else
                tsk_pay = $package_price[tsk.plan] * tsk.discount
              end
              tot_payovr += tsk_pay
              tot_kidovr += num_kid
              if num_kid > 0
                ctr += 1
              end
              if num_kid > 0 && !unpaid_plan 
                color = "#cce5cc"
                
                tot_pay += tsk_pay
                tot_kid += num_kid #only active taska
              else
                color = nil 
              end
            %>
            <tr style="background-color:<%= color %>">
              <td><%= tsk.id %></td>
              <td>
                <%= link_to "#{tsk.name}", taska_path(tsk), target: "_blank" %><br>
                <%= link_to "EDIT", edit_taska_path(tsk, plan: tsk.plan), class: "btn btn-sm btn-success", target: "_blank" %>
              </td>
              <td>
                <%= "#{tsk.plan} (#{$package_child[tsk.plan]})"  %><br>
                KIDS NO : <%= num_kid %><br>
                BILL: RM <%= tsk_pay %><br>
                DISC: <%= tsk.discount.round(2) %><br>
                <%= "#{(tsk.expire.to_date - Time.now.to_date).to_i} DAYS" %><br>
                <%= link_to "CREATE BILL", bill_taska1_monthly_path(id:tsk.id), class: "btn btn-sm btn-primary", target: "_blank" %>
              </td>
              <td><%= tsk.created_at.strftime("%d-%m-%y") %></td>
              <td><%= tsk.supervisor %><br>
                <%= "#{tsk.phone_1}-#{tsk.phone_2}" %><br>
                <%= tsk.email %>
              </td>
              <td><%= tsk.bank_name %><br><br>
                  <%= tsk.acc_name %><br><br>
                  <%= tsk.acc_no %><br><br>
                  <%= tsk.ssm_no %>
              </td>
              <td>ID1= <%= tsk.collection_id %><br>
                  ID2= <%= tsk.collection_id2 %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <% if @admin_taska.count > 0 %>
    <div class="container">
    <div class="row">
    <% @admin_taska.order('name ASC').each do |taska|%>
      <% status = (taska.expire.to_date - Date.today).to_i %>
      <% trial = !(taska.payments.where(name: "TASKA PLAN").count > 1) %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="frontside">
          <div class="card">
            <% if status >= 0 %>
              <% if status >= $expire %>
                <div class="col-sm-12" style="padding-top: 10px; background-color:#66b266">
                  <h6 align="center"><font color="white">ACTIVE</font></h6>
                </div>
              <% else %>
                <div class="col-sm-12" style="padding-top: 10px; background-color:#E0A025">
                  <h6 align="center"><font color="white">EXPIRING IN <%= status %> DAYS</font></h6>
                </div>
              <% end %>
            <% else %>
              <div class="col-sm-12" style="padding-top: 10px; background-color:#F2635F">
                  <h6 align="center"><font color="white">EXPIRED</font></h6>
              </div>
            <% end %>
            <div class='col-lg-12 well'><br>
              <div class="row">
                <div class="pull-right">
                  <% image = taska.fotos.where(foto_name: "CENTER LOGO").first %>
                  <% if image.present? && image.picture.present? %>
                    <%= image_tag(image.picture.url, size: "50x50") %>
                  <% end %>
                </div>&nbsp&nbsp&nbsp&nbsp
                <h6 align="center"><%= taska.name %></h6>
                <br>

              </div><br>
            </div>
            <div class='col-lg-12'><br>
              <%= taska.address_1 %><br>
              <%= taska.address_2 %><br>
              <%= taska.city %><br>
              <%= taska.postcode %>&nbsp<%= taska.states %><br><br>
            </div>
            <!-- ACCESS DASHBOARD -->
            <% if status >= 0 %>
              <div class="col-sm-12" style="padding-top: 10px; background-color:#0093D1">
                <%= link_to taska_path(taska) do %>
                  <h5 align="center"><font color="white">GO TO DASHBOARD</font></h5>
                <% end %>
              </div>
            <% else %>
              <div class="col-sm-12" style="padding-top: 10px; background-color:#F2635F">
                <%= link_to taska_path(taska) do %>
                  <h5 align="center"><font color="white">GO TO DASHBOARD</font></h5>
                <% end %>
              </div>
            <% end %>

            <!-- CREATE BILL -->
            <% if status <= $expire %>
              <div class="col-sm-12" style="padding-top: 10px; background-color:#834C24">
                  <%= link_to bill_taska1_monthly_path(id: taska.id) do %>
                    <h6 align="center"><font color="white">RENEW PLAN</font></h6>
                  <% end %>
                </div>
            <% end %>


            <!-- ACTIVATE BILLS -->
            <!--<% unpaid = taska.payments.where(name: "TASKA PLAN").where(paid: false) %>
            <% if trial %>
              <% if unpaid.present? %>
                <div class="col-sm-12" style="padding-top: 10px; background-color:green">
                  <%= link_to view_invoice_taska_path(taska: taska, payment: unpaid.first) do %>
                    <h6 align="center"><font color="white">ACTIVATE PLAN</font></h6>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <% if unpaid.present? %>
                <div class="col-sm-12" style="padding-top: 10px; background-color:#834C24">
                  <%= link_to view_invoice_taska_path(taska: taska, payment: unpaid.first) do %>
                    <h6 align="center"><font color="white">RENEW PLAN</font></h6>
                  <% end %>
                </div>
              <% end %>
            <% end %>-->
            

          </div>
        </div>
      </div>
    
    <% end %> 
    </div>
    </div>
  <!-- TASKA EXPIRY-->        

  <% else %>

    <p> No centres created. Please create one to proceed <p>

  <% end %>
<% end %>
<% if params[:kcadm] == "MUS123" %>
<strong> OVERALL STATISTICS</strong><br>
NO OF ACTIVE CENTERS = <%= ctr %> <br>
TOTAL NO OF KIDS = <%= tot_kidovr %><br>
EXPECTED PAYMENT = RM <%= tot_payovr %>
<br><br>
<strong> CURRENT OUTSTANDING</strong><br>
TOTAL NO OF KIDS = <%= tot_kid %><br>
EXPECTED PAYMENT = RM <%= tot_pay %>
<% end %>


