<%= link_to "CREATE NEW TASKA", taska_pricing_path , class: "btn btn-xs btn-primary active"%></br></br>

<% if @admin_taska.count > 0 %>
  <div class="container">
  <div class="row">
	<% @admin_taska.order('updated_at DESC').each do |taska|%>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="frontside">
        <div class="card">
          <div class="col-sm-12" style="padding-top: 10px; background-color:#66b266">
            <%= link_to taska_path(taska) do %>
              <h6 align="center"><font color="white">GO TO DASHBOARD</font></h6>
            <% end %>
          </div>
          <div class='col-lg-12 well'><br>
            <div class="row">
              <div class="pull-right">
                <% image = taska.fotos.where(foto_name: "CENTER LOGO").first %>
                <% if image.present? && image.picture.present? %>
                  <%= image_tag(image.picture.url, size: "50x50") %>
                <% end %>
              </div>&nbsp&nbsp&nbsp&nbsp
              <h6 align="center"><%= taska.name %></h6>
              <br>

            </div><br>
          </div>
          <div class='col-lg-12'><br>
            <%= taska.address_1 %><br>
            <%= taska.address_2 %><br>
            <%= taska.city %><br>
            <%= taska.postcode %>&nbsp<%= taska.states %><br><br> 
          </div>
          <%= link_to "GO TO DASHBOARD", taska_path(taska), class: "btn btn-sm btn-primary active"%>
          <%= link_to "GO TO DASHBOARD", taska_path(taska), class: "btn btn-sm btn-danger active"%>
        </div>
      </div>
    </div>
  
	<% end %>	
  </div>
  </div>
        

<% else %>

	<p> No centres created. Please create one to proceed <p>

<% end %>

