<div class='row'>
  <div class='col-lg-8 col-12'>
    <%= form_for(@tchdetail, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>
        
        <div class="form-group"> <!-- name -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :name %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :name, class: "form-control", placeholder: "YOUR FULL NAME AS PER IC", autofocus: true, required: true %>
            </div>
          </div>
        </div>
        <% k = 1 %>
        <div class="form-group"> <!-- IC -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"I/C NO" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-4">
              <%= f.text_field :ic_1, maxlength: 6 ,class: "form-control", autofocus: true, required: true %>
            </div> <strong>-</strong>
            <div class="col-sm-2 col-3">
             <%= f.text_field :ic_2, maxlength: 2, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div> <strong>-</strong>
            <div class="col-sm-3 col-4">
              <%= f.text_field :ic_3, maxlength: 4, class: "form-control", placeholder: "", autofocus: true, required: true %>
            </div>         
          </div>
        </div>

        <div class="form-group"> <!-- PHONE-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Phone Number" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-3">
             <%= f.text_field  :phone_1, maxlength: 3, class: "form-control", autofocus: true, required: true %><font size="2"> Area </font> 
            </div>
            -
            <div class="col-sm-3 col-5">
              <%= f.text_field  :phone_2, maxlength: 8, class: "form-control", autofocus: true, required: true %><font size="2"> Phone Number </font> 
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- CATEGORY-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Category" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-8">
              <%= f.select :marital, options_for_select(["Childcare Provider", 
                                                        "Owner", 
                                                        "Supervisor",
                                                        "Others"],
                                                        selected: @tchdetail.marital),
              {include_blank: "Please Select"}, {required: true} %>          
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- ADDRESS-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Address" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
             <%= f.text_field :address_1, class: "form-control", autofocus: true, required: true %> <font size="2"> Address Line 1 </font>
            </div>
            <div class="col-sm-8 col-12">
             <%= f.text_field :address_2, class: "form-control", autofocus: true %> <font size="2"> Address Line 2 </font>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-6">
             <%= f.text_field :city, class: "form-control", autofocus: true, required: true %> <font size="2"> City </font>
            </div>
            <div class="col-sm-3 col-5">
             <%= f.text_field :states, class: "form-control", autofocus: true, required: true %> <font size="2"> States </font>
            </div>
            <div class="col-sm-2 col-4">
             <%= f.number_field :postcode, class: "form-control", autofocus: true, required: true %> <font size="2"> Postcode </font>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- HIGHEST EDUCATION-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Education Level" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-8">
              <%= f.select :education, options_for_select(["PHD", 
                                                        "Master", 
                                                        "Degree",
                                                        "Diploma/STPM",
                                                        "SPM/SPMV/MCE/O-Level",
                                                        "Sijil Kemahiran",
                                                        "Others"
                                                        ], 
                                                        selected: @tchdetail.education), 
              {include_blank: "Please Select"}, {required: true} %>
              <%= f.hidden_field :teacher_id, value: params[:teacher_id] %>
            </div>
          </div>
        </div>

      <!-- TASKA DETAILS -->
      <div class="form-group"> <!-- taska name -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Taska Name" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :ts_name, class: "form-control", autofocus: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- taska owner name -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Taska Owner Name" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :ts_owner_name, class: "form-control", autofocus: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- Taska Owner PHONE-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Taska Owner Phone Number" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-3">
             <%= f.text_field  :ts_phone_1, maxlength: 3, class: "form-control", autofocus: true %><font size="2"> Area </font> 
            </div>
            -
            <div class="col-sm-3 col-5">
              <%= f.text_field  :ts_phone_2, maxlength: 8, class: "form-control", autofocus: true %><font size="2"> Phone Number </font> 
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- TASKA ADDRESS-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Taska Address" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
             <%= f.text_field :ts_address_1, class: "form-control", autofocus: true %> <font size="2"> Address Line 1 </font>
            </div>
            <div class="col-sm-8 col-12">
             <%= f.text_field :ts_address_2, class: "form-control", autofocus: true %> <font size="2"> Address Line 2 </font>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-6">
             <%= f.text_field :ts_city, class: "form-control", autofocus: true %> <font size="2"> City </font>
            </div>
            <div class="col-sm-3 col-5">
             <%= f.text_field :ts_states, class: "form-control", autofocus: true %> <font size="2"> States </font>
            </div>
            <div class="col-sm-2 col-4">
             <%= f.number_field :ts_postcode, class: "form-control", autofocus: true %> <font size="2"> Postcode </font>
            </div>
          </div>
        </div>

      <!-- START PHOTO UPLOAD -->
        <!-- IC FRONT -->
      <% m = 0 %> <!-- Stop loop at 1 -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>IC FRONT</strong>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-8 col-5">
        <% image = @tchdetail.fotos.where(foto_name: "IC FRONT").first %>
        <% if image.present? %>
          <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
            <div class="row">
            <div class="col-sm-8 col-5">
              <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
            </div>
            </div>  
        <% else %>
          <%= f.fields_for :fotos do |h| %>
            <% break if m==1 %>
              <div class="row">
                <div class="col-sm-8 col-8">
                  <%= h.hidden_field :foto_name, value: "IC FRONT" %>
                  <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                </div>
              </div>
              <% m = 1 %>
            <% end %>
        <% end %>
        </div>
        </div>
      </div>

       <!-- IC BACK -->
      <% m = 0 %> <!-- Stop loop at 1 -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>IC BACK</strong>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-8 col-5">
        <% image = @tchdetail.fotos.where(foto_name: "IC BACK").first %>
        <% if image.present? %>
          <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
            <div class="row">
            <div class="col-sm-8 col-5">
              <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
            </div>
            </div>  
        <% else %>
          <%= f.fields_for :fotos do |h| %>
            <% break if m==1 %>
              <div class="row">
                <div class="col-sm-8 col-8">
                  <%= h.hidden_field :foto_name, value: "IC BACK" %>
                  <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                </div>
              </div>
              <% m = 1 %>
            <% end %>
        <% end %>
        </div>
        </div>
      </div>

      <!-- PROFILE PIC -->
      <% m = 0 %> <!-- Stop loop at 1 -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PROFILE PIC</strong>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-8 col-5">
        <% image = @tchdetail.fotos.where(foto_name: "PROFILE PIC").first %>
        <% if image.present? %>
          <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
            <div class="row">
            <div class="col-sm-8 col-5">
              <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
            </div>
            </div>  
        <% else %>
          <%= f.fields_for :fotos do |h| %>
            <% break if m==1 %>
              <div class="row">
                <div class="col-sm-8 col-8">
                  <%= h.hidden_field :foto_name, value: "PROFILE PIC" %>
                  <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                </div>
              </div>
              <% m = 1 %>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>

      <%= f.hidden_field :college_id, value: params[:id] %>

              
        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10 col-4">
              <%= f.submit :"UPDATE PROFILE",  class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>