<div id="kid-lookup"> <!-- From Finance Tracker views/users/myportfolio.html  -->
  <%= form_tag find_tchdetail_path, remote: true, method: :get, id: "find_kid" do %>
    <div class="form-group text-center col-md-12 bg-light">
      <div style="background-color:#66b266"><font color="white">
        <h3>ATTENDANCE<br></h3></font></div><br>
      <div class="row">
      <div class="col-md-12">
        <%= text_field_tag :ic3, params[:ic3], 
                placeholder: "4 DIGIT OF LAST IC NO", 
                autofocus: true,  
                class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
      </div>   
      <%= hidden_field_tag :college_id, params[:college_id], value: @course.college.id %>
      <%= hidden_field_tag :course_id, params[:course_id], value: @course.id %>             
      <div class="col-md-12"><br>
        <%= button_tag(type: :submit, class: "btn btn-sm btn-success active", id: "submit_expense") do %>
            <i class="fa fa-search"></i> SEARCH
        <% end %>
      </div>
    </div>
    <div id="result_kid">
      <%= render 'tchdetails/result' %> 
    </div>
    </div>
    
  <%end%>
  
</div>

