<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" align="center"><%= @tchdetail.name.upcase %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3" align="center"> 
          <% image = @fotos.where(foto_name: "PROFILE PIC").first %>
          <% if image.picture.present? %>
            <a href="<%="#{image.picture.url}"%>" target="_blank">
              <% if @pdf %>
                <%= wicked_pdf_image_tag(image.picture.url, size: "200x200") %>
              <% else %>
                <%= image_tag(image.picture.url, size: "200x200") %>
              <% end %>
            </a>
          <% else %>
            No photo uploaded
          <% end %>
         </div>
         <div class=" col-md-9 col-lg-9"> 
        <div class="table-responsive">
          
          <table class="table table-striped" id="" width="100%" cellspacing="0">
            <tbody>
              <tr>
                <td><strong>IC NO:</strong></td>
                <td>
                  <%= "#{@tchdetail.ic_1}-""#{@tchdetail.ic_2}-""#{@tchdetail.ic_3}" %>
                </td>
              </tr>
              <tr>
                <td><strong>PHONE NO:</strong></td>
                <td>
                  <%= "#{@tchdetail.phone_1}-""#{@tchdetail.phone_2}" %>
                </td>
              </tr>
              <tr>
                <td><strong>EMAIL:</strong></td>
                <td>
                  <%= "#{@tchdetail.teacher.email}" %>
                </td>
              </tr>
              <tr>
                <td><strong>CATEGORY:</strong></td>
                <td>
                  <%= "#{@tchdetail.marital.upcase}" %>
                </td>
              </tr>
              <tr>
                <td><strong>ADDRESS:</strong></td>
                <td>
                  <%= "#{@tchdetail.address_1.upcase}" %><br>
                  <%= "#{@tchdetail.address_2.upcase}" %><br>
                  <%= "#{@tchdetail.city.upcase}" %>
                  <%= "#{@tchdetail.states.upcase}" %>
                  <%= "#{@tchdetail.postcode}" %>
                </td>
              <tr>
                <td><strong>EDUCATION LEVEL:</strong></td>
                <td>
                  <%= "#{@tchdetail.education.upcase}" %>
                </td>
              </tr>
              <tr>
                <td><strong>IC COPY:</strong></td>
                <td>

                  <% image = @fotos.where(foto_name: "IC FRONT").first %>
                  <% if image.picture.present? %>
                    <a href="<%="#{image.picture.url}"%>" target="_blank">
                      <% if @pdf %>
                        <%= wicked_pdf_image_tag(image.picture.url, size: "50x50") %>
                      <% else %>
                        <%= image_tag(image.picture.url, size: "50x50") %>
                      <% end %>
                    </a>
                  <% else %>
                    No photo uploaded &nbsp
                  <% end %>

                  <% image = @fotos.where(foto_name: "IC BACK").first %>
                  <% if image.picture.present? %>
                    <a href="<%="#{image.picture.url}"%>" target="_blank">
                      <% if @pdf %>
                        <%= wicked_pdf_image_tag(image.picture.url, size: "50x50") %>
                      <% else %>
                        <%= image_tag(image.picture.url, size: "50x50") %>
                      <% end %>
                    </a>
                  <% else %>
                    No photo uploaded &nbsp
                  <% end %>
                </td>
                <td>
                </td>
              </tr>
              <!-- START TASKA DETAILS -->
              <tr>
                <td><strong>TASKA NAME:</strong></td>
                <td>
                  <% if @tchdetail.ts_name.present? %>
                  <%= "#{@tchdetail.ts_name.upcase}" %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td><strong>TASKA OWNER NAME:</strong></td>
                <td>
                  <% if @tchdetail.ts_owner_name.present? %>
                  <%= "#{@tchdetail.ts_owner_name.upcase}" %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td><strong>TASKA OWNER PHONE NO:</strong></td>
                <td>
                  <%= "#{@tchdetail.ts_phone_1}-""#{@tchdetail.ts_phone_2}" %>
                </td>
              </tr>

              <tr>
                <td><strong>TASKA ADDRESS:</strong></td>
                <td>
                  <% if @tchdetail.ts_address_1.present? && @tchdetail.ts_address_2.present? && @tchdetail.ts_city.present? && @tchdetail.ts_states.present?  %>
                  <%= "#{@tchdetail.ts_address_1.upcase}" %><br>
                  <%= "#{@tchdetail.ts_address_2.upcase}" %><br>
                  <%= "#{@tchdetail.ts_city.upcase}" %>
                  <%= "#{@tchdetail.ts_states.upcase}" %>
                  <%= "#{@tchdetail.ts_postcode.upcase}" %>
                  <% end %>
                </td>
              <tr>


                 
            </tbody>
          </table>