<%= render partial: "shared/flash_messages", flash: flash %>

<% if @find_tchdetail.present? %>
  <% @find_tchdetail.each do |tch| %>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <h6 class="card-title"><%= tch.name.upcase %></h6>
            <p class="card-text">
              <%= "#{tch.ic_1}-#{tch.ic_2}-#{tch.ic_3}" %>
            </p>
            <p class="card-text">
              <%
                showl = false
                an1 = false
                an2 = false
                if $anis2f.include?(@clg.id) || $anis2.include?(@clg.id)
                  tp = "an2"
                  an2 = true unless (tch.colleges.ids&$anis2f).blank?
                else
                  tp = "an1"
                  an1 = true unless (tch.colleges.ids&$anisf).blank?
                end
                showl = true unless (tch.tchdetail_colleges.where(tp: tp, college_id: @clg.id).present? || an2 || an1)
                # an1 = false
                # an2 = false
                # an1 = true unless (tch.colleges.ids&$anisf).blank?
                # an2 = true unless (tch.colleges.ids&$anis2f).blank?
                # if an1 && an2
                # else
                #   if !tch.colleges.ids.include?(@clg.id) #kalau dah ada xyah masuk
                #     if an1
                #       if !an2 && ($anis2.include?(@clg.id) || $anis2f.include?(@clg.id))
                #         showl = true
                #       end
                #     else
                #       showl = true
                #     end
                #   end
                # end
              %>
              <% tch.colleges.each do |exs| %>
                <%= exs.name %><br> 
              <% end %>
              <% "an1(#{an1})--an2(#{an2})" %>
             
              <%= link_to "APPLY FOR #{@clg.name}", assg_clg_tch_path(tchd_id: tch.id, clg: @clg.id, tp: tp), class: "btn btn-sm btn-primary" unless !showl %>

            </p>
            <%= link_to "EDIT", edit_tchdetail_path(id: tch.id, anis: tch.anis), class: "btn btn-sm btn-warning", target: "_blank" %>&nbsp
            <%= link_to "PROFILE", tchd_anis_path(id: tch.id), class: "btn btn-sm btn-info", target: "_blank" %>  
          </div>
        </div>
      </div>
    </div> 
  <% end %>
<% elsif @find_tchdetail.blank? && params[:ic1].present? && params[:ic2].present? && params[:ic3].present? %>
  <%= link_to "REGISTER", new_tchdetail_path(id: @clg.id, anis: true, nwt: true), class: "btn btn-sm btn-info" %>
<% end %>
  

  




