

<div class='row'>
    <div class='col-lg-8'>
      <%= form_for(@tchdetail, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        
        <div class="form-group"> <!-- name -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :name %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= f.text_field :name, class: "form-control", placeholder: "YOUR FULL NAME AS PER IC", autofocus: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- IC -->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"I/C NO" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <%= f.text_field :ic_1, class: "form-control", placeholder: "", autofocus: true %>
            </div> <strong>-</strong>
            <div class="col-sm-2">
             <%= f.text_field :ic_2, class: "form-control", placeholder: "", autofocus: true %>
            </div> <strong>-</strong>
            <div class="col-sm-3">
              <%= f.text_field :ic_3, class: "form-control", placeholder: "", autofocus: true %>
            </div>         
          </div>
        </div>

        <div class="form-group"> <!-- PHONE-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Phone Number" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
             <%= f.text_field :phone_1, class: "form-control", placeholder: "AREA", autofocus: true %> 
            </div>
            -
            <div class="col-sm-3">
              <%= f.text_field :phone_2, class: "form-control", placeholder: "PHONE NUM", autofocus: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- MARITAL STATUS-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Marital Status" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <ul style="list-style-type:none">
                <li><%= radio_button_tag :marital, 'Married' %> Married </li>
                <li><%= radio_button_tag :marital, 'Single' %> Single </li>
                <li><%= radio_button_tag :marital, 'Others' %> Others </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- ADDRESS-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Phone Number" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
             <%= f.text_field :phone_1, class: "form-control", placeholder: "AREA", autofocus: true %> 
            </div>
            -
            <div class="col-sm-3">
              <%= f.text_field :phone_2, class: "form-control", placeholder: "PHONE NUM", autofocus: true %>
            </div>
          </div>
        </div>

        <div class="form-group"> <!-- HIGHEST EDUCATION-->
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= f.label :"Education Level" %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <ul style="list-style-type:none">
                <li><%= radio_button_tag :education, 'PHD' %> PHD </li>
                <li><%= radio_button_tag :education, 'Master' %> Master </li>
                <li><%= radio_button_tag :education, 'Degree' %> Degree </li>
                <li><%= radio_button_tag :education, 'Diploma/STPM' %> Diploma/STPM </li>
                <li><%= radio_button_tag :education, 'SPM/SPMV/MCE/O-Level' %> SPM/SPMV/MCE/O-Level </li>
                <li><%= radio_button_tag :education, 'Sijil Kemahiran' %> Sijil Kemahiran </li>
                <li><%= radio_button_tag :education, 'Others' %> Others </li>
              </ul>
            </div>
          </div>
        </div>
              
        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>

  


