YOUR IDENTITY WILL BE KEPT CONFIDENTIAL<br><br>

  <strong>SERIES</strong>: <%= @course.college.name %> <br>
  <strong>SESSION</strong>: <%= @course.name %><br>
  <strong>DATE</strong>: <%= @course.start.strftime("%d/%m/%Y") %><br>

<br>
<div class="bg-white">
  <%= form_for(@anisfeed, :url => {:controller=>'anisfeeds', :action=>'anisfeed_save'}, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>
    <br>

    <!-- OVERALL RATING -->
    <div class="row"><div class="text-center col-sm-12 bg-light">
      <div style="background-color:#E86850"><font color="white">
        <h4>OVERALL SESSION</h4>
      </font></div>
    </div></div>
    <div class="form-group"> 
      <div class="control-label col-sm-12">
        <strong>OVERALL RATING</strong>
      </div>
      <div class="col-sm-6">
        <%= f.select :rate, options_for_select(["1",
                                                "2",
                                                "3",
                                                "4",
                                                "5"]),
            {include_blank: "Select Rating"}, {required: true} %> 
      </div>
    </div>

    <!-- PROGRAMS RATING -->
    <div class="form-group"> <!-- name -->
      <div class="control-label col-sm-12">
        <strong>WHAT DO YOU LIKE</strong>
      </div>
      <div class="col-sm-6">
        <%= f.text_area :good, class: "form-control", autofocus: true, required: true %>
      </div>
    </div>

    <div class="form-group"> <!-- name -->
      <div class="control-label col-sm-12">
        <strong>WHAT CAN BE IMPROVED</strong>
      </div>
      <div class="col-sm-6">
        <%= f.text_area :bad, class: "form-control", autofocus: true, required: true %>
      </div>
    </div>

    <br>
    <div class="row"><div class="text-center col-sm-12 bg-light">
      <div style="background-color:#E86850"><font color="white">
        <h4>INDIVIDUAL PROGRAMMES</h4>
      </font></div>
    </div></div><br>

    <% @course.anisprogs.where.not(name: "BREAK").order('start ASC').each do |prog| %>
      <%= f.fields_for :feedbacks do |h| %>
        <div class="form-group"> <!-- name -->
          <div class="control-label col-sm-12" style="background-color:#cce5cc">
            <strong>TOPIC : </strong><%= prog.name %><br>
            <strong>SPEAKER : </strong><%= prog.lec %><br>
            <strong>START : </strong><%= prog.start.strftime("%I:%M %p") %><br>
            <strong>END : </strong><%= prog.end.strftime("%I:%M %p") %><br>
          </div><br>
          <div class="control-label col-sm-8">
            <strong>RATING</strong>
          </div>
          <div class="col-sm-6">
            <%= h.select :rating, options_for_select(["1",
                                                      "2",
                                                      "3",
                                                      "4",
                                                      "5"]),
                {include_blank: "Select Rating"}, {required: true} %>
          </div>
        </div>
        <div class="form-group"> <!-- name -->
          <div class="control-label col-sm-12">
            <strong>COMMENTS (OPTIONAL)</strong>
          </div>
          <div class="col-sm-6">
            <%= h.text_area :review, class: "form-control", autofocus: true %>
          </div>
        </div>
        <%= h.hidden_field :anisprog_id, value: prog.id %>
      <% end %>
    <% end %>


    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.hidden_field :tchdetail_id, value: @tchdetail.id %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "SUBMIT FEEDBACK", class: 'btn btn-primary btn-m' %>
      </div>
    </div>

  <% end %>
</div>