YOUR IDENTITY WILL BE KEPT CONFIDENTIAL<br><br>

  <strong>SERIES</strong>: <%= @course.college.name %> <br>
  <strong>SESSION</strong>: <%= @course.name %><br>
  <strong>DATE</strong>: <%= @course.start.strftime("%d/%m/%Y") %><br>

<br>
<div class="bg-white">

  <%= form_for(@anisfeed, :url => {:controller=>'anisfeeds', :action=>'anisfeed_save'}, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>
    <br>
    <!-- OVERALL RATING -->
    <div class="form-group"> 
      <div class="control-label col-sm-12">
        <strong>OVERALL RATING</strong>
      </div>
      <div class="col-sm-6">
        <%= f.select :rate, options_for_select(["1",
                                                "2",
                                                "3",
                                                "4",
                                                "5"]),
            {include_blank: "Select Rating"}, {required: true} %> 
      </div>
    </div>

    <!-- PROGRAMS RATING -->
    <div class="form-group"> <!-- name -->
      <div class="control-label col-sm-2">
        <strong>GOOD</strong>
      </div>
      <div class="col-sm-6">
        <%= f.text_area :good, class: "form-control", autofocus: true, required: true %>
      </div>
    </div>

    <div class="form-group"> <!-- name -->
      <div class="control-label col-sm-2">
        <strong>BAD</strong>
      </div>
      <div class="col-sm-6">
        <%= f.text_area :bad, class: "form-control", autofocus: true, required: true %>
      </div>
    </div>

    <% @course.anisprogs.order('start ASC').each do |prog| %>
      <%= f.fields_for :feedbacks do |h| %>
        <div class="form-group"> <!-- name -->
          <div class="control-label col-sm-8">
            <strong>TOPIC :</strong><%= prog.name %><br>
            <strong>LECTURER :</strong><%= prog.lec %><br>
          </div>
          <div class="col-sm-6">
            <%= h.select :rating, options_for_select(["1",
                                                      "2",
                                                      "3",
                                                      "4",
                                                      "5"]),
                {include_blank: "Select Rating"}, {required: true} %>
          </div>
        </div>
        <div class="form-group"> <!-- name -->
          <div class="control-label col-sm-2">
            <strong>COMMENTS(OPTIONAL)</strong>
          </div>
          <div class="col-sm-6">
            <%= h.text_area :review, class: "form-control", autofocus: true %>
          </div>
        </div>
        <%= h.hidden_field :anisprog_id, value: prog.id %>
      <% end %>
    <% end %>


    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.hidden_field :tchdetail_id, value: @tchdetail.id %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "SUBMIT FEEDBACK", class: 'btn btn-primary btn-m' %>
      </div>
    </div>

  <% end %>
</div>