<%= form_for(:ptnssp, :url => ptns_sp_reg_path, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <!-- name -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA PENUH</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :name,  class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
          Sila Nyatakan Nama Anda
      </div>

      <!-- strength -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>KEKUATAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_area :strgh, size: "30x10", class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
          Sila nyatakan minima 3 perkara
      </div>

      <!-- WEAKNESS -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>KELEMAHAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_area :wkns, size: "30x10",class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
          Sila nyatakan minima 3 perkara
      </div>

      <!-- OPPORTUNITY -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>PELUANG</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_area :opp, size: "30x10",class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
          Sila nyatakan minima 3 perkara
      </div>

      <!-- THREAT -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ANCAMAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_area :thr, size: "30x10", class: "form-control", autofocus: true, required: true %>
          </div>
        </div>
          Sila nyatakan minima 3 perkara
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"HANTAR",  class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>

    <% end %>