<div class="col-md-12">
  <% data_form = "Taska_try" %>
  <% data_field = "taska_rating" %> <!--the field for the stars -->
    <% (1..5).each do |i| %>
      <h1 id="rating_<%= data_form %>_<%= i %>" 
          data-form="<%= data_form %>" 
          data-stars="<%= i %>" 
          data-field="<%= data_field %>"
          class="rating-star glyphicon glyphicon-star-empty">
      </h1>
    <% end %>    
</div>

<div class="col-md-12">
  <% data_form = "Classroom_try" %>
  <% data_field = "classroom_rating" %> <!--the field for the stars -->
    <% (1..5).each do |i| %>
      <h1 id="rating_<%= data_form %>_<%= i %>" 
          data-form="<%= data_form %>" 
          data-stars="<%= i %>" 
          data-field="<%= data_field %>"
          class="rating-star glyphicon glyphicon-star-empty">
      </h1>
    <% end %>
</div>

<script>
  $(document).trigger(
  $(document).on('ready turbolinks:load',function(){
  $('.rating-star').click(function(){
    var star = $(this);
    var data_form = $(this).attr('data-form');
    var data_field = $(this).attr('data-field');
    var stars = $(this).attr('data-stars');

    for (i=1;i<=5;i++){
      if(i <= stars){
        $('#' + 'rating' + '_' + data_form + '_' + i).removeClass('glyphicon glyphicon-star-empty');
        $('#' + 'rating' + '_' + data_form + '_' + i).addClass('glyphicon glyphicon-star');
      } else {
        $('#' + 'rating' + '_' + data_form + '_' + i).removeClass('glyphicon glyphicon-star');
        $('#' + 'rating' + '_' + data_form + '_' + i).addClass('glyphicon glyphicon-star-empty');
      }
    }
    $('#' + data_field).val(stars);
    $('#' + 'feedback').val(stars);
  });
}));
</script>