<!-- DataTables Example -->
<div class="card mb-3">
<div class="card-header">
  <i class="fas fa-table"></i>
  Data Table Example</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th> College Name </th>
          <th> College Address </th>
          <th> Action </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th> College Name </th>
          <th> College Address </th>
          <th> Action </th>
        </tr>
      </foot>
      <tbody>
        <% @college_list.each do |college| %>
        <tr>
          <td><%= college.name %></td>
          <td><%= college.address %></td>
          <% if !@teacher.colleges.where(id: college.id).present? %>
            <td>
              <p align="center"><%= link_to "Add College", add_college_path(college: college), class: "btn btn-mini btn-primary active", method: :post %></p>
            </td>
          <% else %>
            <td>
              <p align="center"><button class= "btn btn-mini btn-success active">Already Added</button></p>
            </td>
          <% end %>
        </tr>
         <% end %>
      </tbody>
    </table>
  </div>
</div>

    
    <%= render 'js-script/datatables-demo' %>
    <%= render 'js-script/jquery-datatables' %>
    