<h3> Viewing College for <%= @teacher.username %> </h3>

<% if @teacher.colleges.present? %>
	<table class="table table-striped">
			<thead>
				<tr>
					<th> College Name </th>
					<th> Payment Status </th>
          <th> Action </th>
				</tr>
				<% @teacher.colleges.each do |college| %>
					<tbody>
						<tr>
							<td><%= college.name %></td>
							<td>
                <%= link_to "DUE", root_path, class: "btn btn-sm btn-success active", method: :delete, data: {confirm: "Are You Sure?"} %> 
              </td>
              <td>
                <%= link_to "View College", show_teacher_path(@teacher, college: college), class: "btn btn-sm btn-primary active" %> &nbsp
                <%= link_to "Remove", remove_college_path(@teacher, college: college), class: "btn btn-sm btn-danger active", method: :post %>
              </td>
						</tr>
					</tbody>
				<% end %>
			</thead>
		</table>
<% else %>
	No Colleges to display. Please add college below
<% end %>

<caption> Add New College </caption>
<table class="table table-striped">
	<thead>
		<tr>
			<th> College Name </th>
			<th> Action </th>
		</tr>
			<tbody>
				<% @college_list.each do |college| %>
				<tr>
					<td><%= college.name %></td>
					<% if !@teacher.colleges.where(id: college.id).present? %>
						<td>
							<%= link_to "Add College", add_college_path(college: college), class: "btn btn-xs btn-primary active", method: :post %>
						</td>
					<% else %>
						<td>
							<button class= "btn btn-sm btn-success active">Already Added</button></br></br>
						</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		
	</thead>
</table>

