<h1>Search Teacher ID:<%= params[:id] %></h1>

<div id="teacher-lookup"> <!-- From Finance Tracker views/users/myportfolio.html  -->
	<%= form_tag find_teacher_path, remote: true, method: :get, id: "find_teacher" do %>
		<div class="form-group row no-padding text-center col-md-8">
      		<div class="col-md-4">
      			<%= text_field_tag :email,  params[:email], 
                    placeholder: "email", 
                    autofocus: true,  
                   	class: "form-control search-box input-lg" %>
      		</div>
      		<div class="col-md-4">
      			<%= text_field_tag :username, params[:username], 
                    placeholder: "username", 
                    autofocus: true,  
                   	class: "form-control search-box input-lg" %>
      		</div>                    
      		<div class="col-md-2">
        		<%= button_tag(type: :submit, class: "btn btn-lg btn-success active", id: "submit_expense") do %>
          			<i class="fa fa-search"></i> Find Teacher
        		<% end %>
    		</div>
      	</div>
	<%end%>		
</div>

<div id="result_teacher">
    <%= render 'teachers/result' %> 
</div>