
<% if !@teacher.taska_teachers.present? || !@teacher.taska_teachers.last.stat %>
  <!-- REGISTER NEW TASKA -->
  <div class="col-sm-12 bg-white">
    <%= form_tag tch_find_taska_path, remote: true, method: :get, id: "find_kid" do %>
      <div class="form-group text-center col-md-12">
        <br><strong>PLEASE SEARCH FOR A TASKA<br><br></strong>
        <div class="row">
          <div class="control-label text-left col-sm-12">
            <strong>TASKA NAME</strong>
          </div>
          <div class="col-sm-12 col-12">
            <%= text_field_tag :name, params[:name], 
                    placeholder: "",
                    autofocus: true, 
                    class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
          </div><br><br>
          <div class="control-label text-left col-sm-12">
            <strong>TASKA ID</strong>
          </div> 
          <div class="col-sm-12 col-12">
            <%= text_field_tag :dom, params[:dom], 
                    placeholder: "",
                    autofocus: true, 
                    class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
          </div><br><br>              
          <div class="col-md-12">
            <%= button_tag(type: :submit, class: "btn btn-sm btn-success active", id: "submit_expense") do %>
                <i class="fa fa-search"></i> SEARCH
            <% end %>
          </div>
      </div><br>
        <div id="result_kid">
          <%= render 'teachers/resulttsk' %> 
        </div>
      </div>
    <%end%>
  </div><br>
<% else %>
  <% taska = @teacher.taska_teachers.where(stat: true).first.taska %>
  <% taska_name = taska.name %>
  <h6 class="card-title">
    <% image = taska.fotos.where(foto_name: "CENTER LOGO").first %>
      <% if image.present? && image.picture.present? %>
        <%= image_tag(image.picture.url, size: "50x50") %>
      <% end %><br>
    <%= taska_name %>
  </h6>
  
  <% if @teacher.classrooms.present? %>
    <!-- VIEW CURRENT TASKA -->
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="card-counter danger">
            <i class="fa fa-file-signature"></i>
            <span class="count-numbers">
              <%= @teacher.applvs.where(stat: ["PENDING","QUERIED"]).count %>
            </span>
            <span class="count-name">
              <a href="<%= tchleave_url(@teacher,
                                        app_a: "active",
                                        bel_a: "",
                                        stat_a: "",
                                        app_ar: "true",
                                        bel_ar: "false",
                                        stat_ar: "false",
                                        app_d: "show active",
                                        bel_d: "",
                                        stat_d: "")%>", 
              style="color:#fff">
                PENDING <br>LEAVES
              </a>
            </span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-counter primary">
            <i class="fa fa-hand-holding-usd"></i>
            <% psl = taska.payslips.where(teacher_id: @teacher.id) %>
            <span class="count-numbers"><%= psl.count %></span>
            <span class="count-name">
              <a href="<%= tchpslip_url(@teacher,
                                        tskid: taska.id)%>", 
              style="color:#fff">
                SALARY <br> SLIP
              </a>
            </span>
          </div>
        </div>

      </div>
    </div>
  <% else %>
    AWAITING APPROVAL FROM <strong><%= taska_name %></strong>
  <% end %>


<% end %>















