

<% if !@teacher.taska_teachers.present? || !@teacher.taska_teachers.last.stat %>
  <div class="col-sm-12 bg-white">
    <%= form_tag tch_find_taska_path, remote: true, method: :get, id: "find_kid" do %>
      <div class="form-group text-center col-md-12">
        <br><strong>PLEASE SEARCH FOR A TASKA<br><br></strong>
        <div class="row">
          <div class="control-label text-left col-sm-12">
            <strong>TASKA NAME</strong>
          </div>
          <div class="col-sm-12 col-12">
            <%= text_field_tag :name, params[:name], 
                    placeholder: "",
                    autofocus: true, 
                    class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
          </div><br><br>
          <div class="control-label text-left col-sm-12">
            <strong>TASKA ID</strong>
          </div> 
          <div class="col-sm-12 col-12">
            <%= text_field_tag :dom, params[:dom], 
                    placeholder: "",
                    autofocus: true, 
                    class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
          </div><br><br>              
          <div class="col-md-12">
            <%= button_tag(type: :submit, class: "btn btn-sm btn-success active", id: "submit_expense") do %>
                <i class="fa fa-search"></i> SEARCH
            <% end %>
          </div>
      </div><br>
        <div id="result_kid">
          <%= render 'teachers/resulttsk' %> 
        </div>
      </div>
    <%end%>
  </div><br>
  <%= link_to "ADD TASKA", tch_add_taska_path(@teacher, tsk_id: 1), class: "btn btn-sm btn-success active"%>
<% else %>
  VIEW TASKA
<% end %>