<!-- DISPLAY ALL PAYSLIPS -->

<div class="card ">
  <div class="card-header">
    PAYSLIPS LIST FOR <strong><%= @teacher.tchdetail.name.upcase %></strong>
  </div>
  <div class="card-body">
    <div class="container"><div class="row">
      <% image = @taska.fotos.where(foto_name: "CENTER LOGO").first %>
      <% @tchpayslips.where(notf: 1).each do |psl| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="frontside">
            <div class="card">
              <div class='col-lg-12 well'><br>
                <div class="row">
                  <div class="pull-right">
                    <% if image.present? && image.picture.present? %>
                      <%= image_tag(image.picture.url, size: "50x50") %>
                    <% end %>
                  </div>&nbsp&nbsp&nbsp&nbsp
                  <h4 align="center"><%= "#{$month_name[psl.mth]}-#{psl.year}" %></h4>
                  <br>
                </div><br>
              </div>
              <div class='col-lg-12'>
                <% gross = psl.amt.to_f + psl.alwnc.to_f + psl.addtn.to_f - psl.dedc.to_f %>
                <% nett = gross - psl.epf.to_f - psl.socs.to_f  %>
                <br><h5 align="center">RM <%= nett.round(2) %></h5><br>
              </div>
              <%= link_to viewpsl_path(psl: psl.id), class: "btn btn-sm btn-primary active" do %>
                <i class="fa fa-book-open"></i>&nbsp&nbsp VIEW
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div></div>
  </div>
</div>