<% if @course_payment.present? %>

  <div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-file-invoice-dollar"></i>
    Showing My Bills for <strong><%= @course.name %></strong>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th> DESCRIPTION </th>
            <th> AMOUNT </th>
            <th> ACTION </th>
          </tr>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th> DESCRIPTION </th>
            <th> AMOUNT </th>
            <th> ACTION </th>
          </tr>
        </foot>
        <tbody>
          <% @course_payment.each do |payment| %>
          <tr>
            <td><%= payment.description %></td>
            <td>RM <%= payment.amount %></td>
            <% if payment.paid %>
            <td>
              <%= link_to "VIEW RECEIPTS", course_payment_path(payment: payment), class: "btn btn-sm btn-success active" %>
            </td>
            <% else %>
              <td>
                <%= link_to "PAYBILLS", course_payment_path(payment: payment), class: "btn btn-sm btn-danger active" %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>

<% else %>

  No bills created for <%= @course.name %>

<% end %>