<h1> Teacher Pay Bill </h1>

<% if @course_payment.present? %>
  <table class="table table-striped">
    <header>Viewing All Bills for <%= @teacher.username %></header>
    <thead>
      <tr>
        <th> DESCRIPTION </th>
        <th> AMOUNT </th>
        <th> ACTION </th>
      </tr>
    </thead>
    <% @course_payment.each do |payment| %>
      <tbody>
        <tr>
          <td><%= payment.description %></td>
          <td>RM <%= payment.amount %></td>
          <% if payment.paid %>
          <td>
            <%= link_to "VIEW RECEIPTS", "#{$billplz}bills/#{payment.bill_id}", class: "btn btn-sm btn-success active" %>
          </td>
          <% else %>
            <td>
              <%= link_to "PAYBILLS", "#{$billplz}bills/#{payment.bill_id}", class: "btn btn-sm btn-danger active" %>
            </td>
          <% end %>
        </tr>
      </tbody>   
    <% end %>  
  </table>
<% else %>
  No bills created for <%= @course.name %>
<% end %>