<div class="bg-white">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="grid simple">
        <div class="grid-body no-border invoice-body"><br> 

          <div class="col-md-12"> 
            <% image = Taska.first.fotos.where(foto_name: "CENTER LOGO").first %>
            <% if image.picture.present? %>
              <a href="#">
                <% if @pdf %>
                  <%= wicked_pdf_image_tag(image.picture.url, size: "100x100") %>
                <% else %>
                  <%= image_tag(image.picture.url, size: "100x100") %>
                <% end %>
              </a>
            <% end %>
            <address>
              <strong><%= @taska.name.upcase %></strong><br>
              <%= @taska.address_1.upcase %><br>
              <%= @taska.address_2.upcase %><br>
              <%= @taska.city.upcase %>&nbsp
              <%= @taska.states.upcase %>&nbsp
              <%= @taska.postcode %><br>
              <%= @taska.phone_1 %>-<%= @taska.phone_2 %><br>
              <%= @taska.email %>
            </address>
          </div><br>

          <div class="col-md-12">
            <% if @payment.paid %>
              <h4>RECEIPT FOR ADRRESS:
            <% else %>
              <h4>INVOICE FOR ADDRESS:
            <% end %><br>
            <strong><%= @kb.clsname %></strong></h4>
          </div>

          <div class="clearfix"></div><br>
            <div class="col-md-12">
              <h4 class="semi-bold">
                <%= @kb.extra[0] %></h4>
              <address>
                <%= @kb.extra[1] %><br>
                <%= @kb.extra[2] %><br>
              </address>
            </div>

            <div class="col-md-12"><br>
              <div>
                <div class="pull-lefts"> BILL ID : <%= @payment.bill_id %></div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="pull-lefts"> BILL DATE : <%= @payment.created_at.strftime('%d-%^b-%y') %></div>
                <div class="clearfix"></div>
              </div>
              <div>
                <% if @payment.paid %>
                  <div class="pull-lefts"> PAYMENT DATE : <%= @payment.pdt.strftime('%d-%^b-%y') %></div>
                  <div class="pull-lefts"> PAYMENT METHOD : 
                    <% if 1==1 %>
                      <%= @payment.mtd %>
                    <% else %>
                      NORMAL BILLPLZ
                    <% end %>
                  </div>
                  <% if (image = @payment.fotos.first).present? && image.picture.present? %>
                    <div class="pull-left">
                      <a href="<%= image.picture.url %>" target="_blank">
                        <font color="blue">RECEIPT</font>
                      </a>
                    </div>
                  <% end %>
                <% end %>
                <div class="clearfix"></div>
              </div><br>
            </div>

            <%if 1==0 %>
              <% table_style = "table-responsive"%>
            <% end %>
            <table class="table <%= table_style %>">
              <thead>
                <tr>
                  <th class="text-left">BILL DETAILS FOR  <%= "#{$month_name[@payment.bill_month]}-#{@payment.bill_year}" %> </th>
                  <th></th>
                  <th style="width:140px" class="text-right">AMOUNT (RM)</th>
                </tr>
              </thead>
              <tbody>
                <% @kb.extradtl.each do |k,v| %>
                  <tr class="noBorder">
                    <td><%= k %></td>
                    <td></td>
                    <td class="text-right"><%= v.round(2) %></td>
                  </tr>
                <% end %>
                
                <tr>
                  <td class="text-right no-border" colspan="2">
                    <div class="well well-small green"><strong><h4>TOTAL</h4></strong></div>
                  </td>
                  <td class="text-right">
                    <strong>
                      <h4>
                        <% if 1==1 %>
                          <b><%= @payment.amount %></b>
                        <% else %>
                          <%= "(@payment.amount - parpm).round(2)" %>
                        <% end %>
                          
                      </h4>
                    </strong></td>
                </tr>
              </tbody>
            </table><br>

        </div>
        
      </div>

    </div>

  </div>
</div>