<div class="bg-white">
  <% if !@payment.paid %>
    <h1 style="text-align:right; padding-right: 20px">
      <%= link_to "#{ENV["BILLPLZ_URL"]}bills/#{@payment.bill_id}", class: "btn btn-sm btn-info shadow" do %>
        <i class="far fa-hand-pointer"></i> PAY NOW
      <% end %>
    </h1>
  <% end %>
  <div class="container"><br>
    <div style="font-size:20px">
      <b>Bill ID: </b><%= @payment.bill_id %>
    </div>
    <div class="container; col-md-12;" style="text-align:right"> 
      <% image = @payment.taska.fotos.where(foto_name: "CENTER LOGO").first %>
      <% if image.picture.present? %>
        <a href="<%= image.picture.url %>">
          <% if params[:pdf].present? %>
            <%= wicked_pdf_image_tag(image.picture.url, size: "150x150") %>
          <% else %>
            <%= image_tag(image.picture.url, size: "150x150") %>
          <% end %>
        </a>
      <% end %>
      <div style="padding-top: 5px">
        <div style="margin-bottom: -6px"><b style="font-size:18px"><%= @taska.name.upcase %></b></div>
        <%= "#{@taska.acc_name} (#{@taska.ssm_no})" %>
      </div>
    </div><br>

    <% if !@pdf %>
      <div class="row bg-light">
        <div class="col-md-6 col-6 bg-white" style="text-align:left">
          <div style="margin-bottom: -6px; margin-top: 1px">
            <b style="font-size:13px">Bill Date</b>
          </div>
          <%= @payment.created_at.strftime('%d-%^b-%y') %>
          <% if @payment.paid %>
            <br>
            <div style="margin-bottom: -6px"><b style="font-size:13px">Payment Date</b></div>
            <%= @payment.pdt.strftime('%d-%^b-%y') %>
            <br>
            <div style="margin-bottom: -6px"><b style="font-size:13px">Payment Method</b></div>
            <%= @payment.mtd %>
          <% end %>
        </div>
        <div class="col-md-6 col-6 bg-white" style="text-align:right">
          <div style="margin-bottom: -6px; margin-top: 1px">
            <b style="font-size:13px">Bill Date</b>
          </div>
          <%= @payment.created_at.strftime('%d-%^b-%y') %>
          <% if @payment.paid %>
            <br>
            <div style="margin-bottom: -6px"><b style="font-size:13px">Payment Date</b></div>
            <%= @payment.pdt.strftime('%d-%^b-%y') %>
            <br>
            <div style="margin-bottom: -6px"><b style="font-size:13px">Payment Method</b></div>
            <%= @payment.mtd %>
          <% end %>
        </div>     
      </div> <!-- DIV ROW -->
    <% else %> <!-- IF PRINT PDF -->
      <table class="table table-borderless table-sm" style="font-size:18px ">
        <tbody>
          <tr>
            <td>
              <b>Bill To:</b><br>
              <%= @kb.extra[0] %>
            </td>
            <td></td>
            <td style="text-align:right">
              <b>Bill Date:</b><br>
              <%= @payment.created_at.strftime('%d-%^b-%y') %>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-mobile"></i><br>
              <%= @kb.extra[1] %>
            </td>
            <td></td>
            <td style="text-align:right">
              <b>Payment Date:</b><br>
              <%= @payment.pdt.strftime('%d-%^b-%y') %>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-envelope"></i><br>
              <%= @kb.extra[2] %>
            </td>
            <td></td>
            <td style="text-align:right">
              <b>Payment Method:</b><br>
              <%= @payment.mtd %>
            </td>
          </tr>
        </tbody>    
        
      </table>
    <% end %>

  </div>
</div>










    

  