<h4>PLEASE CHOOSE A MONTH</h4><br>

<%= form_for(:payments, :url => {:controller=>'payments', :action=>'chek_bill'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
  <div class="form-group"> <!-- name -->
    <div class="container">
      <div class="row">
        <div class="control-label col-sm-2">
         <strong>MONTH</strong>
          <%= f.select :month, options_for_select(1..12),
              {include_blank: "Please Select"}, {required: true} %>
        </div>
        <div class="control-label col-sm-2">
         <strong>YEAR</strong>
          <%= f.select :year, options_for_select(2018..2021),
              {include_blank: "Please Select"}, {required: true} %>
        </div>
        <%= f.hidden_field :taska, value: params[:taska] %>
        <%= f.hidden_field :child, value: params[:child] %>
        <%= f.hidden_field :classroom, value: params[:classroom] %>
        <div class="control-label col-sm-2">
          <br>
          <%= f.submit :"CREATE BILL", class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<div class="card ">
  <div class="card-header">
    BILL LIST FOR <strong><%= @kid.name %></strong>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th style="background-color:#d8b2d8"> PERIOD </th>
            <th style="background-color:#d8b2d8"> AMOUNT(RM) </th>
            <th style="background-color:#d8b2d8"> STATUS </th>
            <th style="background-color:#d8b2d8"> ACTION </th>
          </tr>
        </thead>
        <tbody>
          <% counter = 1 %>
          <% @kid_bills.each do |bill| %>
          <% if bill.paid %>
            <% clr = "#7fbf7f" %>
            <% stat = "PAID" %>
          <% else %>
            <% clr = "#ffc04d" %>
            <% stat = "DUE" %>
          <% end %>
          <tr>
            <td><%= "#{$month_name[bill.bill_month]}-#{bill.bill_year}" %></td>
            <td><%= bill.amount %></td>
            <td style="background-color:<%= "#{clr}" %>"><%= stat %></td>
            <td>
              <% if stat == "PAID" %>
                <%= link_to bill_pdf_path(payment: bill.id, kid: @kid.id, taska: @taska.id, format: :pdf), class: "btn btn-sm btn-success active", target:"_blank" do %>
                  <i class="fa fa-download"></i> VIEW RECEIPT
                <% end %>
              <% elsif stat == "DUE" %>
                <%= link_to bill_view_path(payment: bill.id, kid: @kid.id, taska: @taska.id), class: "btn btn-sm btn-info active", target:"_blank" do %>
                  <i class="fa fa-eye"></i> VIEW BILL
                <% end %>
                <%= link_to payment_path(id: bill.id, taska_id: @taska.id, kid_id: @kid.id, gotb: "true"), method: :delete, :data => {:confirm => 'Are you sure?'}, class: "btn btn-sm active", style: "color:red" do %>
                  <i class="fa fa-trash"></i> DELETE
                <% end %>
              <% end %>
            </td>
          </tr>
          <% counter = counter + 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>