
<div class="card shadow mb-4">
  <div class="card-header">
    Bill List For <b><%= "#{@comm.description} #{@comm.classroom_name}" %></b>
  </div>
  <div class="card-body">
    <div class="table-responsive border">
      <%= form_for(:pmt, :url => {:controller=>'payments', :action=>'mtl_pmt'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ccccff">
                <%= f.submit :"ACTION", style: "align:center" %>
              </th>
              <th style="background-color:#ccccff">AMOUNT (RM)</th>
              <th style="background-color:#ccccff">STATUS</th>
              
            </tr>
          </thead>
          <tbody>
            <% @payments.each do |pyn| 
              if pyn.paid 
                msg = "Paid"
                clr = "#99cc99"
              else
                msg = "Unpaid"
                clr = "#ff9999"
              end
            %>
              <tr>
                <td>
                  <% if pyn.paid %> 
                    <%= link_to "Receipt", view_bill_path(id: pyn.id), class: "btn btn-sm btn-primary", target: "_blank" %>
                  <% else %>
                    <%= f.check_box :"#{pyn.id}", checked: false %> Pay
                  <% end %>
                </td>
                <td><%= pyn.amount.round(2) %></td>
                <td style="background-color:<%= clr %>">
                  <a href="<%= view_bill_url(id: pyn.id)%>" target="_blank"><b><%= msg %></b></a>
                </td>
                
              </tr>
            <% end %> <!-- END LOOP -->
          </tbody>

        </table>
      <% end %>
    </div>
  </div>
</div>