
<div class="card shadow mb-4">
  <div class="card-header">
    Bill List For <b><%= "#{@comm.description} #{@comm.classroom_name}" %></b>
  </div>
  <div class="card-body">
    <div class="table-responsive border">
      <%= form_for(:pmt, :url => {:controller=>'payments', :action=>'mtl_pmt'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
        <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ccccff">BILL DATE</th>
              <th style="background-color:#ccccff">PERIOD</th>
              <th style="background-color:#ccccff">AMOUNT (RM)</th>
              <th style="background-color:#ccccff">STATUS</th>
              <th style="background-color:#ccccff">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <% @payments.each do |pyn| 
              if pyn.paid 
                msg = "Paid"
                clr = "#99cc99"
              else
                msg = "Unpaid"
                clr = "#ff9999"
              end
            %>
              <tr>
                <td><%= pyn.created_at.strftime('%d-%b-%Y') %></td>
                <td><%= "#{pyn.bill_month}-#{pyn.bill_year}"%></td>
                <td><%= pyn.amount.round(2) %></td>
                <td style="background-color:<%= clr %>">
                  <b><%= msg %></b>
                </td>
                <td>
                  <% if pyn.paid %> 
                    <%= link_to "Receipt", view_bill_path(id: pyn.id), class: "btn btn-sm btn-primary", target: "_blank" %>
                  <% else %>
                    <%= f.check_box :"#{pyn.id}", checked: false %> Click and Enter To Pay
                  <% end %>
                </td>
              </tr>
            <% end %> <!-- END LOOP -->
          </tbody>
        </table>
        <%= f.submit :"UPDATE",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
      <% end %>
    </div>
  </div>
</div>