
<% total_bills = 0 %>
<% total_paid = 0 %>
<% total_due = 0 %>

<div class="results-block col-md-12"">
	<caption><h3>Displaying bills for month <%= @month %> of <%= @year %></h3><h5><%= link_to 'SEARCH OTHER MONTHS BILLS',payment_index_path(@taska), class: "btn btn-xs btn-primary active" %></h5></caption>
  <table class="table table-striped table-bordered">
    <thead>   	
       <tr data-toggle="collapse" data-target="#accordion" class="clickable">
        <th>NAME</th>
        <th>PARENTS</th>
        <th>CLASSROOM</th>     
        <th>ACTION</th>

      </tr>
    </thead>

    <tbody><!-- from /view/classroom/show -->
    	<% @taska_classrooms.each do |classroom| %>
        <% classroom.kids.each do |child| %>
        <tr>
          <td><%= child.name %></td>
          <td><%= child.parent.username %></td>
          <td><%= child.classroom.classroom_name %></td>
          <% if child.payments.where(bill_month: @month).count > 0 %>
          	<% if child.payments.where(paid: false).count > 0 %>
          		<td><%= link_to "View Unpaid Bills", view_bill_path(kid: child, month: @month, year: @year), class: "btn btn-xs btn-danger active"%></td>
          	<% else %>
          		<td><%= link_to "View Bills", view_bill_path(kid: child, month: @month, year: @year), class: "btn btn-xs btn-success active"%></td>
          	<% end %>
          		<% child.payments.each do |bill| %>
          			<% total_bills = total_bills + bill.amount %>
          			<% if bill.paid? %>
          				<% total_paid = total_paid + bill.amount %>
          			<% else %>
          				<% total_due = total_due + bill.amount %>
          			<% end %>
          		<% end %>
          	

          <% else %>
          <td><%= link_to "Create Bills", new_bill_path(child: child, month: @month, year: @year), class: "btn btn-xs btn-primary active"%></td>
          <% end %>
        </tr>
      </div>
        <% end %>
      <% end %>
        
    </tbody>
  </table>
</div>
<div class="col-md-4">
TOTAL BILLS: <h3>RM <%= total_bills %></h3>
</div>
<div class="col-md-4">
TOTAL PAID: <h3>RM <%= total_paid %></h3>
</div>
<div class="col-md-4">
TOTAL DUE: <h3>RM <%= total_due %></h3>
</div>

















