
<div class="page-content">
  <% if true %>
    <h1 align="center"><%= link_to "PAID", "#", class: "btn btn-lg btn-success shadow" %></h1>
  <% elsif 1==1 %>
    
    <h1 align="center"><%= link_to "RM 50 BALANCE PAYMENT", "#", class: "btn btn-sm btn-warning" %></h1>
  <% else %>
    <h1 align="center"><%= link_to "PENDING PAYMENT", "#", class: "btn btn-sm btn-danger active" %></h1>
  <% end %>
    
    
  <% if 1==1 %>
    <h1 align="right">
      <%= link_to "bill_links", class: "btn btn-md btn-info shadow" do %>
        <i class="far fa-hand-pointer"></i> PAY
      <% end %>
    </h1>
  <% end %>
</div>

<div class="content bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body no-border invoice-body"><br> 

          <div class="col-md-12"> 
            <% image = Taska.first.fotos.where(foto_name: "CENTER LOGO").first %>
            <% if image.picture.present? %>
              <a href="#">
                <% if @pdf %>
                  <%= wicked_pdf_image_tag(image.picture.url, size: "100x100") %>
                <% else %>
                  <%= image_tag(image.picture.url, size: "100x100") %>
                <% end %>
              </a>
            <% end %>
            <address>
              <strong><%= @taska.name.upcase %></strong><br>
              <%= @taska.address_1.upcase %>
              <%= @taska.address_2.upcase %><br>
              <%= @taska.city.upcase %>&nbsp
              <%= @taska.states.upcase %>&nbsp
              <%= @taska.postcode %><br>
              <%= @taska.phone_1 %>-<%= @taska.phone_2 %><br>
              <%= @taska.email %>
            </address>
          </div><br>

          <div class="col-md-12">
            <% if 1==1 %>
              <h4>RECEIPT FOR 
            <% else %>
              <h4>INVOICE FOR 
            <% end %>
              <strong><%= "@kid.name.upcase" %></strong></h4>
            <h6><%= "@kid.ic_1" %>-<%= "@kid.ic_2" %>-<%= "@kid.ic_3" %></h6>
          </div>

          <div class="clearfix"></div><br>
            <div class="col-md-12">
              <h4 class="semi-bold">
                EN <%= "@kid.father_name.upcase" %> / PN <%= "@kid.mother_name.upcase" %></h4>
              <address>
                <%= "@kid.father_phone" %><br>
                <%= "@kid.mother_phone" %><br>
              </address>
            </div>

            <div class="col-md-12"><br>
              <div>
                <div class="pull-left"> BILL ID : <%= @payment.bill_id %></div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="pull-left"> BILL DATE : <%= @payment.created_at.strftime("%b %d, %Y") %></div>
                <div class="clearfix"></div>
              </div>
              <div>
                <% if 1==1 %>
                <div class="pull-left"> PAYMENT DATE : <%= @payment.updated_at.strftime("%b %d, %Y") %></div><br>
                <div class="pull-left"> PAYMENT METHOD : 
                  <% if 1==1 %>
                    <%= "mtd" %>
                  <% else %>
                    NORMAL BILLPLZ
                  <% end %>
                </div><br>
                <% if (image = @payment.fotos.first).present? && image.picture.present? %>
                  <div class="pull-left">
                    <a href="<%= image.picture.url %>" target="_blank">
                      <font color="blue">RECEIPT</font>
                    </a>
                  </div>
                <% end %>
                <% end %>
                <div class="clearfix"></div>
              </div><br>
            </div>

            <%if 1==0 %>
              <% table_style = "table-responsive"%>
            <% end %>
            <table class="table <%= table_style %>">
              <thead>
                <tr>
                  <th class="text-left">BILL DETAILS FOR <%= "Mus" %> <%= "@payment.bill_year" %> </th>
                  <th></th>
                  <th style="width:140px" class="text-right">AMOUNT (RM)</th>
                </tr>
              </thead>
              <tbody>
                <% [1,1,1,1].each do |kb| %>
                  <tr>
                    <td colspan="3">
                      <strong><%= "kb.kid.name" %></strong>
                    </td>
                    <tr class="noBorder">
                      <% if 1==1 %>
                        <td>FEE FOR CLASSROOM <%= "kb.clsname.upcase" %></td>
                        <td></td>
                        <td class="text-right"><%= "kb.clsfee" %></td>
                        </tr>
                      <% elsif "TASKA BOOKING" == "TASKA BOOKING" %>
                        <td>BOOKING FEE FOR <%= "@taska.name.upcase" %></td>
                        <td></td>
                        <td class="text-right"><%= "@payment.amount" %></td>
                      <% end %>
                    </tr>
                    <% if 1==1 %>
                      <tr class="noBorder">
                        <td>OVERTIME (<%= "otk.descotk" %>)</td>
                        <td></td>
                        <td class="text-right"><%= "otk.amt" %></td>
                      </tr>
                    <% end %>
                    <% [1,1,1].each do |k|%>
                      <tr class="noBorder">
                        
                          <% #extra = Extra.find(id) %>
                          <td><%= k %></td>
                          <td></td>
                          <td class="text-right"><%= k %></td>
                        
                      </tr>
                    <% end %>
                    </tr>
                  </tr>
                <% end %>
                <tr>
                  <td class="text-left no-border" colspan="2">
                    <strong>ADDITIONAL DESCRIPTION</strong><br>
                    <%= "@payment.description" %>
                  </td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <td class="text-right no-border" colspan="2">
                    <strong>ADDITIONAL CHARGE</strong><br>
                    <%= "@payment.addtns.first.desc" %>
                  </td>
                  <td class="text-right"><%= "@payment.addtns.first.amount.to_f" %></td>
                </tr>
                <tr>
                  <td class="text-right no-border" colspan="2"><strong>DISCOUNT</strong></td>
                  <td class="text-right">(<%= "@payment.discount.to_f" %>)</td>
                </tr>
                
                <tr>
                  <td class="text-right no-border" colspan="2">
                    <div class="well well-small green"><strong><h4>TOTAL</h4></strong></div>
                  </td>
                  <td class="text-right">
                    <strong>
                      <h4>
                        <% if 1==1 %>
                          <%= "@payment.amount" %>
                        <% else %>
                          <%= "(@payment.amount - parpm).round(2)" %>
                        <% end %>
                          
                      </h4>
                    </strong></td>
                </tr>
              </tbody>
            </table><br><br><br><br>

        </div>
        <% if 1==1 %>
          <%= link_to view_bill_path(format: :pdf), class: 'btn btn-sm btn-success active' do %>
            <i class="fa fa-download"></i>&nbspDOWNLOAD
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>




