
<div class="col-lg-8"><div class="page-content">
  <% if @payment.paid %>
    <h1 align="center"><%= link_to "PAID", "#", class: "btn btn-lg btn-success shadow" %></h1>
  <% elsif 1==0 %>
    
    <h1 align="center"><%= link_to "RM 50 BALANCE PAYMENT", "#", class: "btn btn-sm btn-warning" %></h1>
  <% else %>
    <h1 align="center"><%= link_to "PENDING PAYMENT", "#", class: "btn btn-sm btn-danger active" %></h1>
  <% end %>
    
    
  <% if !@payment.paid %>
    <h1 align="right">
      <%= link_to "#{ENV["BILLPLZ_URL"]}bills/#{@payment.bill_id}", class: "btn btn-md btn-info shadow" do %>
        <i class="far fa-hand-pointer"></i> PAY NOW
      <% end %>
    </h1>
  <% end %>
</div>

<%= render 'payments/bill' %>

<% if @payment.paid && params[:pdf].blank? %>
  <%= link_to view_bill_path(format: :pdf, id: @payment.id, pdf: 1), class: 'btn btn-sm btn-success active' do %>
    <i class="fa fa-download"></i>&nbspDOWNLOAD
  <% end %>
<% elsif params[:pdf].present? %>
  <b>Powered by</b> <u><font style="color:blue">www.kota.my</font></u> &nbsp 
  <%= wicked_pdf_image_tag('kidcare_logo/kota_logo_full.png', size: "87x30") %>
<% end %>





