
<div class="page-content">
  <% if true %>
    <h1 align="center"><%= link_to "PAID", "#", class: "btn btn-lg btn-success shadow" %></h1>
  <% elsif 1==1 %>
    
    <h1 align="center"><%= link_to "RM 50 BALANCE PAYMENT", "#", class: "btn btn-sm btn-warning" %></h1>
  <% else %>
    <h1 align="center"><%= link_to "PENDING PAYMENT", "#", class: "btn btn-sm btn-danger active" %></h1>
  <% end %>
    
    
  <% if 1==1 %>
    <h1 align="right">
      <%= link_to "bill_links", class: "btn btn-md btn-info shadow" do %>
        <i class="far fa-hand-pointer"></i> PAY
      <% end %>
    </h1>
  <% end %>
</div>

<div class="content bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body no-border invoice-body"><br> 

          <div class="col-md-12"> 
            <% image = Taska.first.fotos.where(foto_name: "CENTER LOGO").first %>
            <% if image.picture.present? %>
              <a href="#">
                <% if @pdf %>
                  <%= wicked_pdf_image_tag(image.picture.url, size: "100x100") %>
                <% else %>
                  <%= image_tag(image.picture.url, size: "100x100") %>
                <% end %>
              </a>
            <% end %>
            <address>
              <strong><%= "@taska.name.upcase" %></strong><br>
              <%= "@taska.address_1.upcase " %>
              <%= "@taska.address_2.upcase" %><br>
              <%= "@taska.city.upcase" %>&nbsp
              <%= "@taska.states.upcase" %>&nbsp
              <%= "@taska.postcode" %><br>
              <%= "@taska.phone_1 "%>-<%= "@taska.phone_2" %><br>
              <%= "@taska.email" %>
            </address>
          </div><br>

          <div class="col-md-12">
            <% if 1==1 %>
              <h4>RECEIPT FOR 
            <% else %>
              <h4>INVOICE FOR 
            <% end %>
              <strong><%= "@kid.name.upcase" %></strong></h4>
            <h6><%= "@kid.ic_1" %>-<%= "@kid.ic_2" %>-<%= "@kid.ic_3" %></h6>
          </div>

          <div class="clearfix"></div><br>
            <div class="col-md-12">
              <h4 class="semi-bold">
                EN <%= "@kid.father_name.upcase" %> / PN <%= "@kid.mother_name.upcase" %></h4>
              <address>
                <%= "@kid.father_phone" %><br>
                <%= "@kid.mother_phone" %><br>
              </address>
            </div>

            <div class="col-md-12"><br>
              <div>
                <div class="pull-left"> BILL ID : <%= @payment.bill_id %></div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="pull-left"> BILL DATE : <%= @payment.created_at.strftime("%b %d, %Y") %></div>
                <div class="clearfix"></div>
              </div>
              <div>
                <% if 1==1 %>
                <div class="pull-left"> PAYMENT DATE : <%= @payment.updated_at.strftime("%b %d, %Y") %></div><br>
                <div class="pull-left"> PAYMENT METHOD : 
                  <% if 1==1 %>
                    <%= "mtd" %>
                  <% else %>
                    NORMAL BILLPLZ
                  <% end %>
                </div><br>
                <% if (image = @payment.fotos.first).present? && image.picture.present? %>
                  <div class="pull-left">
                    <a href="<%= image.picture.url %>" target="_blank">
                      <font color="blue">RECEIPT</font>
                    </a>
                  </div>
                <% end %>
                <% end %>
                <div class="clearfix"></div>
              </div><br>
            </div>

        </div>
        <% if 1==1 %>
          <%= link_to view_bill_path(format: :pdf), class: 'btn btn-sm btn-success active' do %>
            <i class="fa fa-download"></i>&nbspDOWNLOAD
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>




