<div class='row'>
  <div class='col-lg-8 col-12'>
    <%= form_for(@ptnsmmb, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group"> <!-- name -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA PENUH</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :name, class: "form-control", placeholder: "SEPERTI KAD PENGENALAN", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <!-- DOB -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TARIKH LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.date_select :dob, 
                              {order:[:day, :month, :year],
                              prompt: { day: 'HARI', month: 'BULAN', year: 'TAHUN' },
                              start_year: 1930,
                              selected: @ptnsmmb.dob}, 
                              {required: true} %>
          </div>
        </div>
      </div>

      <!-- DOB -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong> GAMBAR PASSPORT</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ptnsmmb.fotos.where(foto_name: "PTNS MMB").first %>
            <% if image.present? %>
              <%= image_tag(image.picture.url, size: "200x200") if image.picture? %>
                <div class="row">
                <div class="col-sm-8 col-5">
                </div>
                </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "PTNS MMB" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- EMAIL -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>EMAIL</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.email_field :email, class: "form-control", autofocus: true %>
            </div>
          </div>
        </div>

      <!-- IC -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO KAD PENGENALAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-4">
            <%= f.text_field :ic1, maxlength: 6 ,class: "form-control", autofocus: true, required: true %>
          </div> <strong>-</strong>
          <div class="col-sm-2 col-3">
           <%= f.text_field :ic2, maxlength: 2, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div> <strong>-</strong>
          <div class="col-sm-3 col-4">
            <%= f.text_field :ic3, maxlength: 4, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>         
        </div>
      </div>

      <!-- MAIN PHONE -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON ANDA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-3">
           <%= f.text_field :ph1, maxlength: 3, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div> <strong>-</strong>
          <div class="col-sm-3 col-4">
            <%= f.text_field :ph2, maxlength: 8, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>      
        </div>
      </div>

      <!-- HIGHEST EDUCATION-->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TAHAP PENDIDIKAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-8">
            <%= f.select :edu, options_for_select(["PHD", 
                                                  "Master", 
                                                  "Degree",
                                                  "Diploma/STPM",
                                                  "SPM/SPMV/MCE/O-Level",
                                                  "Sijil Kemahiran",
                                                  "Others"
                                                  ], 
                                                  selected: @ptnsmmb.edu), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <!-- MEMBERSHIP TYPE-->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JENIS KEAHLIAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-8">
            <%= f.select :mmb, 
            options_for_select(
            ["KEMASKINI MAKLUMAT SAHAJA",
            "AHLI BIASA BAHARU(RM 30 setahun termasuk RM 10 yuran pendaftaran)", 
            "AHLI INSTITUSI BAHARU(RM 60 setahun termasuk RM 10 yuran pendaftaran)", 
            "MEMPERBAHARUI KEAHLIAN BIASA(RM 20 setahun)",
            "MEMPERBAHARUI KEAHLIAN INSTITUSI(RM 50 setahun)"
            ], 
            selected: @ptnsmmb.mmb), 
            {include_blank: "SILA PILIH"}, {required: true} %>
          </div>
        </div>
      </div>

      <!-- ADDRESS-->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAMAT KEDIAMAN ANDA</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
           <%= f.text_field :add1, class: "form-control", autofocus: true, required: true %> <font size="2">&nbsp</font>
          </div>
          <div class="col-sm-8 col-12">
           <%= f.text_field :add2, class: "form-control", autofocus: true %> <font size="2">&nbsp</font>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-6">
           <%= f.text_field :city, class: "form-control", autofocus: true, required: true %> <font size="2"> Bandar </font>
          </div>
          <div class="col-sm-3 col-5">
           <%= f.text_field :state, class: "form-control", autofocus: true, required: true %> <font size="2"> Negeri </font>
          </div>
          <div class="col-sm-2 col-4">
           <%= f.number_field :postcode, class: "form-control", autofocus: true, required: true %> <font size="2"> Poskod </font>
          </div>
        </div>
      </div>

      <br><div class="col-sm-10" style="background-color:green">
        <font color="white"><h6>ABAIKAN RUANGAN DIBAWAH JIKA ANDA TIDAK BEKERJA/MEMILIKI TASKA/PJKK</h6></font>
      </div><br>

      <!-- TASKA DETAILS -->
      <!-- taska name -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TASKA/PJKK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :ts_name, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>

      <!-- taska owner name -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ORANG YANG BOLEH DIHUBUNGI</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :ts_owner, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>

      <!-- Taska PHONE-->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO TELEFON TASKA/PJKK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-3">
           <%= f.text_field  :ts_ph1, maxlength: 3, class: "form-control", autofocus: true %><font size="2"></font> 
          </div>
          -
          <div class="col-sm-3 col-5">
            <%= f.text_field  :ts_ph2, maxlength: 8, class: "form-control", autofocus: true %><font size="2"></font> 
          </div>
        </div>
      </div>

      <!-- TASKA ADDRESS-->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>ALAMAT TASKA/PJKK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
           <%= f.text_field :ts_add1, class: "form-control", autofocus: true %> <font size="2"> &nbsp </font>
          </div>
          <div class="col-sm-8 col-12">
           <%= f.text_field :ts_add2, class: "form-control", autofocus: true %> <font size="2"> &nbsp </font>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-6">
           <%= f.text_field :ts_city, class: "form-control", autofocus: true %> <font size="2"> Bandar </font>
          </div>
          <div class="col-sm-3 col-5">
           <%= f.text_field :ts_state, class: "form-control", autofocus: true %> <font size="2"> Negeri </font>
          </div>
          <div class="col-sm-2 col-4">
           <%= f.number_field :ts_postcode, class: "form-control", autofocus: true %> <font size="2"> Poskod </font>
          </div>
        </div>
      </div>

      <!-- TASKA STATUS-->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>STATUS TASKA/PJKK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-8">
            <%= f.select :ts_status, options_for_select(["BERDAFTAR", 
                                                      "DALAM PROSES", 
                                                      "TIDAK BERDAFTAR"
                                                      ], 
                                                      selected: @ptnsmmb.ts_status), 
            {include_blank: "SILA PILIH"} %>
          </div>
        </div>
      </div>

      <!-- YOUR ROLE-->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>JAWATAN ANDA DI TASKA/PJKK</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-8">
            <%= f.select :ts_job, options_for_select(["Pengusaha/Pengerusi", 
                                                      "Pengurus/Penyelia", 
                                                      "Pengasuh"
                                                      ], 
                                                      selected: @ptnsmmb.ts_job), 
            {include_blank: "SILA PILIH"} %>
          </div>
        </div>
      </div>




      <!-- SUBMIT BUTTON -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"HANTAR",  class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
    <% end %>
      
  </div>
</div>

