<br><br>
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" align="center"><%= @mmb.name %> 
        <% if @mmb.mmbid.present? %>
        (<%= @mmb.mmbid %>)
        <% end %>
      </h3>
      <% if @mmb.expire.present? %>
      <h4 class="panel-title" align="center"><%= @mmb.expire.strftime("%d-%m-%y") %></h4>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="row">
        

      <div class=" col-md-9 col-lg-9"> 

        <div class="table-responsive">
          
          <table class="table table-striped" id="" width="100%" cellspacing="0">
            <tbody>

              <tr>
                <td><strong>NO TELEFON:</strong></td>
                <td>
                  <%= "#{@mmb.ph1}-#{@mmb.ph2}" %>
                </td>
              </tr>
              <tr>
                <td><strong>NO KAD PENGENALAN:</strong></td>
                <td>
                  <%= "#{@mmb.ic1}-""#{@mmb.ic2}-""#{@mmb.ic3}" %>
                </td>
              </tr>
              <tr>
                <td><strong>TARIKH LAHIR:</strong></td>
                <td>
                  <%= @mmb.dob.strftime("%d/%m/%Y") %>
                </td>
              </tr>
              <tr>
                <td><strong>JENIS KEAHLIAN:</strong></td>
                <td>
                  <%= @mmb.mmb %>
                </td>
              </tr>
              <tr>
                <td><strong>TAHAP PENDIDIKAN:</strong></td>
                <td>
                  <%= @mmb.edu %>
                </td>
              </tr>
              <tr>
                <td><strong>ALAMAT KEDIAMAN:</strong></td>
                <td>
                  <%= "#{@mmb.add1} #{@mmb.add2}" %><br>
                  <%= "#{@mmb.city}" %><br>
                  <%= "#{@mmb.postcode} #{@mmb.state}" %>
                </td>
              </tr>
              <tr>
                <td><strong>NAMA TASKA/PJKK:</strong></td>
                <td>
                  <%= "#{@mmb.ts_name}" %>
                </td>
              </tr>
              <tr>
                <td><strong>ALAMAT TASKA/PJKK:</strong></td>
                <td>
                  <%= "#{@mmb.ts_add1} #{@mmb.ts_add2}" %><br>
                  <%= "#{@mmb.ts_city}" %><br>
                  <%= "#{@mmb.ts_postcode} #{@mmb.ts_state}" %>
                </td>
              </tr>
              <tr>
                <td><strong>STATUS TASKA/PJKK:</strong></td>
                <td>
                  <%= "#{@mmb.ts_status}" %>
                </td>
              </tr>
              <tr>
                <td><strong>JAWATAN DI TASKA/PJKK:</strong></td>
                <td>
                  <%= "#{@mmb.ts_job}" %>
                </td>
              </tr>
              <tr>
                <td><strong>ORANG YANG BOLEH DIHUBUNGI:</strong></td>
                <td>
                  <%= "#{@mmb.ts_owner}" %>
                </td>
              </tr>
              <tr>
                <td><strong>NO TELEFON TASKA/PJKK:</strong></td>
                <td>
                  <%= "#{@mmb.ts_ph1}-#{@mmb.ts_ph2}" %>
                </td>
              </tr>
              <tr>
                <td><strong>EMAIL:</strong></td>
                <td>
                  <%= "#{@mmb.email}" %>
                </td>
              </tr>
              <tr>
                <td><strong>NO AHLI:</strong></td>
                <td>
                  <%= "#{@mmb.mmbid}" %>
                </td>
              </tr>
              <tr>
                <td><strong>TARIKH LUPUT</strong></td>
                <td>
                  <% if @mmb.expire.present? %>
                    <%= "#{@mmb.expire.strftime("%d-%m-%y")}" %>
                  <% end %>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<%= link_to mmb_pdf_path(id: @mmb.id, pdft: 1, format: :pdf), class: "btn btn-sm btn-success active" do %>
    <i class="fa fa-download"></i> CETAK PROFIL
<% end %><br><br>

Powered by&nbsp
<% image = Foto.all.where(foto_name: "KIDCARE FULL").first %>
  <% if image.picture.present? %>
    <a href="<%="#{image.picture.url}"%>" target="_blank">
      <% if @pdf %>
        <%= wicked_pdf_image_tag(image.picture.url, size: "87x30") %>
      <% else %>
        <%= image_tag(image.picture.url, size: "87x30") %>
      <% end %>
    </a>
  <% end %>
<strong>www.kidcare.my</strong>