<div class="row">

  <% if params[:type].blank? %>
    <% tp="ptns" %>
  <% else %>
    <% tp=params[:type] %>
  <% end %>
  <div class="col-sm-6 bg-white">
    <%= form_tag find_ptns_path, remote: true, method: :get, id: "find_kid" do %>
      <div class="form-group text-center col-md-12">
        <br><strong>MASUKKAN NO K/P UNTUK SEMAK PENDAFTARAN<br><br></strong>
        <div class="row">
          <div class="col-sm-4 col-4">
            <%= text_field_tag :ic1, params[:ic1], 
                    placeholder: "", 
                    maxlength: 6,
                    autofocus: true,
                    required: true,  
                    class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
          </div>-   
          <div class="col-sm-3 col-3">
            <%= text_field_tag :ic2, params[:ic2], 
                    placeholder: "", 
                    maxlength: 2, 
                    autofocus: true,
                    required: true,  
                    class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
          </div>- 
          <div class="col-sm-4 col-4">
            <%= text_field_tag :ic3, params[:ic3], 
                    placeholder: "", 
                    maxlength: 4,
                    autofocus: true,
                    required: true,  
                    class: "form-control search-box input-lg", style: "text-transform:uppercase" %>
          </div><br><br>
          
          <%= hidden_field_tag :tp, params[:tp], value: tp%>              
          <div class="col-md-12">
            <%= button_tag(type: :submit, class: "btn btn-sm btn-success active", id: "submit_expense") do %>
                <i class="fa fa-search"></i> CARI
            <% end %>
          </div>
        </div>
        <div id="result_kid">
          <%= render 'ptns_mmbs/result' %> 
        </div>
      </div>
    <%end%>
  </div><br>
  <div class="col-sm-1">
    <br>
  </div>
  <div class="col-sm-5 bg-white">
    <% if params[:type].blank? %>
      <%= render 'ptns_mmbs/descptns' %>
    <% elsif params[:type] == "kprm" %>
      <%= render 'ptns_mmbs/desckprm' %>
    <% end %>
  </div>
</div>

<br><br>
<div class="col-sm-6" style="background-color:blue">
  <font color="white"><h4>
    <% if params[:type].blank? %>
      BORANG PENDAFTARAN AHLI BAHARU DAN KEMASKINI KEAHLIAN PERSATUAN TASKA NEGERI SELANGOR (PTNS)
    <% elsif params[:type] == "kprm" %>
      BORANG PENDAFTARAN AHLI BAHARU DAN KEMASKINI KEAHLIAN KELAB REKSREASI PENGASUH MALAYSIA (KRPM)
    <% end %>
  </h4></font>
</div><br>

<%= render 'ptns_mmbs/form', tp: tp %>