<img src=<%= "#{$eventpt[params[:evid]][0]}" %> height="300px" width="300px" >
<br><br>
<h4>SENARAI PENDAFTARAN <%= "#{$eventpt[params[:evid]][1]}" %></h4>
<h5><%= @ptnsmmbs.count %> peserta</h5>

<%= link_to reg_listxls_path(evid: params[:evid], format: :xlsx), class: "btn btn-sm btn-info active" do %>
  <i class="fa fa-file-excel"></i> MUAT TURUN SENARAI
<% end %>

<%= render 'ptns_mmbs/reglist' %>