<div class='col-12 bg-white'><br>
  <h2 align="center">MAKLUMAT PROGRAM BENGKEL CIKGU ANiS</h2>
  <p align="center">
    <img src="<%= image_path('anis_head.png') %>" height="203px" width="700px" ><br>
    <strong><%= @college.name %></strong><br>
    <%= "#{@college.address} (#{@college.start.strftime("%d-%^b-%y")} to #{@college.end.strftime("%d-%^b-%y")})" %>
  </p><br><br>
  <!-- LINK OPEN LEARNING -->
  <h4><u>LAMAN OPEN LEARNING</u></h4>
  <%= link_to "Open Learning Asas Autisme", "https://www.openlearning.com/courses/ikurnia-asas-autisme/", style: "color:blue", target:"_blank" %><br>
  <%= link_to "Open Learning Asas Intervensi", "https://www.openlearning.com/courses/ikurnia-asas-intervensi/", style: "color:blue", target:"_blank" %><br>

  <br><br><!-- SENARAI SEMAK DOKUMEN -->
  <h4><u>SENARAI SEMAK DOKUMEN</u></h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th style="background-color:#d8b2d8"> NO </th>
          <th style="background-color:#d8b2d8"> SENARAI DOKUMEN </th>
          <th style="background-color:#d8b2d8"> CATATAN URUSETIA</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Borang Pendaftaran Cikgu ANIS</td>
          <td><i>Sila Lengkapkan Semua Maklumat Anda di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Salinan Kad Pengenalan</td>
          <td><i>Sila Muat Naik gambar yg JELAS muka depan dan belakang Kad Pengenalan Anda di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Surat Tawaran Bekerja (jika bekerja)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Salinan SSM (jika pemilik syarikat)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Salinan Perakuan JKM (TASKA Swasta)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Salinan Perakuan JPN/JAIS dll (TADIKA Swasta)</td>
          <td><i>Sila Muat Naik gambar/pdf yg JELAS di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>7</td>
          <td>
            Bukti Ada Menerima Anak Istimewa (sekiranya ada)
            <ul>
              <li>Kad JKM</li>
              <li>Surat Doktor</li>
              <li>Kad Rawatan</li>
              <li>Rekod Perkembangan</li>
            </ul>
          </td>
          <td><i>Sila daftarkan semua anak istimewa dibawah jagaan anda di Sistem KidCare dan bawa bersama dokumen-dokumen diatas (jika ada) untuk pengesahan urusetia semasa program</i></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Sijil Open Learning (Asas Autisme)</td>
          <td><i>Sila Muat Naik sijil di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Sijil Open Learning (Asas Intervensi)</td>
          <td><i>Sila Muat Naik sijil di Sistem KidCare</i></td>
        </tr>
        <tr>
          <td>9</td>
          <td>Gambar Anda</td>
          <td><i>Sila Muat Naik gambar anda yang jelas dan bersesuaian di Sistem KidCare</i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br><br><!-- SENARAI BARANG KEPERLUAN -->
  <h4><u>SENARAI BARANG KEPERLUAN</u></h4>
  <h5>Sila Pastikan Anda Bawa Bersama Barang-Barang Keperluan di bawah semasa Bengkel Cikgu ANiS</h5>
  <ol>
    <li>Pen, Pensil, Buku Note</li>
    <li>Gunting</li>
    <li>Gam</li>
    <li>Solatape/Double Sided Tape</li>
    <li>Stapler/Ubat Stapler</li>
    <li>Kertas Warna/A4</li>
    <li>Pembaris/Sharpener</li>
    <li>Barang-barang keperluan mandian</li>
    <li>Telekung & Sejadah</li>
    <li>Iron Baju (boleh share)</li>
    <li>Hanger Baju (baju dah iron)</li>
    <li>Baju Sejuk (Jika Perlu)</li>
    <li>Air Mineral/Botol Air</li>
  </ol>

  <br><!-- ETIKA PAKAIAN & TEMA -->
  <h4><u>ETIKA PAKAIAN & TEMA</u></h4>
  <b>Pakaian Sepanjang Program</b><br>
  -Formal atau Casual. Pemakaian jeans tidak digalakkan sama sekali<br><br>
  <b>Tema Pakaian Majlis Penutup</b><br>
  -<%= @college.thm %><br>

  <br><br><!-- JADUAL PROGRAM -->
  <h4><u>JADUAL PROGRAM</u></h4>
  <%= render 'colleges/schd', vw: 0 %>
</div><br>