<div class="card mb-3">
  <div class="card-header" style="background-color:#0050be">
    <h3 align="center" style="color:white"> WELCOME TO <%= @college.name %>'s PAGE <%= link_to "Edit Session", edit_college_path(@college), class: "btn btn-sm btn-success active" %> </h3>
    <div align="right">  
      <%= link_to "Create Course", new_course_path(college: @college.id), class: "btn btn-sm btn-warning active" %>
    </div>
  </div>
</div>

<% if @college.courses.present? %>
  <%= link_to "GENERATE REPORT", college_report_path(@college), class: "btn btn-sm btn-info", target: '_blank' %><br><br>
  <%= render 'colleges/schd' %>
  
<% else %>
  </br>
  No session created yet. 
<% end %>

<br>

<div class="card ">
  <div class="card-header">
    PARTICIPANT LIST FOR <b><%= @college.name.upcase %></b>
    <div class="pull-right">
      <%= link_to tchd_xls_path(id: @college.id, format: :xlsx), class: "btn btn-sm btn-info active" do %>
        <i class="fa fa-file-excel"></i> DOWNLOAD ALL DETAILS
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <%= form_for(:ans, :url => {:controller=>'colleges', :action=>'assg_clg'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>
      <table class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th style="background-color:#d8b2d8"> NO </th>
            <th style="background-color:#d8b2d8"> NAME (IC) </th>
            <th style="background-color:#d8b2d8"> ASSIGN SESSION </th> 
            <th style="background-color:#d8b2d8"> OTHER INFO </th>
            <th style="background-color:#d8b2d8"> EDIT INFO </th>  
          </tr>
        </thead>
        <tbody>
          <%= f.hidden_field :curr_clg, value: params[:college] %>
          <% cnt = 1 %>
            <% @tchdetails.order('name ASC').each do |tch| %>
              <tr>
                <td><%= cnt %></td>
                <td>
                  <%= "#{tch.name.upcase}" %><br>
                  <%= " (#{tch.ic_1}-#{tch.ic_2}-#{tch.ic_3})" %>
                </td>

                <%= f.fields_for :"#{tch.id}" do |h| %>
                  <td> <!-- CHOOSE COLLEGE-->
                    <%
                      if $anis2f.include?(@college.id) || $anis2.include?(@college.id)
                      clgls = College.where(id: ($anis2f+$anis2)).order('created_at DESC')
                      tp = "an2"
                      else
                        idcl = @owner.colleges.ids
                        clgls = College.where(id: idcl - ($anis2f+$anis2)).order('created_at DESC')
                        tp = "an1"
                      end  
                    %>
                    <%= h.select :college_ids, 
                        options_from_collection_for_select(clgls, :id, :name),{include_blank: "SELECT"} %>
                    <%= h.hidden_field :tp, value: tp %>
                    <%= link_to "EDIT", edit_tchdetail_path(id: tch.id, anis: tch.anis), class: "btn btn-sm btn-warning", target: "_blank" %>&nbsp
                    <%= link_to "VIEW", tchd_anis_path(id: tch.id), class: "btn btn-sm btn-info", target: "_blank" %> 
                  </td>
                  <td>
                    <b><%= tch.ts_name %></b><br>
                    <%= "#{tch.ts_address_1}, #{tch.ts_address_2}, #{tch.city}, #{tch.states}, #{tch.postcode}" %>
                  </td>
                  <td>
                    <b>DUN</b>
                    <%= h.select :dun, options_for_select($sel_dun, 
                                                          selected: tch.dun), 
                    {include_blank: "Select"}, {required: true} %>
                  </td>
                <% end %>

              </tr>
              <% cnt = cnt + 1 %>
            <% end %>
          
        </tbody>

      </table>
      <%= f.submit :"UPDATE",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
      <% end %>
    </div>
  </div>
</div>

<br><br>
<% 
  if @owner.id == 5
    anis = "true"
    anisl = "&anis=true"
  else
    anis = nil
  end 
%>
<strong>Registration Link</strong> = <%= link_to "#{new_tchdetail_url}?id=#{@college.id}#{anisl}", new_tchdetail_path(id: @college.id, anis: anis), style: "color:blue" %><br><br>







  