<div class="card mb-3">
  <div class="card-header" style="background-color:#0050be">
    <h3 align="center" style="color:white"> WELCOME TO <%= @college.name %>'s PAGE <%= link_to "Edit Agency", edit_college_path(@college), class: "btn btn-sm btn-success active" %> </h3>
    <div align="right">  
      <%= link_to "Create Course", new_course_path(@college), class: "btn btn-sm btn-warning active" %>
    </div>
  </div>
</div>

<% if @college.courses.present? %>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-th-list"></i>
      VIEWING ALL COURSES
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered" id="" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th> NAME </th>
              <th> DESCRIPTION </th>
              <th> PROGRAMS </th>
              <th> ACTION </th>
            </tr>
          </thead>
          <tbody>
            <% @college.courses.each do |course| %>
              <tr>
                <td><%= course.name %></td>
                <td><%= course.description %></td>
                <td>
                  <% course.anisprogs.each do |prog| %>
                    <strong>TOPIC :</strong> <%= prog.name %><br>
                    <strong>SPEAKER :</strong> <%= prog.lec %><br><br>
                  <% end %>
                </td>
                <td> 
                  <%= link_to "View", owner_course_path(course: course), class: "btn btn-sm btn-primary active" %> <!-- ID is for course -->
                  &nbsp
                  <%= link_to "Edit", edit_course_path(id: course, owner_id: @owner.id, college: params[:college]), class: "btn btn-sm btn-success active" %>
                </td>
              </tr>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

	
<% else %>
	</br>
	No courses present. Please create one. 
<% end %>

<br>

<div class="card ">
  <div class="card-header">
    PARTICIPANT LIST
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th style="background-color:#d8b2d8"> NAME </th>
            <th style="background-color:#d8b2d8"> IC NO </th>
          </tr>
        </thead>
        <tbody>
          <% @tchdetails.each do |tch| %>
          <tr>
            <td><%= tch.name %></td>
            <td><%= "#{tch.ic_1}-#{tch.ic_2}-#{tch.ic_3}"%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


  
<br><br>
<strong>Registration Link</strong> = <%= link_to "#{new_tchdetail_url}?id=#{@college.id}", new_tchdetail_path(id: @college.id), style: "color:blue" %><br><br>







	