<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th style="background-color:#d8b2d8"> CNT </th>
        <th style="background-color:#d8b2d8"> NAME </th>
        <th style="background-color:#d8b2d8"> IC </th> 
        <th style="background-color:#d8b2d8"> TRY CLG </th> 
        <th style="background-color:#d8b2d8"> TRY PROF </th> 
      </tr>
    </thead>
    <tbody>
      <%= form_for(:tch, :url => {:controller=>'colleges', :action=>'assg_clg'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
      <% cnt = 1 %>
        <% @tchdetails.order('name ASC').each do |tch| %>
          <tr>
            <td><%= cnt %></td>
            <td><%= tch.name.upcase %></td>
            <td><%= "#{tch.ic_1}-#{tch.ic_2}-#{tch.ic_3}"%></td>
            <%= f.fields_for :"#{tch.id}" do |h| %>
              <td>
                <%= tch.id %>
                <%= f.select :college_ids, 
                    options_from_collection_for_select(@owner.colleges, :id, :name),{include_blank: "SELECT SESSION"} %>
                <%= h.hidden_field :"tchd_id#{cnt}", value: tch.id %>
                <%= h.hidden_field :"mus_id#{cnt}", value: tch.id %>
              </td>
              <td>
                PROFILE
                <%= h.hidden_field :"second_id#{cnt}", value: tch.id %>
              </td>
            <% end %>
          </tr>
          <% cnt = cnt + 1 %>
        <% end %>
      <%= f.submit :"ASSIGN",  class: 'btn btn-sm btn-success btn-lg', style: "align:center" %>
      <% end %>
    </tbody>
  </table>
</div>