<h2> Welcome to <%= @college.name %>'s page </h2>

<div align="right">  
	<%= link_to "Edit College", edit_college_path(@college), class: "btn btn-sm btn-success active" %>
</div>

<div align="left">  
  <%= link_to "Create Course", new_course_path(@college), class: "btn btn-lg btn-primary active" %>
</div>

<% if @college.courses.present? %>
	<table class="table table-striped">
		<header>Viewing All Courses</header>
			<thead>

				<tr>
					<th> Name </th>
					<th> Description </th>
					<th> Base Fee (RM) </th>
					<th> No of students </th>
					<th> Pending Payments </th>
					<th> Action </th>
				</tr>
				<% @college.courses.each do |course| %>
					<tbody>
						<tr>
							<td><%= course.name %></td>
							<td><%= course.description %></td>
							<td><%= course.base_fee %></td>
							<td><%= course.teachers.count %></td>
							<td><%= link_to "#{course.payments.where(paid: false).count} unpaid bills ", 
                  "#", class: "btn btn-sm btn-danger active" %></td>
							<td> 
								<%= link_to "View", owner_course_path(course: course), class: "btn btn-sm btn-primary active" %> <!-- ID is for course -->
                &nbsp
                <%= link_to "Edit", edit_course_path(id: course, owner_id: @owner.id, college: params[:college]), class: "btn btn-sm btn-success active" %>
							</td>
						</tr>
					</tbody>
				<% end %>
			</thead>
		</table>
<% else %>
	</br></br>
	No courses present. Please create one. 
<% end %>
	