<div class="card mb-3">
  <div class="card-header" style="background-color:#ff7f7f">
    <h3 align="center" style="color:white"> 
      <%= @course.name %> for <%= @course.college.name %> 
      &nbsp&nbsp<%= link_to "VIEW REPORT",course_report_path(course: @course), class: "btn btn-sm btn-info active", target: "_blank" %>
    </h3>
  </div>
</div><br><br>

<div class="row">
  <div class="col-sm-8 bg-white">
    <h3>PROGRAMME LISTS</h3><br>
    <% @prog_list.each do |prog| %>
      <div class="card"><div class="card-body">
        <%= link_to "EDIT PROGRAMME", anisprog_edit_path(prog: prog, course: @course.id), class: "btn btn-sm btn-info" %><br><br>
        <div class="row">
          <div class="col-sm-3">
            <strong>TOPIC</strong>
          </div>
          <div class="col-sm-0">
            <strong>:</strong>
          </div>
          <div class="col-sm-8">
            <%= prog.name %><br>
          </div>    
        </div>
        <div class="row">
          <div class="col-sm-3">
            <strong>SPEAKER</strong>
          </div>
          <div class="col-sm-0">
            <strong>:</strong>
          </div>
          <div class="col-sm-8">
            <%= prog.lec %><br>
          </div>    
        </div>
        <div class="row">
          <div class="col-sm-3">
            <strong>DATE</strong>
          </div>
          <div class="col-sm-0">
            <strong>:</strong>
          </div>
          <div class="col-sm-8">
            <%= @course.start.strftime("%d-%m-%y") %><br>
          </div>    
        </div>
        <div class="row">
          <div class="col-sm-3">
            <strong>TIME START</strong>
          </div>
          <div class="col-sm-0">
            <strong>:</strong>
          </div>
          <div class="col-sm-8">
            <%= prog.start.strftime("%I:%M %p") %><br>
          </div>    
        </div>
        <div class="row">
          <div class="col-sm-3">
            <strong>TIME END</strong>
          </div>
          <div class="col-sm-0">
            <strong>:</strong>
          </div>
          <div class="col-sm-8">
            <%= prog.end.strftime("%I:%M %p") %><br>
          </div>    
        </div>
        <% if prog.name != "BREAK" %><div class="row">
          <div class="col-sm-3">
            <strong>PARTICIPATION</strong>
          </div>
          <div class="col-sm-0">
            <strong>:</strong>
          </div>
          <div class="col-sm-8">
            <% att = Anisatt.where(course_id: @course.id, anisprog_id: prog.id, att: true).count %>
            <%= link_to "#{att} / #{@college.tchdetails.count}", partc_prog_path(@course, prog: prog.id), class: 'btn btn-sm btn-primary', target: '_blank' %>
          </div>    
        </div><% end %> 
      </div></div><br> 
      
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3>CREATE NEW PROGRAMME</h3><br>
    <%= form_for(@progs, :url => {:controller=>'anisprogs', :action=>'anisprog_new'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
      <div class="control-label col-sm-12">
        <strong>TOPIC</strong>
        <%= f.text_field :name, class: "form-control", autofocus: true, required: true %><br>
      </div>
      
      <div class="control-label col-sm-12">
        <strong>LECTURER NAME</strong>
        <%= f.text_field :lec, class: "form-control", autofocus: true, required: true %><br>
      </div>
      
      <div class="control-label col-sm-12">
        <strong>START TIME</strong>
        <%= f.time_field :start, class: "form-control", autofocus: true, required: true %><br>
      </div>
      
      <div class="control-label col-sm-12">
        <strong>END TIME</strong>
        <%= f.time_field :end, class: "form-control", autofocus: true, required: true %><br>
      </div>
      

      <%= f.hidden_field :course_id, value: @course.id%>
      <%= f.submit :"CREATE NEW",  class: 'btn btn-sm btn-warning btn-lg', style: "align:center" %>
      <% end %>
  </div>
</div>
<br><br>

<br><%= link_to "BACK", show_owner_path(id: current_owner.id, college: @course.college.id), class: "btn btn-sm btn-success active" %>
<strong>Feedback Link</strong> = <%= link_to "#{anisfeed_pre_url}?id=#{@course.id}", anisfeed_pre_path(id: @course.id), style: "color:blue" %><br><br>


