
      <!-- BEGIN PAGE CONTAINER-->
      <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        
        <div class="clearfix"></div>
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-body no-border invoice-body">
                  <br>
                  <div class="pull-left"> <img src="https://scontent.fkul13-1.fna.fbcdn.net/v/t1.0-1/p200x200/17156052_1248953218519653_7287329490859392721_n.jpg?_nc_cat=104&_nc_ht=scontent.fkul13-1.fna&oh=0c89c8e53dde361a7be2778d5e88fda0&oe=5C7B689E" data-src="https://scontent.fkul13-1.fna.fbcdn.net/v/t1.0-1/p200x200/17156052_1248953218519653_7287329490859392721_n.jpg?_nc_cat=104&_nc_ht=scontent.fkul13-1.fna&oh=0c89c8e53dde361a7be2778d5e88fda0&oe=5C7B689E" data-src-retina="https://scontent.fkul13-1.fna.fbcdn.net/v/t1.0-1/p200x200/17156052_1248953218519653_7287329490859392721_n.jpg?_nc_cat=104&_nc_ht=scontent.fkul13-1.fna&oh=0c89c8e53dde361a7be2778d5e88fda0&oe=5C7B689E" width="100" height="100" class="invoice-logo" alt="">
                    <address>
              <strong>KIDS CAMPUS SDN BHD</strong><br>
              No. 2-1, Jalan Selendang 10/10, Seksyen 10 <br>
              40100 Shah Alam, Malaysia<br>
              <abbr title="Phone">Phone:</abbr> 013-350 8180
              </address>
                  </div>
                  <div class="pull-right">
                    <h2>INVOICE for <strong><%= @course.name %></strong></h2>
                  </div>
                  <div class="clearfix"></div>
                  <br>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-9">
                      <h4 class="semi-bold"><%= @teacher.username.upcase %></h4>
                      <h5 class="semi-bold"><%= @teacher.email %></h5>
                      <address>
                        <strong>No Address Provided</strong><br>
                        <br>
                        <br>
                        <abbr title="Phone">Phone:</abbr> No Phone Provided
                      </address>
                    </div>
                    <div class="col-md-3">
                      <br>
                      <div>
                        <div class="pull-left"> BILL ID : <%= @payment.bill_id %></div>
                        <div class="clearfix"></div>
                      </div>
                      <div>
                        <div class="pull-left"> BILL DATE : <%= @payment.created_at.strftime("%b %d, %Y") %></div>
                        <div class="clearfix"></div>
                      </div>
                      <div>
                        <div class="pull-left"> PAYMENT DATE : <%= @payment.updated_at.strftime("%b %d, %Y") %></div>
                        <div class="clearfix"></div>
                      </div>
                      <br>
                    </div>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-left">DESCRIPTION</th>
                        <th></th>
                        <th style="width:140px" class="text-right">AMOUNT (RM)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= @payment.description %></td>
                        <td></td>
                        <td class="text-right"><%= @payment.amount %></td>
                      </tr>
                      <tr>
                        <td colspan="0" rowspan="4">
                          <h4 class="semi-bold">terms and conditions</h4>
                          <p>Please make the payment based on the schedule provided by the owner</p>
                          </td>
                      </tr>
                      <tr>
                        <td class="text-right no-border"><strong>TAX</strong></td>
                        <td class="text-right">0.00</td>
                      </tr>
                      <tr>
                        <td class="text-right no-border">
                          <div class="well well-small green"><strong>TOTAL</strong></div>
                        </td>
                        <td class="text-right"><strong><%= @payment.amount %></strong></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <h5 class="text-right text-black">
                    <%= link_to "PAYBILLS", "#{$billplz}bills/#{@payment.bill_id}", target: "_blank", class: "btn btn-sm btn-danger active" %>
                  </h5>
                  <br>
                  <br>
                </div>
              </div>
            </div>
          <!--   <div class="col-md-1">
              <div class="invoice-button-action-set">
                <p>
                  <button class="btn btn-primary" type="button"><i class="fa fa-print"></i></button>
                </p>
                <p>
                  <button class="btn " type="button"><i class="fa fa-cloud-download"></i></button>
                </p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      
    </div>

<%= link_to "BACK", :back, class: "btn btn-sm btn-primary active"%>




    