<%= render partial: "shared/flash_messages", flash: flash %>
<% if @taskas.present? %>


  <% @taskas.each do |tsk| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="frontside">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <% image = tsk.fotos.where(foto_name: "CENTER LOGO").first %>
                <% if image.present? && image.picture.present? %>
                  <%= image_tag(image.picture.url, size: "100x100") %>
                <% end %>
              </p>
              <h4 class="card-title"><%= tsk.name.upcase %></h4><br>
              <p class="card-text">
                <%= "#{tsk.address_1}" %>
                <%= "#{tsk.address_2}" %><br>
                <%= "#{tsk.city} #{tsk.postcode}" %><br>
                <%= "#{tsk.states}" %><br>
              </p>
              <% if params[:kid_id].present? %>
                  <%= link_to "CHOOSE", add_taska_path(kid_id: params[:kid_id], taska_id: tsk.id, parent_id: @current_parent.id),method: :post, class: "btn btn-sm btn-info active" %>
              <% else %>
                <%= link_to "CHOOSE", new_kid_path(taska_id: tsk.id), class: "btn btn-sm btn-info active" %>
              <% end %>
              
              <br>
            </div>
          </div>
        </div>     
      </div>
  <% end %>


<% end %>