<h1> Welcome back <strong><%= @parent.username %></strong>!  </h1>

<div class="results-block col-md-12">
	<caption><h3>MY CHILDREN</h3></caption>
  <table class="table table-striped table-bordered">
    <thead>   	
      <tr>
        <th>NAME</th>
        <th>TASKA</th>
        <th>CLASS</th>
        <th>PENDING AMOUNT</th>
        <th>ACTION</th>

      </tr>
    </thead>

    <tbody><!-- from /view/classroom/show -->
    	<% @parent.kids.each do |child| %>
        <tr>
          <td><%= child.name %></td>
          <td><%= child.classroom.taska.name %></td>
          <td><%= child.classroom.classroom_name %></td>
          <td>RM 312.50</td>
          <td><%= link_to "Pay Bills", root_path, class: "btn btn-xs btn-primary active"%></td>
        </tr>
      <% end %>
        
    </tbody>
  </table>
</div>

<%= link_to "logout", destroy_parent_session_path, class: "btn btn-xs btn-danger active",method: :delete %>