<h1> Welcome back <strong><%= @parent.username %></strong>!  </h1>

<div class="results-block col-md-12">
	<caption><h3>MY CHILDREN</h3></caption>
  <%= link_to "Register Children", new_kid_path(@parent.id), class: "btn btn-lg btn-success active"%></br></br>

<div id="month-lookup"> <!-- From Finance Tracker views/users/myportfolio.html  -->
    <%= form_tag parents_view_bill_path(@parent), method: :get, id: "find_bills_for_parents" do %>
      <div class="form-group row no-padding text-center col-md-8">
            <div class="col-md-2">
              <%= select_tag :month, 
                options_for_select((1..12).step(1))%>
            </div>
            <div class="col-md-2">
              <%= select_tag :year, 
                options_for_select((2018..2025).step(1)) %>
            </div>
            <div >
                  <%= hidden_field_tag :taska_id, params[:parent_id], value: @parent.id %>
            </div>
            
            
            <div class="col-md-2">
              <%= button_tag(type: :submit, class: "btn btn-xs btn-success", id: "submit_expense") do %>
                  <i class="fa fa-search"></i> Search
              <% end %>
          </div>
          </div>
    <%end%>
  </div>