<div class="results-block col-md-12">
	<caption><h3>View Bills for <%= @kid.name %> (month: <%= params[:month]%> & year: <%= params[:year]%> ) </h3></caption>
	<% if @kid_bills.count > 0 %>
  <table class="table table-striped table-bordered">
    <thead>   	
      <tr>
        <th>MONTH</th>
        <th>YEAR</th>
        <th>AMOUNT</th>
        <th>PAYMENT</th>
        <th>ACTION</th>

      </tr>
    </thead>
    <tbody><!-- from /view/classroom/show -->
        <% @kid_bills.each do |bill| %>
        <tr>
          <td><%= bill.bill_month %></td>
          <td><%= bill.bill_year %></td>
          <td><%= bill.amount %></td>
          <% if bill.paid? %>
          	<td><button class="btn btn-xs btn-success active"> PAID </button></td>
          	<td><%= link_to "VIEW RECEIPTS", "#{$billplz_url}bills/#{bill.bill_id}", class: "btn btn-xs btn-success active", target: :_blank %></td>
          <% else %>
          	<td><button class="btn btn-xs btn-danger active"> UNPAID </button></td>
          	<td><%= link_to "PAY BILLS", 
          			parents_pay_bill_path(bill_id: bill.bill_id, 
          														taska_id: bill.kid.classroom.taska.id,
          														classroom_id: bill.kid.classroom.id),  
          			class: "btn btn-xs btn-danger active"%></td>
          <% end %>
           
        </tr>
        </tr>
        <% end %>
        
    </tbody>
  </table>
 <% else %>
 	<h1>No bills to display</h1></br>
 <% end %>
</div>