<%= link_to "Register New Children", index_parent_path(id: @parent.id), class: "btn btn-xs btn-primary active"%></br></br>

<% if @mykids.present? %>
  <div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-search"></i>
    VIEWING ALL CHILDREN
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th> N0 </th>
            <th> NAME </th>
            <th> TASKA </th>
            <th> CLASSROOM </th>
            <th> BILLS </th>
            <th> ACTION </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th> N0 </th>
            <th> NAME </th>
            <th> TASKA </th>
            <th> CLASSROOM </th>
            <th> BILLS </th>
            <th> ACTION </th>
          </tr>
        </foot>
        <tbody>
          <% counter = 1 %>
          <% @mykids.each do |kid|%>
            <tr>
              <td><%= counter %></td>
              <td><%= kid.name %></td>
              <% if kid.taska.present? %>
                <td>
                  <%= link_to "#{kid.taska.name.upcase}", "TASKA_SHOW_PAGE", style: "color:black", target: "_blank" %>
                </td>
                <% if kid.classroom.present? %>
                  <td><%= kid.classroom.classroom_name %></td>
                <% else %>
                  <td> Pending </td>
                <% end %>
              <% else %>
                <td>NA</td>
                <td>NA</td>
              <% end %>
              <% kid_pay = kid.payments.where(paid: false) %>
              <% if kid_pay.present? %>
                <td><%= link_to "#{kid_pay.count} UNPAID BILLS", root_path, class: "btn btn-sm btn-danger active" %>
                </td>
              <% elsif !kid.payments.present? %>
                <td>No bills created</td>
              <% else %>
                <td><%= link_to "VIEW RECEIPTS", root_path, class: "btn btn-sm btn-success active" %></td>
              <% end %>
              <td>
                <%= link_to "EDIT DETAILS", edit_kid_path(kid), class: "btn btn-sm btn-success active" %>
              </td>
            </tr>
          <% counter = counter + 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% else %>
  No student had signed up for this course
<% end %>