<%= link_to "Register New Children", index_parent_path(id: @parent.id), class: "btn btn-xs btn-primary active"%></br></br>

<% if @mykids.present? %>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-search"></i>
      ALL REGISTERED CHILDREN
    </div>
    <div class="bg-light"><br>
      <!-- Team -->
      <div class="container">
        <div class="row">
          <% @mykids.each do |kid|%>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="frontside">
                <div class="card">
                  <% kid_pay = kid.payments.where(paid: false) %>
                  <% if kid_pay.present? %>
                    <%= link_to "#{kid_pay.count} UNPAID BILLS", all_bills_path(@parent, kid_id: kid.id), class: "btn btn-sm btn-warning active" %>
                  <% end %>
                  <div class="card-body text-center">
                    <p>
                      <% image = kid.fotos.where(foto_name: "CHILDREN PICTURE").first %>
                      <% if image.present? && image.picture.present? %>
                        <%= image_tag(image.picture.url, size: "100x100") %>
                      <% end %>
                    </p>
                    <h4 class="card-title"><%= kid.name.upcase %></h4>
                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                    <% if kid.taska.present? %>
                        <%= link_to "#{kid.taska.name.upcase}", taska_page_path(kid.taska), style: "color:blue", target: "_blank" %>
                      <br>
                      <% if kid.classroom.present? %>
                        <%= kid.classroom.classroom_name %><br>
                      <% else %>
                         AWAITING CONFIRMATION FROM TASKA <br><br>
                      <% end %>
                    <% else %>
                      <%= link_to "ADD", index_parent_path(id: @parent.id, kid_id: kid.id), class: "btn btn-sm btn-danger active" %><br>
                      NA<br>
                    <% end %>
                    <%= link_to "EDIT DETAILS", edit_kid_path(kid), class: "btn btn-sm btn-primary active" %>
                    <br>
                  </div>
                  <%= link_to "VIEW RECEIPTS", all_bills_path(@parent, kid_id: kid.id), class: "btn btn-sm btn-success active" %>
                </div>
              </div>     
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% else %>
  You have not registered any children. 
<% end %>