<h2>Paying bills for <%= @kid.name %></h2>
<p>Please provide ratings and reviews before proceeding with payment</p></br>

<div id="month-lookup"> <!-- From Finance Tracker views/users/myportfolio.html  -->
    <%= form_tag parents_feedback_path, method: :get, id: "find_bills_for_parents" do %>

      <div class="form-group row no-padding col-md-8">
        <div class="col-md-12">
          <% data_form = "Taska_#{@kid.classroom.taska.id}" %>
          <% data_field = "taska_rating" %> <!--the field for the stars -->
          <h3><%= @kid.classroom.taska.name %></h3>   
              <% (1..5).each do |i| %>
                <h1 id="rating_<%= data_form %>_<%= i %>" 
                    data-form="<%= data_form %>" 
                    data-stars="<%= i %>" 
                    data-field="<%= data_field %>"
                    class="rating-star glyphicon glyphicon-star-empty">
                </h1>
              <% end %>
              <input type="checkbox" id="feedback">
              <%= hidden_field_tag :"#{data_field}" %>
              <%= text_area_tag :taska_review %>
        </div>

        <div class="col-md-12">
          <% data_form = "Classroom_#{@kid.classroom.id}" %>
          <% data_field = "classroom_rating" %> <!--the field for the stars -->
          <h3><%= @kid.classroom.classroom_name %></h3>
              <% (1..5).each do |i| %>
                <h1 id="rating_<%= data_form %>_<%= i %>" 
                    data-form="<%= data_form %>" 
                    data-stars="<%= i %>" 
                    data-field="<%= data_field %>"
                    class="rating-star glyphicon glyphicon-star-empty">
                </h1>
              <% end %>
              <%= hidden_field_tag :"#{data_field}" %>
              <%= text_area_tag :classroom_review %>
        </div>

            <div>
                  <%= hidden_field_tag :classroom_id, params[:classroom_id] %>
                  <%= hidden_field_tag :taska_id, params[:taska_id] %>
                  <%= hidden_field_tag :bill_id, params[:bill_id] %>
                  <%= hidden_field_tag :bill, params[:bill] %>
                  <%= hidden_field_tag :kid, params[:kid] %>
            </div></br></br>

        </div>
            <div class="col-md-8">
              <%= button_tag(type: :submit, 
              				 class: "btn btn-xs btn-success", 
              				 id: "submit_expense") do %>
                  <i class="fa fa-search"></i> Proceed to Pay
              <% end %>
          </div>
    <%end%>
  </div>