<h1>Pay Bill</h1>

<div id="month-lookup"> <!-- From Finance Tracker views/users/myportfolio.html  -->
    <%= form_tag parents_feedback_path, method: :get, id: "find_bills_for_parents" do %>
      <div class="form-group row no-padding text-center col-md-8">
            <div class="col-md-2">
              <%= select_tag :taska_rating, 
                options_for_select((1..5).step(1))%>
            </div>
            <div class="col-md-2">
              <%= select_tag :classroom_rating, 
                options_for_select((1..5).step(1)) %>
            </div>
            <div>
                  <%= hidden_field_tag :classroom_id, params[:classroom_id] %>
                  <%= hidden_field_tag :taska_id, params[:taska_id] %>
                  <%= hidden_field_tag :bill_id, params[:bill_id] %>
            </div>
            <div class="col-md-2">
              <%= button_tag(type: :submit, 
              				 class: "btn btn-xs btn-success", 
              				 id: "submit_expense") do %>
                  <i class="fa fa-search"></i> Proceed to Pay
              <% end %>
          </div>
        </div>
    <%end%>
  </div>