<div style="background-color:BLUE"><h5 align="center"><font color="white">
  ENTER CENTER NAME BELOW
</font></h5></div>
<%= form_tag prntfndtsk_path, remote: true, method: :get, id: "find_kid" do %>
  <div class="form-group text-center col-md-12">
    <div class="row">

      <div class="col-sm-8 col-12">
        <%= text_field_tag :tskname, params[:tskname] ,class: "form-control", autofocus: true, placeholder: "CENTER NAME", style: "text-transform:uppercase" %>
      </div>            
      <%= hidden_field_tag :kid_id, params[:kid_id], value: params[:kid_id] %>  
      <div class="col-md-3">
        <%= button_tag(type: :submit, class: "btn btn-m btn-success active", id: "submit_expense") do %>
            <i class="fa fa-search"></i> FIND
        <% end %>
      </div>
  </div><br>
    <div id="result_kid">
      <%= render 'parents/prntrsttsk' %> 
    </div>
  </div>
<%end%>
</div>