<% @tchapplvs.each do |lv| %>
  <div class="col-sm-4">
    <div class="frontside">
      <div class="card">

        <% stat = lv.stat %>
        <% if stat == "PENDING" %>
          <% clr = "#ffedcc" %>
        <% elsif stat == "APPROVED" %>
          <% clr = "#cce5cc" %>
        <% elsif stat == "REJECTED" %>
          <% clr = "#ffcccc" %>
        <% elsif stat == "QUERIED" %>
          <% clr = "#e5cce5" %>
        <% end %>

        <div class="col-lg-12" style="background-color:<%= clr %>; text-align:center">
          <strong><%= stat %></strong>
        </div>
        <div class='col-lg-12 well'><br>
          <h6 align="center"><%= kind = lv.kind %></h6><br>
        </div>
        <div class='col-lg-12'><br>
          <strong>START : </strong><%= lv.start.strftime("%d/%m/%y")%><br>
          <strong>END : </strong><%= lv.end.strftime("%d/%m/%y")%><br>
          <strong>TOTAL : </strong> <%= lv.tot %> day(s)<br><br>
          <strong>YOUR COMMENTS : </strong> <%= lv.tchdesc %><br><br>
          <strong>ADMIN COMMENTS : </strong> <%= lv.tskdesc %><br><br>
          <%= link_to "EDIT", tcheditlv_path(lv), class: "btn btn-sm btn-primary active" %>
          <%= link_to "DELETE", tchdeletelv_path(lv), method: :delete, class: "btn btn-sm btn-danger active", :data => {:confirm => 'Are you sure?'} %>

        </div>
      </div>
    </div>
  </div>
<% end %>



