<div class='row'>
	<div class='col-12'>
		<%= form_for(@expense, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    <% if params[:tp] == "INCOME" %>
      INCOME NEW 
    <% elsif params[:tp] == "EXPENSE" %>
      EXPENSE NEW
    <% end %>

      <div class="form-group"> <!-- type -->
        <div class="control-label col-sm-2">
          <strong>TYPE</strong>
        </div>
        <div class="col-sm-12">
          <%= f.select :kind, options_for_select(["INCOME","EXPENSE"], selected: @expense.kind), class: "form-control", required: true %>
        </div>
      </div>
			
			<div class="form-group"> <!-- name -->
				<div class="control-label col-sm-2">
					<strong>ITEM NAME</strong>
				</div>
				<div class="col-sm-6">
					<%= f.text_field :name, class: "form-control", autofocus: true, required: true %>
				</div>
			</div>

      <div class="form-group"> <!-- name -->
        <div class="control-label col-sm-2">
          <strong>ITEM DESCRIPTION</strong>
        </div>
        <div class="col-sm-6">
          <%= f.text_area :desc, class: "form-control", autofocus: true %>
        </div>
      </div>

			<div class="form-group"> <!-- cost -->
				<div class="control-label col-sm-2">
					<strong>AMOUNT(RM)</strong>
				</div>
				<div class="col-sm-6">
					<%= f.number_field :cost, rows: 10, class: "form-control", :step => 0.01, required: true %>
				</div>
			</div>

      

      <!-- <div class="form-group"> 
        <div class="control-label col-sm-2">
          <strong>DOCUMENTS</strong>
        </div>
        <div class="col-sm-12">
          <%= f.fields_for :fotos do |h| %>
            <%= h.hidden_field :foto_name, value: "EXPENSE DOC" %>
            <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png, application/pdf' %>
          <% end %>
        </div>
      </div> -->

      <!-- START NEW ENTRY -->
      <%
        if @expense.id.present?
          dt = @expense.dt
        else
          dt = Date.today
        end
      %>

      <div class="form-group"> <!-- ENTRY DATE -->
        <div class="control-label col-sm-2">
          <strong>DATE</strong>
        </div>
        <div class="col-sm-6">
          <%= f.date_field :dt, class: "form-control", autofocus: true, required: true, value: dt %>
        </div>
      </div>

      <div class="form-group"> <!-- COMPANY -->
        <div class="control-label col-sm-2">
          <strong>PERSON IN CHARGE</strong>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :coname, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group"> <!-- CATEGORY -->
        <div class="control-label col-sm-2">
          <strong>EMAIL</strong>
        </div>
        <div class="col-sm-6">
          <%= f.email_field :catg, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group"> <!-- CATEGORY -->
        <div class="control-label col-sm-2">
          <strong>PHONE NO</strong>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :ph, class: "form-control", autofocus: true %>
        </div>
      </div>

      <!-- END NEW ENTRY -->

      

      

				

			<%= f.hidden_field :taska_id, value: @taska.id %>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<%= f.submit "Submit", class: 'btn btn-primary btn-m' %>
				</div>
			</div>
		<% end %>
		
	</div>
</div>