
	<% if @expenses_search %>
		<% if @expenses_search.size > 0 %>
			<div id="friend-lookup-result" class="well results-block col-md-10">
				<%= link_to "Create New Expense", new_expense_path(params[:id]), class: "btn btn-xs btn-primary active" %></br></br>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Cost</th>
							<th>Month</th>
							<th>Year</th>
							<th>Taska Name</th>
							<th>Taska ID</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% total = 0 %>
						<% @expenses_search.each do |expense| %>
						<% total = total + expense.cost %>
						<tr>
							<td><%= expense.name %></td>
							<td><%= expense.cost %></td>
							<td><%= expense.month %></td>
							<td><%= expense.year %></td>
							<td><%= expense.taska.name %></td>
							<td><%= expense.taska_id %></td>
							<td><%= link_to "Delete", expense_path(expense), method: :delete, data: { confirm: "Are you sure you want to delete the expense?"},class: "btn btn-xs btn-danger" %></td>
							<td><%= link_to "Edit", edit_expense_path(expense),class: "btn btn-xs btn-primary" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div id="results" class="col-md-12">	
				<h3>Current Month Expense: <strong><%= total %></strong> </h3>
			</div>
		<% else %>	
			<div id="results" class="col-md-12">
				<h3> You dont have any expense for the selected month </h3>
				<%= link_to "Create New Expense", new_expense_path(params[:id]), class: "btn btn-xs btn-primary" %></br></br>
			</div>
		<% end %>	
	<% end %>




