<h1> Display </h1>

<div id="month-lookup"> <!-- From Finance Tracker views/users/myportfolio.html -->
	<%= form_tag search_expense_path, remote: true, method: :get, id: "find_expense" do %>
		<div class="form-group row no-padding text-center col-md-8">
      		<div class="col-md-4">
      			<%= text_field_tag :month,  params[:month], 
                    placeholder: "Stock ticker symbol", 
                    autofocus: true,  
                   	class: "form-control search-box input-lg" %>
      		</div>
      		<div class="col-md-4">
      			<%= text_field_tag :year, params[:year], 
                    placeholder: "Stock ticker symbol", 
                    autofocus: true,  
                   	class: "form-control search-box input-lg" %>
      		</div>
      		<div class="col-md-2">
        		<%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          			<i class="fa fa-search"></i> Search
        		<% end %>
    		</div>
      	</div>
	<%end%>

	<div id="results">
		  <%= render 'expenses/result' %> 
	</div>
</div>