<% month = params[:expense][:month].to_i %>
<% year = params[:expense][:year].to_i %>


<div class="container">
  <div class="row">

    <div class="bg-light col-sm-3">
      <h4>REPORTING FOR</h4><h3> 
      <% if month != 0 %>
        <%= "#{$month_name[month]}" %>-<%= year %>
      <% else %>
        ENTIRE <%= year %>
      <% end %>
      </h3></br>
      <%= form_for(:expense, :url => {:controller=>'expenses', :action=>'my_expenses'}, :html => {multipart: true, class: "form-horizontal", method: :get, role: "form"}) do |f| %>
        <%= f.select :month, 1..12, rows: 10, class: "form-control", :selected => month, :include_blank => "ALL" %>&nbspmth
        <%= f.select :year, 2016..2021, rows: 10, class: "form-control", :selected => year %>&nbspyr
          <%= f.submit :"SELECT",  class: 'btn btn-sm btn-warning btn-lg', style: "align:center" %>
      <% end %><br>
      
      <% if 1==1 %>
      <%= link_to unpaid_xls_path(@taska, paid: true, month: month, year: year, format: :xlsx), class: "btn btn-sm btn-success" do %>
        <i class="fa fa-file-excel"></i> PAID BILLS LIST
      <% end %><br><br>
      <%= link_to unpaid_xls_path(@taska, paid: false, month: month, year: year, format: :xlsx), class: "btn btn-sm btn-danger" do %>
        <i class="fa fa-file-excel"></i> UNPAID BILLS LIST
      <% end %><br><br>
      <% end %>

      <div class="bg-white">
        <%= pie_chart @payments_pie, colors: ["#ff6666","#66b266"], donut: true, legend: false, thousands: "," %>
      </div>
      <div class="row">
        <div class="col-sm-6" style="background-color:#66b266">
          <%= link_to bill_account_path(@taska, month: month, year: year, paid: true) do %>
            <h6 align="center"><font color="white">PAID (RM)</font></h6>
             <h5 align="center">
              <font color="white">
                <% if params[:expense][:month].present? %>
                  <% pay = @taska_payments.where(paid: true).sum(:amount) + @bills_partial %>
                <% else %>
                  <% 
                    pay = 0
                    (1..12).each do |mth|
                      pay += @bill_hash[mth] + @partial_hash[mth]
                    end
                  %>
                <% end %>
                <%= number_with_delimiter(pay, :delimiter => ',') %>
              </font>
             </h5>
          <% end %>
        </div>
        <div class="col-sm-6" style="background-color:#ff6666">
          <%= link_to bill_account_path(@taska, month: month, year: year, paid: false) do %>
            <h6 align="center"><font color="white">UNPAID (RM)</font></h6>
             <h5 align="center"><font color="white"><%= number_with_delimiter(@tot_unpaid, :delimiter => ',') %></font></h5>
          <% end %>
        </div>
      </div>




    </div>
    <div class="bg-white col-sm-0">
      &nbsp&nbsp
    </div>

    <div class="bg-light col-sm-6">
      <h3>ACCOUNTING SUMMARY <%= link_to pl_xls_path(@taska, month: month, year: year, format: :xlsx), class: "btn btn-sm btn-success active" do %>
        <i class="fa fa-file-excel"></i> DOWNLOAD SUMMARY 
      <% end %></h3><br>
      <% psltot = @taska_payslips.sum(:amtepfa).round(2) %>
      <% plntot = @taska_plan.sum(:amount).round(2) %>
      <div style="background-color:BLUE"><h2 align="center"><font color="white">
        <% nett=@taska_expense.where(kind: "INCOME").sum(:cost) - @taska_expense.where(kind: "EXPENSE").sum(:cost) + @taska_payments.where(paid: true).sum(:amount) - @taska_payslips.sum(:amtepfa).round(2) - plntot + @bills_partial.round(2) %>
        NETT: RM <%= number_with_delimiter(nett.round(2), :delimiter => ',') %>
      </div></font></h2>
      <div class="bg-white">
        <% exp = @taska_chart.order('kind DESC').group(:kind).sum(:cost) %>
        <% if exp["INCOME"] == nil %>
          <% exp["INCOME"] = 0 %>
        <% end %>
        <% exp["INCOME"] = exp["INCOME"] + @taska_payments.where(paid: true).sum(:amount) + @bills_partial %>
        <% if exp["EXPENSE"] == nil %>
          <% exp["EXPENSE"] = psltot + plntot %>
        <% else %>
          <% exp["EXPENSE"] = exp["EXPENSE"] + psltot + plntot %>
        <% end %>
        <%= bar_chart exp, colors: ["brown"]%>
      </div><br>
      <div style="background-color:GREEN"><h4 align="center"><font color="white">
        INCOME: RM <%= number_with_delimiter((@taska_expense.where(kind: "INCOME").sum(:cost)+@taska_payments.where(paid: true).sum(:amount).round(2)+ @bills_partial.round(2)), :delimiter => ',') %>
      </div></font></h4>
      <div style="background-color:red"><h4 align="center"><font color="white">
        EXPENSE: RM <%= number_with_delimiter(((@taska_expense.where(kind: "EXPENSE").sum(:cost)+ psltot + plntot).round(2)), :delimiter => ',') %>
      </div></font></h4><br>
      
      <% if month == 0 %>
        <%= render 'expenses/summ-yr' %>
      <% else %>
        <%= render 'expenses/summ-mth' %>
      <% end %>

      

    </div>
    <div class="bg-white col-sm-0">
      &nbsp&nbsp
    </div>
    <div class="bg-light col-sm-2">
      <% if month != 0 %>
        <h4>NEW ENTRY</h4>
        <% status = (@taska.expire.to_date - $my_time.to_date).to_i %>
        <% if status >=0 %>
          <%= render 'expenses/new' %>
        <% end %>
      <% else %>
        <br><br><h6>NOT AVAILABLE. PLEASE CHOOSE A MONTH.</h6>
      <% end %>
    </div>


  </div>
</div>












