<h1> New Expenses for <%= params[:id] %> </h1>

<div class='row'>
		<div class='col-xs-12'>
			<%= form_for(@expense, :html => {class: "form-horizontal", role: "form"}) do |f| %>
				
				<div class="form-group"> <!-- name -->
					<div class="control-label col-sm-2">
						<%= f.label :name %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :name, class: "form-control", placeholder: "Name of Expense", autofocus: true %>
					</div>
				</div>

				<div class="form-group"> <!-- cost -->
					<div class="control-label col-sm-2">
						<%= f.label :cost %>
					</div>
					<div class="col-sm-8">
						<%= f.number_field :cost, rows: 10, class: "form-control", :step => 0.01,placeholder: "Amount" %>
					</div>
				</div>
					<div class="form-group"> <!-- period -->
						<div class="row">
							<div class="control-label col-sm-2">
								<%= f.label :month %>
							</div>
							<div class="col-sm-4">
					
								<%= f.select :month, 1..12, rows: 10, class: "form-control", :selected => session[:month] %> <!--Date.today.month-->
								
									
								
							</div>
							<div class="control-label col-sm-2">
								<%= f.label :year %>
							</div>
							<div class="col-sm-4">
								<%= f.select :year, Date.today.year.. 8.years.from_now.year, rows: 10, class: "form-control", placeholder: "Month" %> <!-- Default current year -->
							</div>						
						</div>
					</div>
					
					<div class="col-md-4">
            			<%= f.hidden_field :taska_id, value: session[:taska_id] %>
         			</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<%= f.submit class: 'btn btn-primary btn-lg' %>
					</div>
				</div>
			<% end %>
			
		</div>
</div>

	

