<% if current_admin || current_parent || current_teacher || current_owner %>

  <li class="nav-item dropdown mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <% if current_teacher %>
        <button class="btn btn-sm btn-success active"> 
          Hi <%= @teacher.username.upcase %> ! 
        </button>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="/teacher_index">Back to Dashboard</a>
          <div class="dropdown-divider"></div>
          <p align="center"><%= link_to "LOGOUT", destroy_teacher_session_path, class: "btn btn-sm btn-danger active", method: :delete, :data => {:confirm => 'Are you sure to logout?'} %></p>
        </div>
      <% elsif current_admin %>
        <button class="btn btn-sm btn-success active"> 
          Hi <%= @admin.username.upcase %> ! 
        </button>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="/admin_index">Back to Dashboard</a>
          <div class="dropdown-divider"></div>
          <p align="center"><%= link_to "LOGOUT", destroy_admin_session_path, class: "btn btn-sm btn-danger active", method: :delete, :data => {:confirm => 'Are you sure to logout?'} %></p>
        </div>
      <% elsif current_parent %>
        <button class="btn btn-sm btn-success active"> 
          Hi <%= @parent.username.upcase %> ! 
        </button>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="/parent_index">Back to Dashboard</a>
          <div class="dropdown-divider"></div>
          <p align="center"><%= link_to "LOGOUT", destroy_parent_session_path, class: "btn btn-sm btn-danger active", method: :delete, :data => {:confirm => 'Are you sure to logout?'} %></p>
        </div>
      <% elsif current_owner %>
        <button class="btn btn-sm btn-success active"> 
          Hi <%= @owner.username.upcase %> ! 
        </button>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="/owner_index">Back to Dashboard</a>
          <div class="dropdown-divider"></div>
          <p align="center"><%= link_to "LOGOUT", destroy_owner_session_path, class: "btn btn-sm btn-danger active", method: :delete, :data => {:confirm => 'Are you sure to logout?'} %></p>
        </div>
      <% end %>
  </li>

<% else %>

  <li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <button class="btn btn-sm btn-danger active">LOGIN</button>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
      <a class="dropdown-item" href="/admin_index">Login as Taska Admin</a>
      <a class="dropdown-item" href="/parent_index">Login as Parent</a>
      <a class="dropdown-item" href="/teacher_index">Login as Teacher</a>
      <a class="dropdown-item" href="/owner_index">Login as Agency Owner</a>
    </div>
  </li>

<% end %>