<%= render 'layouts/dsb-teacher-head' %>


      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Overview <font size="2">(pending)</font></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacher/<%= @teacher.id %>/my_taska">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>My Taska </span>
          </a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="/teacher/<%= @teacher.id %>/my_college"> -->
            <a class="nav-link" href="#">
            <i class="fas fa-fw fa-graduation-cap"></i>
            <span>My Education<font size="2">(pending)</font></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-file-invoice-dollar"></i>
            <span>My Ratings <font size="2">(pending)</font></span>
          </a>
        </li>
      </ul>

      <div id="content-wrapper">
        <div class="container-fluid">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              Teacher Dashboard
            </li>
            <li class="breadcrumb-item active">My Education</li>
          </ol>
          <div class="bg-light">
            <div class="container">
              <div class="srow">
              <%= render partial: "shared/flash_messages", flash: flash %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>

<%= render 'layouts/dsb-admin-foot' %>


        
          

          
